<%= form_with(url: speaker_url, model: @speaker_form, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, '名前' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :profile, 'プロフィール(200文字程度)' %>
    <%= form.text_area :profile %>
  </div>

  <div class="field">
    <%= form.label :company, '会社名 / 所属団体名' %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :job_title, '肩書き' %>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <%= form.label :twitter_id, 'Twitter ID' %>
    <%= form.text_field :twitter_id %>
  </div>

  <div class="field">
    <%= form.label :github_id, 'GitHub ID' %>
    <%= form.text_field :github_id %>
  </div>

  <div class="field">
    <%= form.label :avatar, 'プロフィール画像' %>
    <%= form.file_field :avatar %>
  </div>


  <p>Talks:</p>
  <div class="talk-fields">
    <%= form.fields_for :talks do |talk| %>
      <%= render 'talk_fields', :f => talk, :conference => @conference %>
    <% end %>
  </div>

  <% if  action_name == "new" || form.object.talks.size < 3 %>
    <p><%= link_to_add_talk_fields "Add Talk", form, :talks, class: 'add-talk btn btn-primary' %></p>
  <% else %>
    <p><%= link_to_add_talk_fields "Add Talk", form, :talks, class: 'add-talk btn btn-primary', style: "display: none" %></p>
  <% end %>


  <div class="field">
    <%= form.hidden_field :conference_id, value: @conference.id %>
  </div>

  <%= markdown @conference.privacy_policy_for_speaker %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
