<%= form_with(url: speaker_url, model: @speaker_form, local: true) do |form| %>
  <section class="speaker-information py-3">
    <h3 class="py-3">スピーカー情報</h3>

    <div class="field pb-3">
      <%= form.label :name, '講演者氏名（英語表記） - Your Name' %>*
      <%= form.text_field :name, class: "form-control", required: true, placeholder: 'Taro Cloud' %>
    </div>

    <div class="field pb-3">
      <%= form.label :name_mother_tongue, '講演者氏名（漢字）- Name "kanji"' %>*
      <p class="field-description" style="font-size: 0.7em">If you do not have a Kanji name, please set "N/A"</p>
      <%= form.text_field :name_mother_tongue, class: "form-control", required: true, placeholder: 'クラウド 太郎' %>
    </div>

    <div class="field pb-3">
      <%= form.label :profile, '講演者プロフィール - Biography' %>*
      <p class="field-description" style="font-size: 0.7em">200文字程度 (About 400 letters)</p>
      <%= form.text_area :profile, class: "form-control", required: true %>
    </div>

    <div class="field pb-3">
      <%= form.label :company, '会社名/所属団体名 - Company/Organizations（★）' %>*
      <%= form.text_field :company, class: "form-control", required: true, placeholder: 'クラウドネイティブデイズ株式会社' %>
    </div>

    <div class="field pb-3">
      <%= form.label :job_title, '肩書き - Job Title' %>*
      <%= form.text_field :job_title, class: "form-control", required: true, placeholder: '凄腕エンジニア'  %>
    </div>

    <div class="field pb-3">
      <%= form.label :additional_documents, '過去の登壇実績が分かるスライド等 - Published Slides, etc.（★）' %>
      <%= form.text_area :additional_documents, class: "form-control", required: false, placeholder: "https://speakerdeck.com/\nhttps://www.slideshare.net/"  %>
    </div>

    <div class="field pb-3">
      <%= form.label :twitter_id, 'Twitter ID' %>
      <%= form.text_field :twitter_id, class: "form-control", placeholder: 'cloudnativedays'  %>
    </div>

    <div class="field pb-3">
      <%= form.label :github_id, 'GitHub ID' %>
      <%= form.text_field :github_id, class: "form-control", placeholder: 'cloudnativedaysjp'  %>
    </div>

  <div class="field pb-3">
      <%= form.label :avatar, '講演者写真 - Photographs' %>
    <!-- will be replaced by Uppy -->
    <%= form.text_field :avatar,
      type: :file,
      id: "avatar_upload",
      class: "form-control" %>

    <!-- for storing uploaded file data -->
    <%= form.text_field :avatar,
      type: :hidden,
      error_handler: false,
      class: "upload-data",
      value: @speaker.nil? ? "" : @speaker.cached_avatar_data %>
  </div>

  <div class="image-preview">
    <img src="<%= (@speaker.avatar_url(:large) || @speaker.avatar_url) unless @speaker.nil? %>" height="300" class="rounded" \>
  </div>

  </section>

  <section class="speaker-information py-3">
    <h3 class="py-3">セッション情報</h3>

    <div class="talk-fields">
      <%= form.fields_for :talks do |talk| %>
        <%= render 'speaker_dashboard/speakers/talk_fields', :f => talk, :conference => @conference %>
      <% end %>
    </div>

    <% if @conference.speaker_entry_enabled? || @sponsor || admin? %>
      <% if action_name == "new" || form.object.talks.size < 3 %>
        <p class="alert alert-info">追加ボタンを押すとセッションを最大3件まで登録できます。またエントリー後にダッシュボードから更新可能です。</p>
        <p><%= link_to_add_talk_fields "セッションを追加する", form, :talks, class: 'add-talk btn btn-primary' %></p>
      <% else %>
        <p><%= link_to_add_talk_fields "セッションを追加する", form, :talks, class: 'add-talk btn btn-primary', style: "display: none" %></p>
      <% end %>
    <% end %>
  </section>

  <section class="privacy">
    <div class="field py-3">
      <%= form.hidden_field :conference_id, value: @conference.id %>
      <%= markdown @conference.privacy_policy_for_speaker %>
    </div>
  </section>

  <div class="actions justify-content-center py-3">
    <%= form.submit class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
