<div class="card">
  <div class="card-header">
    <b>Profile</b>
    <%= link_to (image_tag "icons/pencil-square.svg"), edit_speaker_dashboard_speaker_path(id: @speaker.id, anchor: 'speaker') %>
  </div>
  <% if @speaker && @speaker.avatar_url.present? %>
  <%= image_tag @speaker.avatar_url(:large) || @speaker.avatar_url, size: '160x160', class: "mx-auto mt-3" %>
  <% end %>
  <h5 class="text-center"><%= speaker.name %></h5>
  <div class="card-body">
    <h5 class="card-title">プロフィール</h5>
    <div class="card-text"><%= simple_format speaker.profile %></div>

    <h5 class="card-title">会社名 / 所属団体名</h5>
    <div class="card-text"><%= speaker.company %></div>

    <h5 class="card-title">肩書き</h5>
    <div class="card-text"><%= speaker.job_title %></div>

    <h5 class="card-title">過去の登壇実績が分かるスライド等</h5>
    <div class="card-text"><%= simple_format speaker.additional_documents %></div>

    <h5 class="card-title">Twitter ID</h5>
    <div class="card-text"><%= speaker.twitter_id %></div>

    <h5 class="card-title">GitHub ID</h5>
    <div class="card-text"><%= speaker.github_id %></div>
  </div>
</div>