<% if f.object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h5>入力内容にエラーがあります:</h5>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="talk-field">

  <div class="field pb-3">
    <%= f.label :title, 'セッションタイトル（★★★）' %>*
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="field pb-3">
    <%= f.label :abstract, 'セッション概要（★★★）' %>
    <%= f.text_area :abstract, {class: "form-control"}  %>
  </div>

  <div class="field pb-3">
    <%= f.label :talk_difficulty_id, "受講者レベル（★★）" %>*
    <%= f.collection_select :talk_difficulty_id, @conference.talk_difficulties, :id, :name, {prompt: ""}, class: "form-control", required: true %>
  </div>

  <% if @conference.speaker_entry_disabled? %>
  <div class="field pb-3">
    <%= f.label :document_url, "セッション資料公開URL" %>
    <%= f.text_field :document_url, class: "form-control" %>
  </div>
  <% end %>

  <% @conference.proposal_item_configs.map(&:item_number).uniq.each do |item_number| %>
    <div class="field pb-3">
      <% first_item = @conference.proposal_item_configs.find_by(item_number: item_number) %>
      <% existing_items = f.object.persisted? ? f.object.proposal_items.find_by(label: first_item.label)&.params : []%>
      <%= label_tag "speaker_talks_attributes_#{f.options[:child_index]}_#{first_item.label}",  first_item.item_name, {class: 'form-check-label'}%>*
      <div class="form-check">
        <% @conference.proposal_item_configs.where(item_number: item_number).each do |item|%>
          <% label = item.label.pluralize.to_sym %>
          <% checked = existing_items ? existing_items.include?(item.id.to_s) : false%>
          <%= check_box_tag "speaker[talks_attributes][#{f.options[:child_index]}][#{label}][]", item.id, checked, {id: "speaker_talks_attributes_#{f.options[:child_index]}_#{label}", class: 'form-check-input'} %>
          <%= label label, item.params, {class: 'form-check-label'} %><br>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @sponsor %>
    <div class="field pb-3">
      <%= f.label :sponsor_session?, "スポンサーセッションですか？", {class: 'form-check-label'}%>
      <div class="form-check">
        <%= f.check_box :sponsor_session?, {class: 'form-check-input'}, true, false %>
        <%= f.label :sponsor_session?, 'はい', {class: 'form-check-label'} %><br>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :_destroy, class: "destroy_flag_field" %>
  <%= f.hidden_field :conference_id, value: @conference.id %>

  <% if @conference.speaker_entry_enabled? || admin? %>
    <%= link_to 'Delete Talk', '#', class: 'remove_talk_field text-right' %>
  <% end %>

  <hr>
</div>
