<div class="talk-field">

  <div class="field">
    <%= f.label :title, 'セッションタイトル（★★★）' %>*
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :abstract, 'セッション概要（★★★）' %>
    <%= f.text_area :abstract, {class: "form-control"}  %>
  </div>

  <div class="field">
    <%= f.label :talk_difficulty_id, "受講者レベル（★★）" %>*
    <%= f.collection_select :talk_difficulty_id, @conference.talk_difficulties, :id, :name, {prompt: ""}, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :document_url, "資料URL" %>
    <%= f.text_field :document_url, class: "form-control" %>
  </div>

  <%= f.hidden_field :_destroy, class: "destroy_flag_field" %>
  <%= f.hidden_field :conference_id, value: @conference.id %>

  <% if @conference.speaker_entry_enabled? || admin? %>
    <%= link_to 'Delete Talk', '#', class: 'remove_talk_field text-right' %>
  <% end %>

  <hr>
</div>
