<% if f.object&.errors&.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h5>入力内容にエラーがあります:</h5>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="talk-field">
  <% if f.object.persisted? %>
    <%= hidden_field_tag "speaker[talks_attributes][#{form_index}][id]", f.object.id %>
  <% end %>

  <div class="field pb-3">
    <%= label_tag "speaker_talks_attributes_#{form_index}_title", '講演タイトル - Abstract Title（★★★）', class: 'form-label' %>*
    <p class="field-description" style="font-size: 0.7em">（最大60文字）受講者の目を引くようなるべく具体的なテクノロジー名を含めることをおすすめします - (Maximum 60 characters) Include concrete technology names as possible to attract attendees</p>
    <%= text_field_tag "speaker[talks_attributes][#{form_index}][title]", f.object.title, class: "form-control", required: true %>
  </div>

  <div class="field pb-3">
    <%= label_tag "speaker_talks_attributes_#{form_index}_abstract", '講演内容 - Abstract（★★★）', class: 'form-label' %>
    <p class="field-description" style="font-size: 0.7em">（最大500文字）どんな人に向けた講演かこの講演によって受講者がどんな情報を得られるかを含めることをおすすめします - (Maximum 500 characters) Include a session for what kind of person, what kind of information the attendee can get</p>
    <%= text_area_tag "speaker[talks_attributes][#{form_index}][abstract]", f.object.abstract, class: "form-control abstract" %>
  </div>

  <% unless @conference.id == 15 %>
    <div class="field pb-3">
      <%= label_tag "speaker_talks_attributes_#{form_index}_talk_category_id", "主なカテゴリ - Main Category（★★）", class: 'form-label' %>*
      <p class="field-description" style="font-size: 0.7em">必ずしもCNCFのプロジェクトに関する内容でなくても問題ありません - It does not necessarily have to be content of the CNCF project</p>
      <%= collection_select nil, "speaker[talks_attributes][#{form_index}][talk_category_id]", @conference.talk_categories, :id, :name, {prompt: "", selected: f.object.talk_category_id}, class: "form-control talk-categories", required: true %>
    </div>
  <% end %>

  <div class="field pb-3">
    <%= label_tag "speaker_talks_attributes_#{form_index}_talk_difficulty_id", "受講者レベル - Audience Experience Level（★★）", class: 'form-label' %>*
    <%= collection_select nil, "speaker[talks_attributes][#{form_index}][talk_difficulty_id]", @conference.talk_difficulties, :id, :name, {prompt: "", selected: f.object.talk_difficulty_id}, class: "form-control", required: true %>
  </div>

  <% if @conference.speaker_entry_disabled? %>
  <div class="field pb-3">
    <%= label_tag "speaker_talks_attributes_#{form_index}_document_url", "セッション資料公開URL", class: 'form-label' %>
    <%= text_field_tag "speaker[talks_attributes][#{form_index}][document_url]", f.object.document_url, class: "form-control" %>
  </div>
  <% end %>

  <% @conference.proposal_item_configs.map(&:item_number).uniq.each do |item_number| %>
    <% first_item = @conference.proposal_item_configs.find_by(item_number: item_number) %>
    <% next unless first_item %>

    <%# conference_id: 15の場合、3カンファレンス関連のlabelをスキップ（専用UIで表示） %>
    <% three_conf_labels = ['target_conferences', 'cnd_category', 'cnd_assumed_visitor', 'pek_category', 'pek_assumed_visitor', 'srek_category', 'srek_assumed_visitor'] %>
    <% next if @conference.id == 15 && three_conf_labels.include?(first_item.label) %>

    <div class="field pb-3">

      <% if first_item.class.to_s == 'ProposalItemConfigCheckBox' %>
        <% existing_items = f.object&.persisted? ? f.object.proposal_items.find_by(label: first_item.label)&.params : []%>
        <%= label_tag "speaker_talks_attributes_#{form_index}_#{first_item.label}",  first_item.item_name, {class: 'form-check-label'}%>*
        <div class="form-check">
          <% @conference.proposal_item_configs.where(item_number: item_number).each do |item|%>
            <% label = item.label.pluralize.to_sym %>
            <% checked = existing_items ? existing_items.include?(item.id.to_s) : false%>
            <%= check_box_tag "speaker[talks_attributes][#{form_index}][#{label}][]", item.id, checked, {id: "#{label}_#{item.params}", class: 'form-check-input'} %>
            <%= label label, item.params, {class: 'form-check-label'} %><br>
          <% end %>
        </div>

      <% elsif first_item.class.to_s == 'ProposalItemConfigRadioButton' %>
        <% existing_items = f.object&.persisted? ? f.object.proposal_items.find_by(label: first_item.label)&.params : []%>
        <%= label_tag "speaker_talks_attributes_#{form_index}_#{first_item.label}[]",  first_item.item_name, {class: 'form-check-label'}%>*<br>
        <p class="field-description" style="font-size: 0.7em"><%= first_item.description&.html_safe %></p>
        <% @conference.proposal_item_configs.where(item_number: item_number).each do |item|%>
          <% label = first_item.label.pluralize.to_sym %>
          <% checked = existing_items ? existing_items.include?(item.id.to_s) : false%>
          <% classes = "radio_button_#{label}" %>
          <% case item.label %>
          <% when 'presentation_method' then %>
            <%= render 'speaker_dashboard/speakers/presentation_method', f: f, existing_items: existing_items, first_item: first_item, item: item, classes: classes, label: label, checked: checked, form_index: form_index %>
          <% when 'session_time' then %>
            <%= render 'speaker_dashboard/speakers/session_times', f: f, existing_items: existing_items, first_item: first_item, item: item, classes: classes, label: label, checked: checked, form_index: form_index %>
          <% else %>
            <%= radio_button_tag "speaker[talks_attributes][#{form_index}][#{label}]", item.id, checked, {required: true, class: classes, params: item.params, id: "#{label}_#{item.params}"} %>
            <%= label label, item.params, {class: 'form-check-label'} %><br>
          <% end %>
        <% end %>
      <% else %>
      <% end %>
    </div>
  <% end %>

  <%# === 3カンファレンス選択UI（conference_id: 15 のみ） === %>
  <% if @conference.id == 15 %>
    <% target_conf_configs = @conference.proposal_item_configs.where(label: 'target_conferences') %>
    <% first_item = target_conf_configs.first %>
    <% existing_target_conferences = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'target_conferences')&.params : [] %>
    <% existing_target_conferences ||= [] %>

    <div class="field pb-3">
      <%= label_tag "speaker_talks_attributes_#{form_index}_target_conferences", first_item.item_name, class: 'form-label' %>*
      <p class="field-description" style="font-size: 0.7em"><%= first_item.description&.html_safe %></p>

      <%# Cloud Native %>
      <% cnd_config = target_conf_configs.find { |c| c.params == 'Cloud Native' } %>
      <% if cnd_config %>
        <div class="form-check">
          <% checked = existing_target_conferences.include?(cnd_config.id.to_s) %>
          <%= check_box_tag "speaker[talks_attributes][#{form_index}][target_conferences][]",
                            cnd_config.id,
                            checked,
                            {
                              id: "target_conference_cloud_native_#{form_index}",
                              class: 'form-check-input target-conference-checkbox',
                              data: {
                                conference_type: 'cloud-native',
                                form_index: form_index
                              }
                            } %>
          <%= label_tag "target_conference_cloud_native_#{form_index}", cnd_config.params, class: 'form-check-label' %>
        </div>

        <div class="cnd-fields" data-form-index="<%= form_index %>" style="display: none; margin-left: 20px; margin-top: 10px;">
          <%# Cloud Native - カテゴリ %>
          <% cnd_category_configs = @conference.proposal_item_configs.where(label: 'cnd_category') %>
          <% cnd_category_first = cnd_category_configs.first %>
          <% cnd_existing_category = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'cnd_category')&.params : nil %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_cnd_categories", cnd_category_first.item_name, class: 'form-label' %>*
            <%= select_tag "speaker[talks_attributes][#{form_index}][cnd_categories]",
                          options_for_select(
                            [['選択してください', '']] + cnd_category_configs.map { |item| [item.params, item.id] },
                            cnd_existing_category
                          ),
                          {
                            class: 'form-control cnd-category-select',
                            required: false,
                            id: "cnd_category_select_#{form_index}"
                          } %>
          </div>

          <%# Cloud Native - 想定受講者 %>
          <% cnd_visitor_configs = @conference.proposal_item_configs.where(label: 'cnd_assumed_visitor') %>
          <% cnd_visitor_first = cnd_visitor_configs.first %>
          <% cnd_existing_visitors = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'cnd_assumed_visitor')&.params : [] %>
          <% cnd_existing_visitors ||= [] %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_cnd_assumed_visitors", cnd_visitor_first.item_name, class: 'form-label' %>*
            <div class="form-check">
              <% cnd_visitor_configs.each do |item| %>
                <% checked = cnd_existing_visitors.include?(item.id.to_s) %>
                <%= check_box_tag "speaker[talks_attributes][#{form_index}][cnd_assumed_visitors][]",
                                  item.id,
                                  checked,
                                  {
                                    id: "cnd_visitor_#{item.params.parameterize.underscore}_#{form_index}",
                                    class: 'form-check-input cnd-visitor-checkbox'
                                  } %>
                <%= label_tag "cnd_visitor_#{item.params.parameterize.underscore}_#{form_index}", item.params, class: 'form-check-label' %><br>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%# Platform Engineering %>
      <% pek_config = target_conf_configs.find { |c| c.params == 'Platform Engineering' } %>
      <% if pek_config %>
        <div class="form-check">
          <% checked = existing_target_conferences.include?(pek_config.id.to_s) %>
          <%= check_box_tag "speaker[talks_attributes][#{form_index}][target_conferences][]",
                            pek_config.id,
                            checked,
                            {
                              id: "target_conference_platform_engineering_#{form_index}",
                              class: 'form-check-input target-conference-checkbox',
                              data: {
                                conference_type: 'platform-engineering',
                                form_index: form_index
                              }
                            } %>
          <%= label_tag "target_conference_platform_engineering_#{form_index}", pek_config.params, class: 'form-check-label' %>
        </div>

        <div class="pek-fields" data-form-index="<%= form_index %>" style="display: none; margin-left: 20px; margin-top: 10px;">
          <%# Platform Engineering - カテゴリ %>
          <% pek_category_configs = @conference.proposal_item_configs.where(label: 'pek_category') %>
          <% pek_category_first = pek_category_configs.first %>
          <% pek_existing_category = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'pek_category')&.params : nil %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_pek_categories", pek_category_first.item_name, class: 'form-label' %>*
            <%= select_tag "speaker[talks_attributes][#{form_index}][pek_categories]",
                          options_for_select(
                            [['選択してください', '']] + pek_category_configs.map { |item| [item.params, item.id] },
                            pek_existing_category
                          ),
                          {
                            class: 'form-control pek-category-select',
                            required: false,
                            id: "pek_category_select_#{form_index}"
                          } %>
          </div>

          <%# Platform Engineering - 想定受講者 %>
          <% pek_visitor_configs = @conference.proposal_item_configs.where(label: 'pek_assumed_visitor') %>
          <% pek_visitor_first = pek_visitor_configs.first %>
          <% pek_existing_visitors = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'pek_assumed_visitor')&.params : [] %>
          <% pek_existing_visitors ||= [] %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_pek_assumed_visitors", pek_visitor_first.item_name, class: 'form-label' %>*
            <div class="form-check">
              <% pek_visitor_configs.each do |item| %>
                <% checked = pek_existing_visitors.include?(item.id.to_s) %>
                <%= check_box_tag "speaker[talks_attributes][#{form_index}][pek_assumed_visitors][]",
                                  item.id,
                                  checked,
                                  {
                                    id: "pek_visitor_#{item.params.parameterize.underscore}_#{form_index}",
                                    class: 'form-check-input pek-visitor-checkbox'
                                  } %>
                <%= label_tag "pek_visitor_#{item.params.parameterize.underscore}_#{form_index}", item.params, class: 'form-check-label' %><br>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%# SRE %>
      <% srek_config = target_conf_configs.find { |c| c.params == 'SRE' } %>
      <% if srek_config %>
        <div class="form-check">
          <% checked = existing_target_conferences.include?(srek_config.id.to_s) %>
          <%= check_box_tag "speaker[talks_attributes][#{form_index}][target_conferences][]",
                            srek_config.id,
                            checked,
                            {
                              id: "target_conference_sre_#{form_index}",
                              class: 'form-check-input target-conference-checkbox',
                              data: {
                                conference_type: 'sre',
                                form_index: form_index
                              }
                            } %>
          <%= label_tag "target_conference_sre_#{form_index}", srek_config.params, class: 'form-check-label' %>
        </div>

        <div class="srek-fields" data-form-index="<%= form_index %>" style="display: none; margin-left: 20px; margin-top: 10px;">
          <%# SRE - カテゴリ %>
          <% srek_category_configs = @conference.proposal_item_configs.where(label: 'srek_category') %>
          <% srek_category_first = srek_category_configs.first %>
          <% srek_existing_category = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'srek_category')&.params : nil %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_srek_categories", srek_category_first.item_name, class: 'form-label' %>*
            <%= select_tag "speaker[talks_attributes][#{form_index}][srek_categories]",
                          options_for_select(
                            [['選択してください', '']] + srek_category_configs.map { |item| [item.params, item.id] },
                            srek_existing_category
                          ),
                          {
                            class: 'form-control srek-category-select',
                            required: false,
                            id: "srek_category_select_#{form_index}"
                          } %>
          </div>

          <%# SRE - 想定受講者 %>
          <% srek_visitor_configs = @conference.proposal_item_configs.where(label: 'srek_assumed_visitor') %>
          <% srek_visitor_first = srek_visitor_configs.first %>
          <% srek_existing_visitors = f.object&.persisted? ? f.object.proposal_items.find_by(label: 'srek_assumed_visitor')&.params : [] %>
          <% srek_existing_visitors ||= [] %>

          <div class="field pb-2">
            <%= label_tag "speaker_talks_attributes_#{form_index}_srek_assumed_visitors", srek_visitor_first.item_name, class: 'form-label' %>*
            <div class="form-check">
              <% srek_visitor_configs.each do |item| %>
                <% checked = srek_existing_visitors.include?(item.id.to_s) %>
                <%= check_box_tag "speaker[talks_attributes][#{form_index}][srek_assumed_visitors][]",
                                  item.id,
                                  checked,
                                  {
                                    id: "srek_visitor_#{item.params.parameterize.underscore}_#{form_index}",
                                    class: 'form-check-input srek-visitor-checkbox'
                                  } %>
                <%= label_tag "srek_visitor_#{item.params.parameterize.underscore}_#{form_index}", item.params, class: 'form-check-label' %><br>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%# === 3カンファレンス選択UI ここまで === %>

  <% if @sponsor %>
    <%= hidden_field_tag "speaker[talks_attributes][#{form_index}][sponsor_id]", @sponsor.id %>
  <% end %>

  <%= hidden_field_tag "speaker[talks_attributes][#{form_index}][_destroy]", "false", class: "destroy_flag_field" %>
  <%= hidden_field_tag "speaker[talks_attributes][#{form_index}][conference_id]", @conference.id %>

  <% if @conference.speaker_entry_enabled? || admin? %>
    <%= link_to 'Delete Talk', '#', class: 'remove_talk_field btn btn-danger' %>
  <% end %>

  <hr>
</div>
