<% if f.object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h5>入力内容にエラーがあります:</h5>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="talk-field">

  <div class="field pb-3">
    <%= f.label :title, 'セッションタイトル（★★★）' %>*
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="field pb-3">
    <%= f.label :abstract, 'セッション概要（★★★）' %>
    <%= f.text_area :abstract, {class: "form-control"}  %>
  </div>

  <div class="field pb-3">
    <%= f.label :talk_difficulty_id, "受講者レベル（★★）" %>*
    <%= f.collection_select :talk_difficulty_id, @conference.talk_difficulties, :id, :name, {prompt: ""}, class: "form-control", required: true %>
  </div>

  <% if @conference.speaker_entry_disabled? %>
  <div class="field pb-3">
    <%= f.label :document_url, "セッション資料公開URL" %>
    <%= f.text_field :document_url, class: "form-control" %>
  </div>
  <% end %>

  <div class="field pb-3">
    <%= f.label :expected_participants, "想定受講者（★★）", {class: 'form-check-label'}%>*
    <div class="form-check">
      <% expected_participant_params.each do |item| %>
        <%= f.check_box :expected_participants, {multiple: true}, item.id,  {class: 'form-check-input'} %>
        <%= f.label :expected_participants, item.params, {class: 'form-check-label'} %><br>
      <% end %>
    </div>
  </div>

  <div class="field pb-3">
    <%= f.label :execution_phases, "実行フェーズ（★★）" %>*
    <div class="form-check">
      <% execution_phases_params.each do |item| %>
        <%= f.check_box :execution_phases, {multiple: true}, item.id, {class: "form-control"} %>
        <%= f.label :execution_phases, item.params, {class: 'form-check-label'} %><br>
      <% end %>
    </div>
  </div>

  <% if @sponsor %>
    <div class="field pb-3">
      <%= f.label :sponsor_session?, "スポンサーセッションですか？", {class: 'form-check-label'}%>
      <div class="form-check">
        <%= f.check_box :sponsor_session?, {class: 'form-check-input'}, true, false %>
        <%= f.label :sponsor_session?, 'はい', {class: 'form-check-label'} %><br>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :_destroy, class: "destroy_flag_field" %>
  <%= f.hidden_field :conference_id, value: @conference.id %>

  <% if @conference.speaker_entry_enabled? || admin? %>
    <%= link_to 'Delete Talk', '#', class: 'remove_talk_field text-right' %>
  <% end %>

  <hr>
</div>
