<div class="container">

  <div class="row speaker-dashboard-form p-md-4" id="speaker-landing">
    <div class="col-12 my-4">
      <h2 class="text-center">CloudNative Days Tokyo 2022で登壇してみませんか？</h2>
      <p>毎年実施しているCloudNative Days Tokyoを今年も11月21-22日に開催します！</p>
      <p>2021年11月に実施されたCloudNative Days Tokyo 2021は、登録者数2900人以上・セッション数70以上の国内最大級イベントとして2日間に渡り開催されました。</p>
      <p>クラウドネイティブを目指している組織・プロダクトは日々多くなり、世の中も変化し、多様な形で広がり続けています。</p>
      <p>セッション公募(CFP)に参加して、抱えている悩みや知見、皆さんの多様な考え方を CloudNative Days Tokyo という場所で共有してみませんか？</p>
      <h2 class="text-center">CloudNative Days Tokyo 2021(昨年度)のセッションの一例</h2>
      <ul>
        <li>クラウドネイティブが強み！イマドキの銀行システムの姿</li>
        <li>Kubernetes1.23リリースに備えよ！SIOS DXエンジニアが注目する1.22の新機能</li>
        <li>クラウドネイティブ × 持続可能なセルフサービス型データ分析ジョブプラットフォームの設計プラクティス</li>
        <li>Grafana Lokiで構築する1日20TBの大規模ログモニタリング基盤</li>
        <li>シングルテナント・マルチクラスタ vs マルチテナント・シングルクラスタ論争 決着のとき</li>
        <li>Amazon ECSではじめるConsul Service Mesh</li>
        <li>Argo CD Deep Dive</li>
        <li>「ホットペッパービューティー」美容クリニックでのSRE活動</li>
        <li>昨年度のすべてのセッション一覧は<a href="https://event.cloudnativedays.jp/cndt2021/talks" target="_blank">こちら</a></li>
      </ul>

      <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
      <ul>
        <li>オンラインカンファレンスの登壇が初めて</li>
        <li>動画の事前収録方法が分からない</li>
        <li>配信に関して不安がある</li>
      </ul>
      <p>皆様のご応募を心よりお待ちしています。</p>
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center">CloudNative Days Tokyo 2022のテーマ<br/>
      +Native 〜ともに広がるクラウドネイティブの世界〜<br/>
      </h2>
      <p>"CloudNative Days" は最新の活用事例や先進的なアーキテクチャを学べるのはもちろん、ナレッジの共有やディスカッションの場を通じて登壇者と参加者、参加者同士の繋がりを深め、初心者から熟練者までがともに成長できる機会を提供するテックカンファレンスです。</p>
      <p>世の中の在り方が広がっても、私たちはともに物理的・時間的な距離を乗り越えていきます。</p>
      <p>クラウドネイティブの世界が広がっても、私たちはともに新しい未知の道を開拓し続けていきます。 </p>
      <p>これまでもこれからも、広がり続けるクラウドネイティブにおいて、様々な人・会社・技術・考え方で目指す多様性を受け入れ、ともに時間を共有し、新しい地図を広げていきましょう。</p>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">エントリーの流れ</h2>
      <ol>
        <li>本ページから登壇者ポータルにログイン</li>
        <li>登壇内容を入力してエントリー</li>
        <li>エントリー終了後、実行委員会で選考</li>
        <li>登壇者ポータルで選考結果をご連絡</li>
      </ol>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">スケジュール</h2>
      <ul>
        <li>2022/10/10（月） CFPエントリー締め切り</li>
        <li>2022/10月中旬 選考結果をご連絡</li>
        <li>2022/11/21-22 CloudNative Days Tokyo 2022開催</li>
      </ul>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">登壇方法</h2>
      <ol>
        <li>現地会場（東京）での登壇（40分セッションのみ）</li>
        <li>ご自宅からのリアルタイム配信（40分セッションのみ）</li>
        <li>録画による配信（40分、もしくは20分。事前に録画データを提供いただきます）</li>
      </ol>
    </div>

    
    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <% if logged_in? %>
        <%= button_to 'エントリーする！', speakers_entry_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
      <% else %>
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
      <% end %>
      <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center">エントリーQ&A</h2>
      <h3>応募内容は公開されますか？</h3>
      <p>透明性確保のため申請いただいたセッション情報は公開を前提としていますが、SNSアカウントを除き、応募者の個人情報は公開されません。</p>

      <h3>CFPの選考はどのように行われますか？</h3>
      <p>Twitterでの反響、およびCloudNative Days Tokyo実行委員会による投票で絞り込みした上で、全体のバランスや多様性を考慮したディスカッションにより決定されます。詳細な選考方法については、<a href="https://cloudnativedays.medium.com/v18-12%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%83%97%E3%83%AD%E3%83%9D%E3%83%BC%E3%82%B6%E3%83%AB%E9%81%B8%E5%AE%9A%E3%83%95%E3%83%AD%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6-97c134b237a3">こちらのブログ</a>をご参照ください。</p>

      <h3>一人で複数の応募は可能でしょうか？</h3>
      <p>可能です。</p>

      <h3>複数名での応募は可能でしょうか？</h3>
      <p>可能です。エントリーにあたっては、代表者の方がお申し込みください。</p>

      <h3>セッションの長さはどのくらいですか？</h3>
      <p>20分（事前収録のみ） または 40分です。</p>

      <h3>選考の基準として重視される項目はなんですか？</h3>
      <p>記入欄に、採択への影響度を三段階で表示しています。記載された★マークが多いほど、考慮される度合いが高いです。</p>

      <h3>登壇者は東京会場への移動の必要性や、東京近辺の在住・勤務である必要はありますか？</h3>
      <p>東京会場での現地登壇の他、事前収録やオンライン登壇も可能なため、様々な地域から登壇することができます。居住地や勤務地などの制限は行っておりません。</p>
    </div>
    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <% if logged_in? %>
        <%= button_to 'エントリーする！', speakers_entry_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
      <% else %>
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
      <% end %>
      <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
    </div>
  </div>
</div>
