<% provide(:title, 'プロポーザル募集') %>

<div class="container">

  <div class="row speaker-dashboard-form p-md-4" id="speaker-landing">
    <div class="col-12 my-4">
      <h2 class="text-center">CloudNative Days Fukuoka 2023で登壇してみませんか？</h2>
      <p>CNDFはクラウドネイティブムーブメントを推進する目的で開催されるテックカンファレンスとして、2019年4月に福岡で初開催されました。今回は4年ぶりに復活し、前回以上にパワーアップして、オンラインと現地（オフライン）のハイブリッド形式で開催します！</p>
      <p>このカンファレンスは、アプリケーション開発者、インフラエンジニア、アーキテクトをはじめとするソフトウェアエンジニアが、クラウド技術についての最新の知見や、成功・失敗など現場での実践を共有する場です。特定の環境やプラットフォーム、ベンダーに依存することなく、可用性、スケーラビリティ、可観測性、開発生産性、開発者体験の向上など、「クラウドを使いこなす」ためのチャレンジを幅広くシェアしたいと考えています。また技術的知見だけでなく、チームマネジメントや人材育成など、組織論からのアプローチも歓迎します。</p>
      <p>CloudNative Days Fukuoka 2023のセッション公募(CFP)に参加して、ぜひあなたのチャレンジやや知見を共有してみませんか？</p>
      <p>例えば、このような発表をお待ちしております。</p>
      <ul>
        <li>アプリケーションやインフラ設計にクラウドの特性を生かす話</li>
        <li>CI/CDやテストなど、効率よく自動化する方法</li>
        <li>クラウドインフラの見える化や、障害時の回復性を向上する方法</li>
        <li>クラウドサービスのセキュリティ、DevSecOps</li>
        <li>クラウドでこういうことやっている、のような趣味開発ぽい話</li>
        <li>さまざまなエコシステムのデバッグ手法</li>
        <li>ガチでクラウドネイティブを実践している話</li>
        <li>組織をクラウドネイティブに変えた施策の話</li>
        <li>オンプレミスでクラウドの知見を実践する話</li>
        <li>など</li>
      </ul>

      <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
      <ul>
        <li>カンファレンスの登壇が初めて</li>
        <li>動画の事前収録方法が分からない</li>
      </ul>
      <p>皆様のご応募を心よりお待ちしています。</p>
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center">CloudNative Days Fukuoka 2023のテーマ<br/>
      “Unlearning” 〜 クラウドの『べき』を外して、新たな世界と繋がろう<br/>
      </h2>
      <p>業務でクラウドを利用していても、その真のパワーを活用できていないと感じている人は多いのではないでしょうか？一方で、高度なクラウド技術を持っているのに、自信が持てなかったり、自らの真価に気づいていない組織も多いのではないでしょうか。そこで、いったん「クラウドネイティブとはかくあるべき」という固定概念を外して、気軽にクラウド技術について語り合いませんか？クラウドやコンテナを使い倒したいインフラエンジニア、クラウドの可能性をもっと引き出したいアプリエンジニアが、知見や課題を共有しながら、新たな人や技術と繋がる場所を作りたいと考えています。</p>
      <p>そこで、CloudNative Days Japan Tour復活の第一弾として、先進IT・スタートアップコミュニティを擁する福岡の地でCNDF2023を開催します。福岡発で、現地だけでなくオンライン配信を通して、全国のクラウドコミュニティの活性化への貢献を目指します。</p>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">エントリーの流れ</h2>
      <ol>
        <li>本ページから登壇者ポータルにログイン</li>
        <li>登壇内容を入力してエントリー</li>
        <li>エントリー終了後、実行委員会で選考</li>
        <li>登壇者ポータルで選考結果をご連絡</li>
      </ol>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">スケジュール</h2>
      <ul>
        <li>2023/6/12（月） CFPエントリー締め切り</li>
        <li>2023/6月中旬 選考結果をご連絡</li>
        <li>2023/8/3 (木) CloudNative Days Fukuoka 2023開催</li>
      </ul>
    </div>

    <div class="col-12 my-4">
      <h2 class="text-center">登壇方法</h2>
      <ol>
        <li>現地会場（福岡・博多）での登壇（40分）</li>
        <li>録画による配信（40分。事前に録画データを提供いただきます）</li>
      </ol>
    </div>


    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <% if logged_in? %>
        <%= button_to 'エントリーする！', speakers_entry_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
      <% else %>
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
      <% end %>
      <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center">エントリーQ&A</h2>
      <h3>応募内容は公開されますか？</h3>
      <p>透明性確保のため申請いただいたセッション情報は公開を前提としていますが、SNSアカウントを除き、応募者の個人情報は公開されません。</p>

      <h3>CFPの選考はどのように行われますか？</h3>
      <p>Twitterでの反響、およびCloudNative Days Fukuoka実行委員会による投票で絞り込みした上で、全体のバランスや多様性を考慮したディスカッションにより決定されます。詳細な選考方法については、<a href="https://cloudnativedays.medium.com/v18-12%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%83%97%E3%83%AD%E3%83%9D%E3%83%BC%E3%82%B6%E3%83%AB%E9%81%B8%E5%AE%9A%E3%83%95%E3%83%AD%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6-97c134b237a3">こちらのブログ</a>をご参照ください。</p>

      <h3>一人で複数の応募は可能でしょうか？</h3>
      <p>可能です。ただし、採択は１件に限ります。</p>

      <h3>複数名での応募は可能でしょうか？</h3>
      <p>可能です。エントリーにあたっては、代表者の方がお申し込みください。</p>

      <h3>セッションの長さはどのくらいですか？</h3>
      <p>40分です。</p>

      <h3>選考の基準として重視される項目はなんですか？</h3>
      <p>記入欄に、採択への影響度を三段階で表示しています。記載された★マークが多いほど、考慮される度合いが高いです。</p>

      <h3>登壇方法は選択できますか？</h3>
      <p>はい。採択された登壇者は、以下の2つから登壇方法を選ぶことが出来ます。</p>
      <li>現地会場（福岡）でのリアルタイム登壇</li>
      <li>録画による配信（事前に録画データを提供いただきます）</li>
      <p>※ 今回、ご自宅からのリアルタイム配信は選択できません。</p>

      <h3>登壇者は福岡会場への移動の必要性や、福岡近辺の在住・勤務である必要はありますか？</h3>
      <p>現地登壇を選択された方は、福岡会場ににお越し頂く必要があります。事前収録を選択された方は、必ずしも現地参加を行う必要はありません。また、居住地や勤務地などの制限は行っておりません。</p>
    </div>
    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <% if logged_in? %>
        <%= button_to 'エントリーする！', speakers_entry_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
      <% else %>
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
      <% end %>
      <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
    </div>
  </div>
</div>
