<div class="container">

  <% if logged_in? %>
    <%= render 'form_outer', speaker: @speaker %>
  <% else %>
    <div class="row speaker-dashboard-form p-md-4" id="speaker-landing">
      <div class="col-12 my-4">
        <h2 class="text-center">CI/CD Conference 2021で登壇してみませんか？</h2>
        <p>クラウドネイティブなアプリケーション開発を実現する上で、CI/CDは欠かせない要素の一つです。<br />
          自分たちのチームやプロダクトにとって最適なCI/CDの形とはなんだろう。こうした究極の問いは、我々実行委員も含め多くのエンジニアが課題に感じているのではないかと思います。例えば、テストの効率的な回し方、チームに適したブランチ戦略、作ったCI/CDパイプラインのリファクタリングなど、悩みは尽きないですよね！
        </p>
        <p>
          そこで、<b>2021年9月3日</b>に、CloudNative Daysの特別編として、<b>CI/CD Conference 2021 by CloudNative Days</b>を開催します。CI/CD Conferenceのセッション公募(CFP)に参加して、抱えていた悩みや知見を共有してみませんか？
        </p>
        <h4 class="pt-3">セッションの例</h4>
        <ul>
          <li>アプリケーション開発者だったけどCI/CD基盤を自分達で構築した話</li>
          <li>アプリケーション開発に導入したツールをCI/CDパイプラインに組み込んだ話</li>
          <li>インフラチームが作ったCI/CD基盤の改善点を洗い出してみる話</li>
        </ul>
        <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
        <ul>
          <li>オンラインカンファレンスの登壇が初めて</li>
          <li>動画の事前収録方法が分からない</li>
          <li>配信に関して不安がある</li>
        </ul>
        <p>皆様のご応募を心よりお待ちしています。</p>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">CI/CD Conference 2021のテーマ<br/>Continuous 〜 技術を知り、試し、取り入れる 〜</h2>
        <p>CI/CD Conference 2021は、以下の3つのポイントにフォーカスします。</p>
        <ul>
          <li>CI/CDのツール、設計、手法の比較や実際の導入事例などを通して、技術を知る</li>
          <li>チュートリアルやハンズオンを通して、学んだ技術を試す</li>
          <li>実際に自分たちの組織に技術を取り入れ、実践する</li>
        </ul>
        <div class="row">
          <%= image_tag('cicd2021/continuous_loop.png', class: "col-8 offset-2 col-sm-4 offset-sm-4") %>
        </div>
        <p>これらを繰り返していくことで、徐々に知見を広げ、既存の仕組みを改善し続けることができます。</p>
        <p>もちろん、参加者だけでなく登壇者にもメリットがあります。
登壇者は、Ask the speaker、SNS、アンケートの結果などを通して参加者から得られたフィードバックを、既存の仕組みの改善に活かすことができます。
</p>
        <div class="row">
          <%= image_tag('cicd2021/continuous_loop_speaker.png', class: "col-8 offset-2 col-sm-4 offset-sm-4") %>
        </div>
        <p>こうした取り組みの中で生まれた新たな知見が、次の技術の学びと導入のきっかけとなります。このサイクルを継続的に回していくことが、エンジニア個人と組織、ひいてはクラウドネイティブコミュニティの成長にも繋がると私達は考えます。</p>
        <p>これからCI/CDを整備していくチーム、CI/CDのさらなる改善を目指すチームなど、サイクルをこなしてきた数は、組織によって様々かもしれません。それぞれの立ち位置に応じた、学びと実践の機会になることが、CI/CD Conference 2021の目標です。</p>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">エントリーの流れ</h2>
        <ol>
          <li>本ページから登壇者ポータルにログイン</li>
          <li>登壇内容を入力してエントリー</li>
          <li>エントリー終了後、実行委員会で選考</li>
          <li>メールで選考結果をご連絡</li>
        </ol>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">スケジュール</h2>
        <ul>
          <li>2021/6/30（水）	CFPエントリー締め切り</li>
          <li>2021/7月前半		選考結果をご連絡</li>
          <li>2021/9/3 (金)		CI/CD Conference開催</li>
        </ul>
      </div>
      <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
        <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">エントリーQ&A</h2>
        <h3>応募内容は公開されますか？</h3>
        <p>透明性確保のため申請いただいたセッション情報は公開を前提としていますが、SNSアカウントを除き、応募者の個人情報は公開されません。</p>

        <h3>CFPの選考はどのように行われますか？</h3>
        <p>Twitterでの反響、およびCNDT2021実行委員会による投票で絞り込みした上で、全体のバランスや多様性を考慮したディスカッションにより決定されます。詳細な選考方法については、<a href="https://cloudnativedays.medium.com/v18-12%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%83%97%E3%83%AD%E3%83%9D%E3%83%BC%E3%82%B6%E3%83%AB%E9%81%B8%E5%AE%9A%E3%83%95%E3%83%AD%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6-97c134b237a3">こちらのブログ</a>をご参照ください。</p>

        <h3>一人で複数の応募は可能でしょうか？</h3>
        <p>可能です。</p>

        <h3>複数名での応募は可能でしょうか？</h3>
        <p>可能です。エントリーにあたっては、代表者の方がお申し込みください。</p>

        <h3>セッションの長さはどのくらいですか？</h3>
        <p>40分です。</p>

        <h3>選考の基準として重視される項目はなんですか？</h3>
        <p>記入欄に、採択への影響度を三段階で表示しています。記載された★マークが多いほど、考慮される度合いが高いです。</p>

        <h3>登壇方法は選択できますか？</h3>
        <p>はい。採択された登壇者は、以下の2つから登壇方法を選ぶことが出来ます。<br/>
        (1) ご自宅からのリアルタイム配信<br/>
        (2) 録画による配信（事前に録画データを提供いただきます）
        </p>
      </div>
      <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
        <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
      </div>
    </div>
  <% end %>
</div>
