<div class="container">

  <% if logged_in? %>
    <%= render 'form_outer', speaker: @speaker %>
  <% else %>
    <div class="row speaker-dashboard-form p-md-4" id="speaker-landing">
      <div class="col-12 my-4">
        <h2 class="text-center">CloudNative Days Tokyo 2021で登壇してみませんか？</h2>
        <p>毎年実施しているCloudNative Days Tokyoを今年も11月4-5日に開催します！</p>
        <p>2020年9月に実施されたCloudNative Days Tokyo 2020は、登録者数3500人以上・セッション数70以上の国内最大級イベントとして2日間に渡り開催されました。</p>
        <p>この一年、クラウドネイティブという言葉はより浸透し、広がりを見せ、各自がそれぞれの思いでクラウドネイティブの道を探索しているかと思います。私達はそれを旅路と捉え、今年のテーマとして掲げることにしました。</p>
        <p>セッション公募(CFP)に参加して、抱えている悩みや知見を CloudNative Days Tokyo という場所で共有してみませんか？</p>

        <h4 class="pt-3">CloudNative Days Tokyo 2020(昨年度)のセッションの一例</h4>
        <ul>
          <li>モノリスからクラウドネイティブへ - 設計思想の違いを知り乗り越える</li>
          <li>どうやって決める？kubernetesでのシークレット管理方法</li>
          <li>基礎から学ぶ！アプリケーション開発者のためのKubernetes入門</li>
          <li>How to Schedule Machine Learning Workloads Nicely In Kubernetes</li>
          <li>Cloud Native環境におけるエンタープライズシステムに対する高可用性実現への取り組み</li>
          <li>AI 翻訳サービスを FaaS ＆ コンテナ化して UX とコストを改善した話</li>
          <li>Windowsコンテナってどんな感じ？</li>
          <li>昨年度のすべてのセッション一覧は<a href="https://event.cloudnativedays.jp/cndt2020/talks">こちら</a></li>
        </ul>
        <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
        <ul>
          <li>オンラインカンファレンスの登壇が初めて</li>
          <li>動画の事前収録方法が分からない</li>
          <li>配信に関して不安がある</li>
        </ul>
        <p>皆様のご応募を心よりお待ちしています。</p>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">CloudNative Days Tokyo 2021のテーマ<br/>＋Native 〜ともに繋げるクラウドネイティブの世界〜</h2>
        <p>"CloudNative Days" は最新の活用事例や先進的なアーキテクチャを学べるのはもちろん、ナレッジの共有やディスカッションの場を通じて登壇者と参加者、参加者同士の繋がりを深め、初心者から熟練者までが共に成長できる機会を提供するテックカンファレンスです。</p>
        <p>今日、多くの技術者、コミュニティ、企業がクラウドネイティブを目指す旅路を歩んでいます。</p>
        <p>それぞれの旅路において、拾い集めた様々な経験、知識、疑問、悩みを共有する"交差点"にして欲しい、そんな思いが"CloudNative Days" には込められています。</p>
        <p>まだ旅への一歩を踏み出せていない人も、再び旅に出る人も、この"交差点"に集まることで過去を振り返りながら新たなクラウドネイティブの旅をともに歩み進めることができると私達は信じています。</p>
        <p>旅をする準備をしませんか？ "交差点"で会えるのを楽しみにしています。</p>
      </div>

      <div class="col-12 my-4">
        <h2 class="text-center">エントリーの流れ</h2>
        <ol>
          <li>本ページから登壇者ポータルにログイン</li>
          <li>登壇内容を入力してエントリー</li>
          <li>エントリー終了後、実行委員会で選考</li>
          <li>メールで選考結果をご連絡</li>
        </ol>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">スケジュール</h2>
        <ul>
          <li>2021/9/8（水） CFPエントリー締め切り</li>
          <li>2021/9月中旬 選考結果をご連絡</li>
          <li>2021/11/4 (木) - 5 (金) CloudNative Days Tokyo 2021開催</li>
        </ul>
      </div>
      <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
        <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
      </div>
      <div class="col-12 my-4">
        <h2 class="text-center">エントリーQ&A</h2>
        <h3>応募内容は公開されますか？</h3>
        <p>透明性確保のため申請いただいたセッション情報は公開を前提としていますが、SNSアカウントを除き、応募者の個人情報は公開されません。</p>

        <h3>CFPの選考はどのように行われますか？</h3>
        <p>Twitterでの反響、およびCNDT2021実行委員会による投票で絞り込みした上で、全体のバランスや多様性を考慮したディスカッションにより決定されます。詳細な選考方法については、<a href="https://cloudnativedays.medium.com/v18-12%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%83%97%E3%83%AD%E3%83%9D%E3%83%BC%E3%82%B6%E3%83%AB%E9%81%B8%E5%AE%9A%E3%83%95%E3%83%AD%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6-97c134b237a3">こちらのブログ</a>をご参照ください。</p>

        <h3>一人で複数の応募は可能でしょうか？</h3>
        <p>可能です。</p>

        <h3>複数名での応募は可能でしょうか？</h3>
        <p>可能です。エントリーにあたっては、代表者の方がお申し込みください。</p>

        <h3>セッションの長さはどのくらいですか？</h3>
        <p>20分 または 40分です。</p>

        <h3>選考の基準として重視される項目はなんですか？</h3>
        <p>記入欄に、採択への影響度を三段階で表示しています。記載された★マークが多いほど、考慮される度合いが高いです。</p>

        <h3>登壇方法は選択できますか？</h3>
        <p>はい。採択された登壇者は、以下の3つから登壇方法を選ぶことが出来ます。<br/>
        (1) 現地会場（東京）でのリアルタイム登壇 <span style="font-size: x-small">※コロナウイルス感染状況によっては、「ご自宅からのリアルタイム配信」のみとさせて頂く場合がございますのでご了承ください</span><br/>
        (2) ご自宅からのリアルタイム配信<br/>
        (3) 録画による配信（事前に録画データを提供いただきます）<br/>
        </p>

        <h3>登壇者は東京会場への移動の必要性や、東京近辺の在住・勤務である必要はありますか？</h3>
        <p>居住地や勤務地などの制限は行っておりません。オンライン配信なども可能なため、様々な地域から参加しやすくなっております。</p>
      </div>
      <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
        <%= button_to 'エントリーする！', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
        <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
      </div>
    </div>
  <% end %>
</div>
