<div class="col">
  <h5>
    <%= speaker.name %>
    <%= speaker.twitter_link %>
    <%= speaker.github_link %>
  </h5>
  <h6 class="card-subtitle text-muted mb-1">
    <%= speaker.company if speaker.company != "" %>
  </h6>
  <h6 class="card-subtitle text-muted mb-1">
    <%= speaker.job_title if speaker.job_title != "" %>
  </h6>

  <% if speaker.profile != "" %>
    <p class="card-text"><%= speaker.profile %></p>
  <% end %>
</div>
