<div class="row">
  <div class="col-12">
    <div class="talk">

      <h3>
        <%= talk.title %>
        <%= render 'talks/partial_show/twitter_share_button', hash_tag: conference.abbr.upcase %>
        <%= render 'talks/partial_show/facebook_share_button', url: request.original_url %>
      </h3>
      <h4>
        <% if talk.start_time.present? && 
              talk.end_time.present? &&
              talk.conference_day.present? %>
          Track <%= talk.track.name %> 
          <%= talk.conference_day.date.strftime("%Y/%m/%d") %> 
          <%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %>
        <% elsif talk.proposal.present? && !talk.sponsor_session? %>
          Proposal 
          <% case talk.proposal.status %>
          <% when "registered" %>
          (採択待ち) 
          <% when "accepted" %>
          (採択)
          <% when "rejected" %>
          (落選)
          <% end %>
        <% end %>
      </h4>

      <div class="row py-3">
        <% if event_name == 'cicd2021' %>
          <%= render 'talks/partial_show/col_talk_category_block_cicd2021', talk: talk %>
        <% else %>
          <%= render 'talks/partial_show/col_talk_category_block', talk: talk %>
        <% end %>
      </div>

      <div class="row py-3">
        <div class="col-auto col-md-auto">
          <% if talk.proposal.present? && talk.proposal.status == 'registered' %>
            <button class="btn btn-primary inline" id="vote" vote_url="<%= vote_api_url(talk.id.to_s) %>" event_name="<%= @conference.abbr %>" talk_id="<%= talk.id %>" type="button">👍投票する</button>
          <% end %>
        </div>
      </div>

      <% if display_video?(talk) %>
        <% if %w(cndt2020 cndo2021 cicd2021).include?(@conference.abbr) %>
          <%= render 'talks/partial_show/talk_video_block', talk: talk %>
        <% else %>
          <%= render 'talks/partial_show/talk_video_block_videojs', talk: talk %>
        <% end %>
      <% end %>

      <p><%= simple_format talk.abstract %></p>

      <% talk.speakers.each do |speaker| %>
        <div class="row py-3">
          <%= render 'talks/partial_show/col_speaker_avatar', speaker: speaker %>
          <%= render 'talks/partial_show/col_speaker', speaker: speaker %>
        </div>
      <% end %>

      <% if display_document?(talk) %>
        <div class="col-12 my-3 pt-2" syle="border-top: 1px solid #CCC">
          <ul>
            <li><a href="<%= talk.document_url %>" target="_blank">発表資料</a></li>
          </ul>
        </div>
      <% end %>

      <% if (conference.registered? || conference.opened?) && conference.attendee_entry_enabled? && !(logged_in? && @profile.present?) %>
      <div class="col-12 text-center my-4">
        <%= link_to "このイベントに参加申し込み <br/> (参加無料)".html_safe, registration_path, {method: :get, class: "btn btn-focus btn-xl inline" } %>
      </div>
      <% end %>
      <div class="col-12 text-center my-4">
        <%= button_to 'タイムテーブル', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
      </div>
    </div>
  </div>
</div>