<div class="container">
  <div class="row my-3">
    <div class="col-12 col-lg-9 main-pane">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="information">
            <h4>運営からのお知らせ</h4>
            <ul>
              <li>
                <div class="date">2020/08/24</div>
                <div class="body">9/2（水）19:00-20:30に、プレイベントとして、CNDT2020 Rejektsを開催します！CNDT2020にお申込の方はどなたでもご参加できます！ぜひご視聴ください！</div>
                
                <div class="date">2020/08/20</div>
                <div class="body">最終セッションの実施時間を18:00-18:40に変更致しました。それに伴い、イベントの終了時間は19:00となります(ask the speaker含む）</div>
                <div class="body"><a href="https://event.cloudnativedays.jp/cndt2020/talks/66" target="_blank">「Cloud Foundry on K8sでクラウドネイティブ始めませんか？」（有元 久住 / SUSE )</a>のセッション時間が、9/9 16:00-16:40に変更になりました。予定が重複する場合は、登録セッションを変更してください</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="talk">
            <h4>聴講予定セッション一覧</h4>
            <% @profile.talks.each do |talk| %>
              <div class="category_difficulty">
                <%= talk.conference_day.date.strftime("%m/%d") %> Track <%= talk.track.name %> <%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %>
                <% if talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
                  <span class="difficulty difficulty_<%= talk_difficulty(talk.id).id %>"><%= talk_difficulty(talk.id).name %></span>
                <% end %>
                <span class="difficulty category_<%= talk_category(talk.id).id %>"><%= talk_category(talk.id).name %></span>
              </div>
              <h5><%= link_to talk.title, talk_path(id: talk.id), class: "text-dark" %></h5>
            <% end %>
            <div class="col-12 text-center my-4">
              <%= button_to '聴講予定セッションを変更する', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
            </div>
          </div>
        </div>

        <% if @conference.opened? %>
          <div class="col-12">
            <h4 class="text-center booths-header">↓ ブースにお立ち寄りください ↓</h4>
          </div>

          <div class="col-12 mb-3">
            <%= render 'booth_section' %>
          </div>
        <% else %>
          <div class="col-12">
            <h4 class="text-center booths-header"><%= @conference.name %> is not opened.</h4>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-12 col-lg-3 sub-pane mt-3 mt-lg-0">
      <div class="social">
        <a class="twitter-timeline" data-height="600" href="https://twitter.com/cloudnativedays?ref_src=twsrc%5Etfw">Tweets by cloudnativedays</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
<% @message_box = "タイムテーブルから聴講予定セッションの登録・変更ができます。" %>
