<%= form_with(url: profile_url, model: @profile, local: true, class: "needs-validation") do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5>入力内容にエラーがあります:</h5>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.label :last_name, "姓" %>*
      <%= form.text_field :last_name, required: true, class: "form-control", placeholder: "雲" %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :first_name, "名" %>*
      <%= form.text_field :first_name, required: true, class: "form-control", placeholder: "太郎" %>
    </div>
  </div>

<div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.label :last_name_kana, "姓(カナ)" %>*
      <%= form.text_field :last_name_kana, required: true, class: "form-control", placeholder: "クラウド" %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :first_name_kana, "名(カナ)" %>*
      <%= form.text_field :first_name_kana, required: true, class: "form-control", placeholder: "タロウ" %>
    </div>
  </div>

  <div class="form-row form-group">
    <%= form.label :occupation, "職種" %>*
    <%= form.select :occupation, @occupations, {prompt: ''}, {required: true, class: "form-control"} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_name, "勤務先名/学校名" %>*
    <%= form.text_field :company_name, required: true, class: "form-control", placeholder: "クラウドネイティブデイズ株式会社" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_email, "勤務先メールアドレス" %>*
    <%= form.email_field :company_email, required: true, class: "form-control", placeholder: "mail@example.com" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_tel, "勤務先電話番号" %>*
    <%= form.text_field :company_tel, required: true, class: "form-control", placeholder: "03-0000-0000" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :department, "勤務先部署･所属 / 学部･学科･学年" %>*
    <%= form.text_field :department, required: true, class: "form-control", placeholder: "クラウド開発部門" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :position, "勤務先役職" %>*
    <%= form.text_field :position, required: true, class: "form-control", placeholder: "一般 / 管理職 / CTO など" %>
  </div>

  <% if action_name == "new" %>
  <div class="privacy_policy">
    <%= markdown @conference.privacy_policy %>
  </div>
  <% end %>

  <div class="form-row form-group justify-content-md-center py-20">
    <%= form.submit "登録", class: "btn btn-primary form-control" %>
  </div>
<% end %>
