<%= form_with(url: profile_url, model: @profile, local: true, class: "needs-validation") do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5>入力内容にエラーがあります:</h5>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.label :last_name, "姓" %><span class="required">*</span>
      <%= form.text_field :last_name, required: true, class: "form-control", placeholder: "雲" %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :first_name, "名" %><span class="required">*</span>
      <%= form.text_field :first_name, required: true, class: "form-control", placeholder: "太郎" %>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.label :last_name_kana, "姓(カナ)" %><span class="required">*</span>
      <%= form.text_field :last_name_kana, required: true, class: "form-control", placeholder: "クラウド" %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :first_name_kana, "名(カナ)" %><span class="required">*</span>
      <%= form.text_field :first_name_kana, required: true, class: "form-control", placeholder: "タロウ" %>
    </div>
  </div>


  <div class="form-row form-group">
    <%= form.label :address_level1, "勤務先名/学校名（前株・後株などはセレクトボックスから選択ください）" %><span class="required">*</span>
  </div>

  <div class="form-row form-group">

    <div class="col-12 col-md-3">
      <%= form.collection_select :company_name_prefix_id, ::FormModels::CompanyNamePrefix.all, :id, :name, {prompt: "法人格を選択"}, {class: "form-control"} %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.text_field :company_name, required: true, class: "form-control", placeholder: "クラウドネイティブデイズ" %>
    </div>

    <div class="col-12 col-md-3">
      <%= form.collection_select :company_name_suffix_id, ::FormModels::CompanyNameSuffix.all, :id, :name, {prompt: "法人格を選択"}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-row form-group">
    <%= form.label :industry_id, "業種" %><span class="required">*</span>
    <%= form.collection_select :industry_id, ::FormModels::Industry.all, :id, :name, {prompt: "", disabled: ::FormModels::Industry.all.map{|i| i.id if i.disabled}.compact}, {required: true, class: "form-control", autocomplete: "industry_id"} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :annual_sales_id, "年商規模" %><span class="required">*</span>
    <%= form.collection_select :annual_sales_id, ::FormModels::AnnualSales.all, :id, :name, {prompt: ""}, {required: true, class: "form-control", autocomplete: "annual-sales-id"} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :number_of_employee_id, "従業員数" %><span class="required">*</span>
    <%= form.collection_select :number_of_employee_id, ::FormModels::NumberOfEmployee.all, :id, :name, {prompt: ""}, {required: true, class: "form-control", autocomplete: "number-of-employee-id"} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_email, "勤務先メールアドレス" %><span class="required">*</span>
    <%= form.email_field :company_email, required: true, class: "form-control", placeholder: "mail@example.com" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_postal_code, "勤務先住所: 郵便番号" %><span class="required">*</span>
    <%= form.text_field :company_postal_code, required: true, class: "form-control", minlength: "7", maxlength: "8", pattern: "(\\d{7}|\\d{3}-\\d{4})", placeholder: "1000001", autocomplete: "postal-code" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_address_level1, "勤務先住所: 都道府県（国外の場合は `国外` を選択してください）" %><span class="required">*</span>
    <%= form.collection_select :company_address_level1, CompanyAddressLevel1.all, :name, :name, {prompt: ""}, {required: true, class: "form-control", autocomplete: "address-level1"} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_address_level2, "勤務先住所: 市区町村" %><span class="required">*</span>
    <%= form.text_field :company_address_level2, required: true, class: "form-control", placeholder: "港区", autocomplete: "address-level2" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_address_line1, "勤務先住所: 町名・番地" %><span class="required">*</span>
    <%= form.text_field :company_address_line1, required: true, class: "form-control", placeholder: "赤坂1−2−3", autocomplete: "address-line1" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_address_line2, "勤務先住所: 建物名など" %>
    <%= form.text_field :company_address_line2, required: false, class: "form-control", autocomplete: "address-line2"%>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_tel, "勤務先電話番号" %><span class="required">*</span>
    <%= form.text_field :company_tel, required: true, class: "form-control", placeholder: "0300000000", pattern: "[\\d+-]*" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_fax, "勤務先FAX番号" %>
    <%= form.text_field :company_fax, required: false, class: "form-control", placeholder: "0300000000", pattern: "[\\d+-]*" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :department, "勤務先部署･所属 / 学部･学科･学年" %><span class="required">*</span>
    <%= form.text_field :department, required: true, class: "form-control", placeholder: "クラウド開発部門" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :position, "勤務先役職" %><span class="required">*</span>
    <%= form.text_field :position, required: true, class: "form-control", placeholder: "一般 / 管理職 / CTO など" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :occupation_id, "職種" %><span class="required">*</span>
    <%= form.collection_select :occupation_id, ::FormModels::Occupation.all, :id, :name, {prompt: "", disabled: ::FormModels::Occupation.all.map{|i| i.id if i.disabled}.compact}, {required: true, class: "form-control", autocomplete: "occupation_id"} %>
  </div>

  <% if action_name == "new" %>
  <div class="privacy_policy">
    <%= markdown @conference.privacy_policy %>

    <div class="form-check form-background">
      <%= form.check_box :agreement, {required: true, class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="agreement">個人情報の取り扱いについて同意する <span class="required">*</span> <span class="small">ご同意いただけない場合は本セミナーを受講いただくことは出来ません。</span></label>
    </div>
    <p></p>

    <% if %w[cndt2020 cndo2021 cicd2021 cndt2021 cnsec2022].include?(@event) %>
      <%= render 'profiles/sponsors/microsoft', form: form %>
    <% end %>

    <% if %w[cndt2022].include?(@event) %>
      <%= render 'profiles/sponsors/ibm', form: form %>
    <% end %>

    <% if %w[cndt2022].include?(@event) %>
      <%= render 'profiles/sponsors/redhat', form: form %>
    <% end %>

  </div>
  <% end %>

  <div class="form-row form-group justify-content-md-center py-20">
    <%= form.submit "個人情報保護方針に同意して参加登録", class: "btn btn-primary form-control" %>
  </div>
<% end %>
