<%= form_with(url: profile_url, model: @profile, local: true, class: "needs-validation") do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5>入力内容にエラーがあります:</h5>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>公開プロフィール</h3>
  <%= render "form_public_profile", form: form %>

  <h3>非公開情報</h3>
  <%= render "form_secret_profile", form: form %>

  <div class="form-row form-group justify-content-md-center py-20">
    <%= form.submit submit_button_label, class: "btn btn-primary form-control" %>
  </div>
<% end %>
