<%= form_with(url: profile_url, model: @profile, local: true, class: "needs-validation") do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5>入力内容にエラーがあります:</h5>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.label :last_name, "姓" %>*
      <%= form.text_field :last_name, required: true, class: "form-control", placeholder: "雲" %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :first_name, "名" %>*
      <%= form.text_field :first_name, required: true, class: "form-control", placeholder: "太郎" %>
    </div>
  </div>



  <div class="form-row form-group">
    <%= form.label :industry_id, "業種" %>*
    <%= form.collection_select :industry_id, Industry.all, :id, :name, {prompt: ""}, {class: "form-control", requierd: true} %>
  </div>

  <div class="form-row form-group">
    <%= form.label :occupation, "職種" %>*
    <%= form.text_field :occupation, required: true, class: "form-control", placeholder: "SRE / インフラエンジニア / アプリケーション開発　など" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_name, "勤務先名/学校名" %>*
    <%= form.text_field :company_name, required: true, class: "form-control", placeholder: "クラウドネイティブデイズ株式会社" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_email, "勤務先メールアドレス" %>*
    <%= form.email_field :company_email, required: true, class: "form-control", placeholder: "mail@example.com" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_address, "勤務先住所" %>*
    <%= form.text_field :company_address, required: true, class: "form-control", placeholder: "東京都港区○○" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :company_tel, "勤務先電話番号" %>*
    <%= form.text_field :company_tel, required: true, class: "form-control", placeholder: "03-0000-0000" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :department, "勤務先部署･所属 / 学部･学科･学年" %>*
    <%= form.text_field :department, required: true, class: "form-control", placeholder: "クラウド開発部門" %>
  </div>

  <div class="form-row form-group">
    <%= form.label :position, "勤務先役職" %>*
    <%= form.text_field :position, required: true, class: "form-control", placeholder: "一般 / 管理職 / CTO など" %>
  </div>

  <% if action_name == "new" %>
  <div class="privacy_policy">
    <%= markdown @conference.privacy_policy %>

    <% if @event == "cndt2020" %>
    <h4>IBMおよびIBMの⼦会社、関連会社からの情報提供</h4>
    <p>
    IBMおよび<a href="https://www.ibm.com/ibm/jp/ja/keireki.pdf#subsidiaries" target="_blank">IBMの⼦会社、関連会社</a>から、製品、サービス、オファリングに関する情報をお送りさせていただく場合があります。
    </p>
    <p>
    マーケティングに関する同意は、<a href="https://www.ibm.com/account/reg/jp-ja/signup?formid=urx-42537" target="_blank">opt-out request</a>を送信することにより、いつでも取り消すことができます。また、該当のEメール内の、購読を中⽌するためのリンクをクリックすることで、マーケティングに関するEメールの受信を中⽌することができます。 処理に関する詳しい情報は、<a href="https://www.ibm.com/privacy/jp/ja/" target="_blank">IBMプライバシー・ステートメント</a>をご覧ください。このフォームを送信することで、私はIBMプライバシー・ステートメントを読み、これを理解したものとします。
    </p>
    <div class="form-check">
      <%= form.check_box :require_email, {class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="require_email">e-メールを希望する</label>
    </div>
    <div class="form-check">
      <%= form.check_box :require_tel, {class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="require_tel">電話を希望する</label>
    </div>
    <div class="form-check">
      <%= form.check_box :require_posting, {class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="require_posting">郵便を希望する</label>
    </div>
    <% end %>

    <h4 class="mt-3">日本マイクロソフト株式会社/Microsoft Corporation</h4>
    <p>
    日本マイクロソフト株式会社/Microsoft Corporationから情報提供を希望される場合、申し込み者情報に記載いただいた内容を日本マイクロソフト株式会社/Microsoft Corporationへ提供させていただきます。利用目的は当該企業の製品・サービスに関する情報またはマーケティング活動に関する情報をお知らせすることです。個人情報の取り扱いにつきましては、日本マイクロソフト株式会社/Microsoft Corporationのプライバシーポリシーに準拠します
    </p>
    <div class="form-check">
    <% if @event == "cndt2020" %>
      <%= form.check_box :agree_ms, {class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="agree_ms">日本マイクロソフト株式会社/Microsoft Corporationへの個人情報提供に同意する</label>
    <% elsif @event == "cndo2021" %>
      <%= form.check_box :agree_ms_cndo2021, {class: "form-check-input"}, true, false %>
      <label class="form-check-label" for="agree_ms">日本マイクロソフト株式会社/Microsoft Corporationへの個人情報提供に同意する</label>
    <% end %>

    </div>
    <p>(<a href="https://privacy.microsoft.com/ja-jp/privacystatement/" target="_blank">プライバシーステートメント</a>)</p>
    <p></p>
  </div>
  <% end %>

  <div class="form-row form-group justify-content-md-center py-20">
    <%= form.submit "登録", class: "btn btn-primary form-control" %>
  </div>
<% end %>
