<%= form_with(url: public_profile_path, model: @public_profile, class: "needs-validation") do |form| %>
  <% if @public_profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5 class="font-weight-bold">入力内容にエラーがあります:</h5>
      <ul>
        <% @public_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <p id="notice" class="alert alert-success" role="alert">公開プロフィールとは、あなたのニックネームやSNSアカウントを公開できる機能です(オプション)</p>
    <div class="row mb-4">
      <div class="col-12 col-md-6" data-controller="crop-upload">
        <%= form.label :avatar, '参加者アイコン', class: "form-label font-weight-bold" %>
        <!-- will be replaced by Uppy -->
        <%= form.text_field :avatar,
                            type: :file,
                            id: "avatar_upload",
                            "data-crop-upload-target": "fileInput",
                            class: "form-control rounded-0" %>

        <!-- for storing uploaded file data -->
        <%= form.text_field :avatar,
                            type: :hidden,
                            error_handler: false,
                            class: "upload-data",
                            value: @public_profile.nil? ? "" : @public_profile.cached_avatar_data %>
      </div>

      <div class="col-12 col-md-6">
        <div class="image-preview mt-3 mt-md-0">
          <img src="<%= (@public_profile.avatar_url(:large) || @public_profile.avatar_url) unless @public_profile.nil? %>" height="300" class="rounded-0 border" style="max-width: 100%; height: auto;" \>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <%= form.label :nickname, "ニックネーム", class: "form-label font-weight-bold" %><span class="text-danger ml-1">*</span>
        <%= form.text_field :nickname, required: true, class: "form-control rounded-0", placeholder: "雲太郎" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <%= form.label :twitter_id, "X(Twitter) ID", class: "form-label font-weight-bold" %>
        <%= form.text_field :twitter_id, class: "form-control rounded-0", placeholder: "cloudnativedays" %>
      </div>

      <div class="col-12 col-md-6">
        <%= form.label :github_id, "GitHub ID", class: "form-label font-weight-bold" %>
        <%= form.text_field :github_id, class: "form-control rounded-0", placeholder: "cloudnativedays" %>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <div class="form-check p-3">
            <%= form.check_box :is_public, class: "form-check-input" %>
            <%= form.label :is_public, link_to('参加者一覧ページ', "/#{@conference.abbr}/attendees", class: "text-dark text-decoration-underline") + "に上記のプロフィールを公開する", class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center py-5">
    <div class="col-12 text-center">
      <div class="mb-3">
        <%= form.submit submit_button_label, class: "btn btn-primary btn-lg shadow-sm px-5" %>
      </div>
      <div>
        <%= link_to 'スキップ', timetables_path, class: "btn btn-outline-dark btn-sm rounded-0 border-0" %>
      </div>
    </div>
  </div>
<% end %>

