<div class="row mb-3">
  <div class="col-10 mb-3 d-flex align-items-center">
    <h2><%= sponsor.name %></h2>
  </div>
  <div class="col-2 mb-3">
    <% if sponsor.sponsor_attachment_logo_image.present? %>
      <%= image_tag sponsor.sponsor_attachment_logo_image.url, class: "sponsor-logo"%>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 mb-3">
    <p><%= simple_format(h(auto_link(sponsor.description, html: { target: '_blank' }))) %></p>
  </div>
</div>

<% sponsor.sponsor_attachment_key_images.each do |image| %>
  <% if image.file_data.present? %>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <%= image_tag image.file_url, class: "img-fluid" %>
      </div>
    </div>
  <% end %>
<% end %>

<% if sponsor.sponsor_attachment_text.present? %>
  <div class="row mb-3">
    <div class="col-12 mb-3">
      <p><%= simple_format(h(auto_link(sponsor.sponsor_attachment_text.text, html: { target: '_blank' }))) %></p>
    </div>
  </div>
<% end %>

<% if sponsor.sponsor_attachment_vimeo.present? %>
  <% vimeo = sponsor.sponsor_attachment_vimeo %>
  <div class="row mb-3">
    <div class="col-12 mb-3 text-center">
      <div class="movie-wrap">
        <iframe src="<%= vimeo.url %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<% end %>

<% if sponsor.sponsor_attachment_pdfs.size > 0 %>
  <div class="row mb-3">
    <div class="col-12 mb-3 text-center">
      <h4>PDF資料ダウンロード</h4>
      <div class="container">
        <div class="row">
          <% sponsor.sponsor_attachment_pdfs.each do |pdf| %>
            <div class="col-12 col-sm-4 my-3 text-center">
              <div class="booth-pdf-item">
                <%= link_to pdf.file_url do %>
                  <h5><%= pdf.title %></h5>
                  <%= image_tag "pdf.svg", style: "width: 128px;"%>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if sponsor.sponsor_attachment_zoom.present? && sponsor.sponsor_attachment_zoom.url != ""%>
  <% url = sponsor.sponsor_attachment_zoom %>
  <div class="row mb-3  justify-content-center">
    <div class="col-12 col-md-8">
      <%= link_to(url.url) do %>
        <button type="button" class="btn btn-info btn-lg btn-block">スポンサーの人と話をする(外部URLを開きます)</button>
    <% end %>
    </div>
  </div>
<% end %>
