<div class="container tracks">
  <div class="btn-group track-button d-flex row" role="group">
    <% @tracks.each do |track| %>
      <%= link_to "Track #{track.name}", "",
          { class: "btn btn-outline-secondary track_button #{'active' if params[:id] == "#{track.number}"}", track_id: track.id.to_s } %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 movie-wrap my-3">
      <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="" id="video" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div id="main-pane" class="col-12 col-md-8">
      <div id="track_information" class="mb-3">
        <h3 id="title"></h3>
        <div class="mb-2">
          <span id="time"></span> - 
          <span id="speakers"></span>
        </div>
        <div id="time"></div>
        <div id="speakers"></div>
        <div id="abstract"></div>
      </div>

      <div id="social" class="row">
        <div class="col-6 p-3">
          <a href='https://discord.gg/bvuTMNQ' target="_blank" class="btn btn-outline-primary btn-lg btn-block">Ask the speaker<br/>(Discord)</a>
        </div>
        <div class="col-6 p-3">
          <a id="twitter" href='' target="_blank" class="btn btn-outline-primary btn-lg btn-block">Twitterでシェア</a>
        </div>
      </div>

      <div id="registered-talk" class="talk accordion mt-3">
        <h4 class="">
          <button class="btn btn-inline text-left" type="button" data-toggle="collapse" data-target="#registered-talk-list" aria-expanded="false" aria-controls="registered-talk-list">
            聴講予定セッション一覧
          </button>
        </h4>

        <div id="registered-talk-list" class="collapse" aria-labelledby="headingOne" data-parent="#registered-talk">
          <% @profile.talks.each do |talk| %>
            <div class="category_difficulty">
              <%= talk.conference_day.date.strftime("%m/%d") %> Track <%= talk.track.name %> <%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %>
              <% if talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
                <span class="difficulty difficulty_<%= talk_difficulty(talk.id).id %>"><%= talk_difficulty(talk.id).name %></span>
              <% end %>
              <span class="difficulty category_<%= talk_category(talk.id).id %>"><%= talk_category(talk.id).name %></span>
            </div>
            <h5><%= link_to talk.title, talk_path(id: talk.id), class: "text-dark" %></h5>
          <% end %>
        </div>
      </div>
    </div>
    <div id="sub-pane" class="col-12 col-md-4">
      <div class="">
        <iframe src="" id="slido" class="tab-pane" frameborder="0" style="min-height: 560px; width: 100%"></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @conference.opened? %>
      <div class="col-12 mb-3 py-1 my-3 text-center booths-header">
        <h4>↓ ブースにお立ち寄りください ↓</h4>
      </div>

      <div class="col-12 mb-3">
        <%= render 'dashboard/booth_section' %>
      </div>
    <% else %>
      <div class="col-12">
        <h4 class="text-center booths-header"><%= @conference.name %> is not opened.</h4>
      </div>
    <% end %>
  </div>

</div>
<script>
  window.track_list=<%= @current["current"].to_json.html_safe %>;
  window.selected_talk_id = 1;
</script>
<%= javascript_pack_tag 'tracks/index.js' %>
