<div class="container tracks">
  <div class="row">
    <div id="main-pane" class="col-12 col-md-8">
      <div class="information">
        <h4>運営からのお知らせ</h4>
        <ul>
          <% @announcements.order(publish_time: 'DESC').each do |announcement| %>
            <li>
              <div class="date"><%= announcement.publish_time.strftime('%Y-%m-%d %H:%M') %></div>
              <%= simple_format announcement.body %>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="social" class="row">
        <div class="col-6 p-3">
          <a href='https://cnd.ovice.in/' target="_blank" class="btn btn-outline-primary btn-lg btn-block">Ask the speaker<br/>(oVice)</a>
        </div>
        <div class="col-6 p-3">
          <a id="twitter" href=<%=  "http://twitter.com/share?url=https://event.cloudnativedays.jp/#{@conference.abbr}/&related=@cloudnativedays&hashtags=#{@conference.abbr.upcase}" %> target="_blank" class="btn btn-outline-primary btn-lg btn-block">Twitterでシェア</a>
        </div>
      </div>

      <div id="registered-talk" class="talk accordion mt-3">
        <h4 class="">
            聴講予定セッション
        </h4>
        <div id="registered-talk-list">
          <% @profile.talks.each do |talk| %>
            <div class="category_difficulty">
              <%= talk.conference_day.date.strftime("%m/%d") %> Track <%= talk.track.name %> <%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %>
              <% if talk.talk_difficulty.present? && talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
                <span class="difficulty difficulty_<%= talk_difficulty(talk).id %>"><%= talk_difficulty(talk).name %></span>
              <% end %>
              <% if talk.talk_category_id.present? %>
              <span class="difficulty category_<%= talk_category(talk).id %>"><%= talk_category(talk).name %></span>
              <% end %>
            </div>
            <h5><%= link_to talk.title, talk_path(id: talk.id), class: "text-dark" %></h5>
          <% end %>
          <div class="col-12 text-center my-4">
              <%= button_to '聴講予定セッションを変更する', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
          </div>
        </div>
      </div>
    </div>
    <div id="sub-pane" class="col-12 col-md-4">
      <div class="social">
        <a class="twitter-timeline" data-height="600" href="https://twitter.com/cloudnativedays?ref_src=twsrc%5Etfw">Tweets by cloudnativedays</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @conference.opened? %>
      <div class="col-12 mb-3 py-1 my-3 text-center booths-header">
        <h4>↓ ブースにお立ち寄りください ↓</h4>
      </div>

      <div class="col-12 mb-3">
        <%= render 'booth_section' %>
      </div>
    <% else %>
      <div class="col-12">
        <h4 class="text-center booths-header"><%= @conference.name %> is not opened.</h4>
      </div>
    <% end %>
  </div>

</div>
<script>
</script>

<% @message_box = "タイムテーブルから聴講予定セッションの登録・変更ができます。" %>
<%= javascript_pack_tag 'tracks/waiting_channel.js' %>
