<%= render 'admin/layout' do %>
  <div class="tw-mb-6 tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-gap-3">
    <h2 class="tw-text-2xl tw-font-semibold tw-text-gray-900">Speaker Announcement</h2>
    <%= link_to 'New AllSpeakersAnnouncement', new_admin_speaker_announcement_path,
                class: 'tw-inline-flex tw-items-center tw-rounded-md tw-bg-blue-600 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-700' %>
  </div>

  <div class="admin-table-scroll">
    <table class="admin-table talks_table">
      <thead>
        <tr>
          <th scope="col">Published?</th>
          <th scope="col">To</th>
          <th scope="col">Time</th>
          <th scope="col">Announcement</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @speaker_announcements.eager_load(:speakers).each do |announcement| %>
          <tr>
            <td>
              <div class="date"><%= announcement.publish ? '公開済み': '非公開' %></div>
            </td>
            <td>
              <%= announcement.speaker_names %>
            </td>
            <td>
              <div class="date"><%= announcement.publish_time.strftime('%Y-%m-%d %H:%M') %></div>
            </td>
            <td>
              <%= simple_format announcement.body %>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_speaker_announcement_path(id: announcement.id) %>
              <%= link_to 'Delete', admin_speaker_announcement_path(id: announcement.id), method: :delete, data: { confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
