<div class="row">
  <div class="col-12">
    <div class="talk">

      <h3>
        <%= talk.title %>
        <%= render 'proposals/partial_show/twitter_share_button', hash_tag: conference.abbr.upcase %>
        <%= render 'proposals/partial_show/facebook_share_button', url: request.original_url %>
      </h3>
      <%= render 'proposals/partial_show/proposal_result', talk: talk %>

      <div class="row py-3">
        <%= render 'proposals/partial_show/col_talk_category_block', talk: talk %>
      </div>

      <p><%= simple_format talk.abstract %></p>

      <% talk.speakers.each do |speaker| %>
        <div class="row py-3">
          <%= render 'proposals/partial_show/col_speaker_avatar', speaker: speaker %>
          <%= render 'proposals/partial_show/col_speaker', speaker: speaker %>
        </div>
      <% end %>


      <% if (conference.registered? || conference.opened?) && conference.attendee_entry_enabled? && !(logged_in? && @profile.present?) %>
        <div class="col-12 text-center my-4">
          <%= link_to "このイベントに参加申し込み <br/> (参加無料)".html_safe, registration_path, {method: :get, class: "btn btn-focus btn-xl inline" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
