<%= render 'admin/layout' do %>
  <%= turbo_frame_tag "keynote_speaker_invites" do %>
    <div class="tw-mb-4 tw-flex tw-items-center tw-justify-between">
      <h2 class="tw-mb-0">キーノートスピーカー招待管理</h2>
      <%= link_to '新規招待',
                  new_admin_keynote_speaker_invitation_path(event: @conference.abbr),
                  class: 'tw-inline-block tw-rounded tw-bg-blue-600 tw-px-4 tw-py-2 tw-font-bold tw-text-white hover:tw-bg-blue-700',
                  data: { turbo_frame: "modal" } %>
    </div>

    <!-- 招待一覧 -->
    <%= render 'admin/keynote_speaker_invitations/list', keynote_speaker_invitations: @keynote_speaker_invitations %>

    <!-- モーダル用のTurbo Frame -->
  <% end %>
  <%= turbo_frame_tag "modal" %>
  <div id="flashes" class="tw-fixed tw-bottom-0 tw-right-0" style="margin: 0.75rem"></div>
<% end %>
