<div class="container speaker-dashboard-form">
  <h1 class="text-center py-3 entry">登壇者ダッシュボード</h1>
  <div class="row speaker-dashboard-form">

    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <%= button_to 'CFP要項を確認する', speakers_guidance_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
    </div>

    <% unless @speaker.present? %>
    <div class="col-12 my-4">
      <%= link_to 'エントリー', speakers_entry_path %>
    </div>
    <% else %>

    <div class="col-12 my-4"  id="speaker_notice">
      <%= render 'tracks/speaker_announcements', speaker_announcements: @speaker_announcements %>
    </div>

    <div class="col-6">
      <%= render 'speaker_dashboard/speakers/speaker_info', speaker: @speaker %>
    </div>


    <div class="col-6">
      <%= render 'speaker_dashboard/speakers/talk_list', conference: @conference, speaker: @speaker %>
    </div>

    <% end %>
  </div>
</div>
