<div class="container">
  <h1>スピーカーダッシュボード</h1>

  <% unless @speaker.present? %>

    <%= link_to 'entry', speakers_entry_path %>

  <% else %>

    Hi, <%=@speaker.name %> !

    <h2>エントリーリスト</h2>

    <% @speaker.talks.each do |talk| %>
      <h3><%= talk.title %></h3>
      <p><%= talk.abstract %></p>
      <p><%= talk.talk_category.name %></p>
      <p><%= talk.talk_time.time_minutes %></p>
    <% end %>
    <%= link_to 'edit', edit_speaker_dashboard_speaker_path(id: @speaker.id) %>

  <% end %>
</div>