<%= render 'admin/layout' do %>
    <div id="messages">
    <%= render 'admin/profiles/partial/messages' %>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <h2>Registered users</h2>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <h2>Export to CSV</h2>
    <div class="tw-col-span-12 tw-mb-4">
      <%= button_to 'エクスポート', admin_export_profiles_path, {method: :get } %>
    </div>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <%= turbo_frame_tag 'profiles' do %>
      <table class="tw-w-full tw-border tw-border-gray-200">
        <thead class="tw-bg-gray-100">
        <tr>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Name</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Name(Kana)</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">登録に用いたEmail</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">参加方法</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">二次元バーコード</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">チェックイン状況</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col"></th>
        </tr>
        </thead>
        <tbody class="tw-divide-y tw-divide-gray-200">
        <% @profiles.each do |profile| %>
          <tr class="odd:tw-bg-white even:tw-bg-gray-50">
            <td class="tw-px-4 tw-py-2"><%= profile.last_name %> <%= profile.first_name %></td>
            <td class="tw-px-4 tw-py-2"><%= profile.last_name_kana %> <%= profile.first_name_kana %></td>
            <td class="tw-px-4 tw-py-2"><%= profile.email %></td>
            <td class="tw-px-4 tw-py-2"><%= Profile.participations[profile.participation] %></td>
            <td class="tw-px-4 tw-py-2"><%= link_to 'QRコードを表示する', admin_entry_sheet_path(id: profile.id) %></td>
            <td class="tw-px-4 tw-py-2"><%= render('admin/profiles/partial/check_in_status', profile: profile) %></td>
            <td class="tw-px-4 tw-py-2"><%= render('admin/profiles/partial/check_in_button', profile: profile) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="tw-flex tw-justify-between tw-items-center">
        <div><%= page_entries_info @profiles %></div>
        <%= paginate @profiles %>
      </div>
    <% end %>
  </div>
<% end %>
