<%= render 'admin/layout' do %>
    <div id="messages">
    <%= render 'admin/profiles/partial/messages' %>
  </div>

  <div class="row">
    <h2>Registered users</h2>
  </div>

  <div class="row">
    <h2>Export to CSV</h2>
    <div class="col-12 form-group">
      <%= button_to 'エクスポート', admin_export_profiles_path, {method: :get } %>
    </div>
  </div>

  <div class="row">
    <%= turbo_frame_tag 'profiles' do %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Name(Kana)</th>
          <th scope="col">登録に用いたEmail</th>
          <th scope="col">参加方法</th>
          <th scope="col">二次元バーコード</th>
          <th scope="col">チェックイン状況</th>
          <th scope="col"></th>
          <th scope="col">受講票印刷</th>
        </tr>
        </thead>
        <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td><%= profile.last_name %> <%= profile.first_name %></td>
            <td><%= profile.last_name_kana %> <%= profile.first_name_kana %></td>
            <td><%= profile.email %></td>
            <td><%= Profile.participations[profile.participation] %></td>
            <td><%= link_to 'QRコードを表示する', admin_entry_sheet_path(id: profile.id) %></td>
            <td><%= render('admin/profiles/partial/check_in_status', profile: profile) %></td>
            <td><%= render('admin/profiles/partial/check_in_button', profile: profile) %></td>
            <td><%= render('admin/profiles/partial/print_entry_sheet_button', profile: profile) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    <% end %>
<% end %>
