<div class="btn-group track-button d-flex row" role="group">
    <%= link_to "Debug", "/admin", { class: "btn btn-outline-secondary #{'active' if action_name == 'show'}" } %>
    <%= link_to "View accesslog", "/admin/accesslog", { class: "btn btn-outline-secondary #{'active' if action_name == 'accesslog'}" } %>
    <%= link_to "Users", "/admin/users", { class: "btn btn-outline-secondary #{'active' if action_name == 'users'}" } %>
    <%= link_to "Speakers", "/admin/speakers", { class: "btn btn-outline-secondary #{'active' if action_name == 'speakers' || action_name == 'edit_speaker' }" } %>
    <%= link_to "Talks", "/admin/talks", { class: "btn btn-outline-secondary #{'active' if action_name == 'talks'}" } %>
    <%= link_to "Statistics", "/admin/statistics", { class: "btn btn-outline-secondary #{'active' if action_name == 'statistics'}" } %>
    <%= link_to "Sponsors", "/admin/sponsors", { class: "btn btn-outline-secondary #{'active' if action_name == 'sponsors' || action_name == 'show_sponsor' }" } %>
</div>