<div class="container">
  <%= render 'navigator' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <h2>Editing Speaker</h2>

  <%= render 'speaker_form', speaker: @speaker %>

  <%= link_to 'Show', @speaker %> |
  <%= link_to 'Back', admin_speakers_url %>

</div>