<div class="container">
  <%= render 'navigator' %>

  <div class="row">
    <div class="col-12 mb-3">
      <h2>Sponsors > <%= @sponsor.name %></h2>
    </div>
  </div>

  <% @sponsor.sponsor_attachment_key_images.each do |image| %>
    <div class="row">
      <div class="col-12 mb-3">
        <%= image_tag image.file_url, class: "img-fluid" %>
      </div>
    </div>
  <% end %>

  <% @sponsor.sponsor_attachment_texts.each do |text| %>
    <div class="row">
      <div class="col-12 mb-3">
        <p><%= text.text %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th>Description</th>
        <th><%= @sponsor.description %></th>
      </tr>


      <% @sponsor.sponsor_attachment_images.each do |text| %>
        <tr>
          <th>Image</th>
          <th><%= image_tag text.file_url %></th>
        </tr>
      <% end %>

      <% @sponsor.sponsor_attachment_pdfs.each do |pdf| %>
        <tr>
          <th>PDF</th>
          <th><%= link_to 'PDF', pdf.file_url %></th>
        </tr>
      <% end %>

      <% @sponsor.sponsor_attachment_youtubes.each do |youtube| %>
        <tr>
          <th>Youtube</th>
          <th>
            <div class="col-12 col-md-8 movie-wrap">
              <iframe src="<%= youtube.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </th>
        </tr>
      <% end %>

      <% @sponsor.sponsor_attachment_vimeos.each do |vimeo| %>
        <tr>
          <th>Vimeo</th>
          <th>
            <div class="col-12 col-md-8 movie-wrap">
              <iframe src="<%= vimeo.url %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </th>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
