<div class="container">
    <div class="row">
        <h1>Access logs</h1>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">User</th>
                    <th scope="col">Page</th>
                    <th scope="col">IP</th>
                </tr>
            </thead>
            <tbody>
                <% @logs.each do |log| %>
                <tr>
                    <td><%= log.updated_at %></td>
                    <td><%= log.name %></td>
                    <td><%= log.page %></td>
                    <td><%= log.ip %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <h2>Debug</h2>
    <div class="row">
        
        <pre><%= JSON.pretty_generate(@current_user[:info]) %></pre>
        <pre><%= JSON.pretty_generate(@current_user[:extra][:raw_info]) %></pre>
        <pre><%= @new_user %></pre>
    </div>
</div>