<div class="container">
  <%= render 'navigator' %>

  <div class="row">
    <h2>Sponsors > <%= @sponsor.name %></h2>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th>Description</th>
        <th><%= @sponsor.description %></th>
      </tr>

      <% @sponsor.sponsor_attachment_texts.each do |text| %>
        <tr>
          <th>Text</th>
          <th><%= text.text %></th>
        </tr>
      <% end %>

      <% @sponsor.sponsor_attachment_images.each do |text| %>
        <tr>
          <th>Image</th>
          <th><%= image_tag text.file_url %></th>
        </tr>
      <% end %>

      <% @sponsor.sponsor_attachment_pdfs.each do |pdf| %>
        <tr>
          <th>PDF</th>
          <th><%= link_to 'PDF', pdf.file_url %></th>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
