<%= render 'layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <h2><%= @conference.name %></h2>
  <ul>
    <li>カンファレンスステータス: <%= @conference.status %></li>
    <li>CFPの結果公開: <%= @conference.cfp_result_visible ? '公開' : '非公開' %></li>
    <li>スピーカーのエントリー: <%= @conference.speaker_entry %></li>
    <li>参加者の申し込み: <%= @conference.attendee_entry %></li>
    <li>タイムテーブルを表示: <%= @conference.show_timetable %></li>
    <li>スポンサーを表示: <%= @conference.show_sponsors ? '表示' : '非表示' %></li>
  </ul>
  <%= link_to 'Edit', edit_admin_conference_path(id: @conference.id) %>

  <hr>

  <h3>現在放送中のセッション一覧</h3>
  <table class="table table-striped talks_table" >
    <thead>
    <tr>
      <th scope="col">Track</th>
      <th scope="col">Start Time</th>
      <th scope="col">Speaker</th>
      <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    <% @conference.tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td id="td-<%=track.number %>-start-time"><%= track.name %></td>
        <td id="td-<%=track.number %>-speakers"><%= track.name %></td>
        <td id="td-<%=track.number %>-name"><%= track.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<script>
    window.track_list=<%= @current["current"].to_json.html_safe %>;
</script>
<%= javascript_pack_tag 'admin/tracks/index.js' %>
