<%= render 'layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <h2><%= @conference.name %></h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>カンファレンスステータス</td>
      <td><%= @conference.conference_status %></td>
    </tr>
    <tr>
      <td>リハーサルモード</td>
      <td><%= @conference.rehearsal_mode ? 'オン' : 'オフ' %></td>
    </tr>
    <tr>
      <td>CFPの結果公開</td>
      <td><%= @conference.cfp_result_visible ? '公開' : '非公開' %></td>
    </tr>
    <tr>
      <td>登壇者のエントリー</td>
      <td><%= @conference.speaker_entry %></td>
    </tr>
    <tr>
      <td>参加者の申し込み</td>
      <td><%= @conference.attendee_entry %></td>
    </tr>
    <tr>
      <td>タイムテーブルを表示</td>
      <td><%= @conference.show_timetable %></td>
    </tr>
    <tr>
      <td>現地参加定員</td>
      <td><%= @conference.capacity %></td>
    </tr>
    <tr>
      <td>Contact Url</td>
      <td><%= @conference.contact_url %></td>
    </tr>
    <tr>
      <td>Sponsor Guideline Url</td>
      <td><%= link_to @conference.sponsor_guideline_url, @conference.sponsor_guideline_url, target: '_blank' %></td>
    </tr>
    <tr>
      <td>スポンサーを表示</td>
      <td><%= @conference.show_sponsors ? '表示' : '非表示' %></td>
    </tr>
    </tbody>
  </table>

  <ul>

  </ul>
  <%= link_to 'Edit', edit_admin_conference_path(id: @conference.id), class: 'btn btn-primary' %>

  <hr>

  <h3>現在放送中のセッション一覧</h3>
  <table class="table table-striped talks_table" >
    <thead>
    <tr>
      <th scope="col">Track</th>
      <th scope="col">Start Time</th>
      <th scope="col">Speaker</th>
      <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    <% @conference.tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td id="td-<%=track.number %>-start-time"><%= track.name %></td>
        <td id="td-<%=track.number %>-speakers"><%= track.name %></td>
        <td id="td-<%=track.number %>-name"><%= track.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<script>
    window.track_list=<%= @current["current"].to_json.html_safe %>;
</script>
<%= javascript_include_tag 'admin/tracks.js' %>
