<div class="container">
    <%= render 'navigator' %>

    <h2>Current user</h2>
    <div class="row">
        <div class="col-6">
        <pre><%= JSON.pretty_generate(@current_user[:info]) %></pre>
        <pre><%= JSON.pretty_generate(@current_user[:extra][:raw_info]) %></pre>
        <pre><%= @new_user %></pre>
        <%= form_with url: 'admin/destroy_user', method: 'delete' do |form| %>
            <%= form.submit "ログインユーザーを削除", class: "btn btn-primary form-control" %>
        <% end %>
        </div>
    </div>

    
</div>