<%= render 'layout' do %>
  <div class="row">
    <div class="col-12 form-group">
      <h2>Statistics</h2>
    </div>
    <div class="col-12 form-group">
      <h3>Export to CSV</h3>
      <%= button_to 'エクスポート', admin_export_statistics_path, {method: :get } %>
    </div>

    <div class="col-12">
      <h2>チケット情報</h2>
      <table class="table table-striped talks_table" >
        <tr>
          <th>チケット種別</th>
          <th>席数</th>
          <th>登録者数</th>
          <th>残席</th>
          <th>チェックイン済</th>
        </tr>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.title %></td>
            <td><%= ticket.stock %></td>
            <td><%= ticket.occupied %></td>
            <td><%= ticket.remaining_stock %></td>
            <td><%= ticket.check_ins.size %></td>
          </tr>
        <% end %>
      </table>
    </div>


    <div class="col-12">
      <h2>Talks</h2>
      <table class="table table-striped talks_table" >
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">登録者数</th>
        </tr>
        </thead>
        <tbody>
        <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.id %></td>
            <td><%= talk.title %></td>
            <td><%= talk.registered_talks.size %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
