<%= render 'layout' do %>
  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <div class="tw-col-span-12 tw-mb-4">
      <h2>Session stats</h2>
    </div>
    <div class="tw-col-span-12 tw-mb-4">
      <h3>Export to CSV</h3>
      <%= button_to 'エクスポート', admin_export_statistics_path, {method: :get } %>
    </div>

    <div class="tw-col-span-12">
      <h2>Talks</h2>
      <table class="tw-w-full tw-border tw-border-gray-200 talks_table" >
        <thead class="tw-bg-gray-100">
        <tr>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">ID</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Title</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">登録者数(現地)</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">登録者数(オンライン)</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">チェックイン数</th>
          <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">オンライン視聴数</th>
        </tr>
        </thead>
        <tbody class="tw-divide-y tw-divide-gray-200">
        <% @talks.each do |talk| %>
          <tr class="odd:tw-bg-white even:tw-bg-gray-50">
            <td class="tw-px-4 tw-py-2"><%= talk.id %></td>
            <td class="tw-px-4 tw-py-2"><%= talk.title %></td>
            <td class="tw-px-4 tw-py-2"><%= @offline_counts_by_talk[talk.id] %></td>
            <td class="tw-px-4 tw-py-2"><%= @online_counts_by_talk[talk.id] %></td>
            <td class="tw-px-4 tw-py-2"><%= @check_in_counts_by_talk[talk.id] || 0 %></td>
            <td class="tw-px-4 tw-py-2"><%= @online_viewers_by_talk[talk.id] || 'N/A' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
