<%= render 'layout' do %>
  <div class="row">
    <div class="col-12 form-group">
      <h2>Session stats</h2>
    </div>
    <div class="col-12 form-group">
      <h3>Export to CSV</h3>
      <%= button_to 'エクスポート', admin_export_statistics_path, {method: :get } %>
    </div>

    <div class="col-12">
      <h2>Talks</h2>
      <table class="table table-striped talks_table" >
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">登録者数(現地)</th>
          <th scope="col">登録者数(オンライン)</th>
          <th scope="col">チェックイン数</th>
          <th scope="col">オンライン視聴数</th>
        </tr>
        </thead>
        <tbody>
        <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.id %></td>
            <td><%= talk.title %></td>
            <td><%= @offline_counts_by_talk[talk.id] %></td>
            <td><%= @online_counts_by_talk[talk.id] %></td>
            <td><%= @check_in_counts_by_talk[talk.id] || 0 %></td>
            <td><%= @online_viewers_by_talk[talk.id] || 'N/A' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
