<%= render 'layout' do %>
  <div class="row">
    <h2>Registered users</h2>
  </div>

  <div class="row">
    <h2>Export to CSV</h2>
    <div class="col-12 form-group">
      <%= button_to 'エクスポート', admin_export_profiles_path, {method: :get } %>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Sub</th>
      </tr>
      </thead>
      <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.first_name %></td>
          <td><%= profile.last_name %></td>
          <td><%= profile.sub %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
