<div class="container">
    <%= render 'message' %>
    <%= render 'navigator' %>

    <div class="row">
        <h2>Registered users</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Sub</th>
                </tr>
            </thead>
            <tbody>
                <% @profiles.each do |profile| %>
                    <tr>
                        <td><%= profile.first_name %></td>
                        <td><%= profile.last_name %></td>
                        <td><%= profile.sub %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>