<div class="container">
  <div class="row speaker-dashboard-form justify-content-center">
    <div class="col-12 col-lg-12 py-3 px-md-5">
      <h1 class="text-center py-3 entry">共同スピーカーとして登録する</h1>
      <% flash.each do |type, message| %>
        <div class="alert alert-warning" role="alert">
          <%= message %>
        </div>
      <% end %>

      <% if flash.keys.size == 0 %>
        プロポーザル 「<%= @talk.title %> (<%= @talk.speaker_names.join('/') %>)」に共同スピーカーとして登録します。登録する場合は下記の登壇者情報を入力し、「登録する」ボタンをクリックしてください。


        <%= form_with(url: speaker_invitation_accepts_path, model: @speaker) do |form| %>
          <%= form.hidden_field :speaker_invitation_id, value: @speaker_invitation.id %>

          <section class="speaker-information py-3">
            <%= render('speaker_dashboard/speakers/form_speaker', form: form) %>
          </section>

          <div class="field actions justify-content-center py-3">
            <%= form.submit class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
