<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="container">
        <div class="row py-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= @talk.title %></h5>
              <p class="card-text"><%= @talk.abstract %></p>
              <p class="card-text">Speaker: <%= raw(@talk.speakers.map { |speaker| raw(link_to(speaker.name, speaker))}.join(', ')) %></p>
              <p class="card-text">Main Category: <%= @talk.talk_category.name %></p>
              <p class="card-text">Audience Experience Level: <%= @talk.talk_difficulty.name %></p>
            </div>
          </div>
        </div>

        <% @talk.speakers.each do |speaker| %>
          <div class="row py-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= speaker.name %></h5>
                <% if speaker.profile != "" %>
                  <p class="card-text">Profile: <%= speaker.profile %></p>
                <% end %>
                <% if speaker.company != "" %>
                  <p class="card-text">Company: <%= speaker.company %></p>
                <% end %>
                <% if speaker.job_title != "" %>
                  <p class="card-text">Job Title: <%= speaker.job_title %></p>
                <% end %>
                <% if speaker.twitter_id != "" %>
                  <p class="card-text">Twitter: <a href="https://twitter.com/<%= speaker.twitter_id %>"><%= speaker.twitter_id %></a></p>
                <% end %>
                <% if speaker.github_id != "" %>
                  <p class="card-text">Github: <a href="https://github.com/<%= speaker.github_id %>"><%= speaker.github_id %></a></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
