<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Sessions</h1>
  <div class="card-deck">
    <% @talks.each_slice(3) do |sliced_talks| %>
      <div class="row py-3">
        <% sliced_talks.each do |talk| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to talk.title, talk %></h5>
              <p class="card-text">Speaker: <% talk.speakers.each do |speaker| %><%= link_to speaker.name, speaker %>,<% end %></p>
              <p class="card-text">Main Category: <%= talk.talk_category.name %></p>
              <p class="card-text">Audience Experience Level: <%= talk.talk_difficulty.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
