<% content_for(:ogp) do%>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= full_title(@talk.title) %>" />
  <meta property="og:description" content="<%= @talk.abstract[0, 100] %>" />
  <% if @talk.speakers.length != 0 %>
    <% if @talk.speakers[0].avatar_url.nil? %>
      <meta property="og:image" content="<%= image_url 'dummy.png' %>" />
    <% else %>
      <meta property="og:image" content="<%= image_url @talk.speakers[0].avatar_url %>" />
    <% end %>
  <% end %>
<% end %>
<% provide(:title, @talk.title) %>

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-lg-9 main-pane">
            <div class="row">
                <div class="col-12">
                    <div class="talk">
                        <h3>
                          <%= @talk.title %> &nbsp;
                          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-hashtags="#CNDT2020">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                          <span class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></span>
                        </h3>
                        <h4>
                            Track <%= @talk.track_name %> <%= @talk.conference_day.date.strftime("%m/%d") %> <%= @talk.start_time.strftime("%H:%M") %>-<%= @talk.end_time.strftime("%H:%M") %>
                        </h4>
                        <div class="category_difficulty block">
                            <% if @talk.talk_difficulty_id != 4 && @talk.talk_category_id != 18 %>
                              <span class="difficulty difficulty_<%= @talk.talk_difficulty_id %>">
                                <%= @talk.talk_difficulty.name %>
                              </span>
                            <% end %>
                            &nbsp;
                            <span class="difficulty category_<%= @talk.talk_category_id %>">
                              <%= @talk.talk_category.name %>
                            </span>
                        </div>
                        
                        
                        <p><%= @talk.abstract %></p>

                        <% @talk.speakers.each do |speaker| %>
                        <div class="row py-3">
                            <div class="col-auto col-md-auto">
                                <div class="avatar">
                                    <% if speaker.avatar_url.nil? %>
                                    <%= image_tag 'dummy.png', :size => '90x90' %>
                                    <% else %>
                                    <%= image_tag speaker.avatar_url, :size => '90x90' %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col">
                                <h5>
                                    <%= speaker.name %>
                                    <%= link_to image_tag("Twitter_Social_Icon_Circle_Color.png", width: 20), "https://twitter.com/#{speaker.twitter_id}" if speaker.twitter_id != "" %>
                                    <%= link_to image_tag("GitHub-Mark-64px.png", width: 20), "https://github.com/#{speaker.github_id}" if speaker.github_id != "" %>
                                </h5>
                                <h6 class="card-subtitle text-muted mb-1">
                                    <%= speaker.company if speaker.company != "" %>
                                </h6>
                                <h6 class="card-subtitle text-muted mb-1">
                                    <%= speaker.job_title if speaker.job_title != "" %>
                                </h6>

                                <% if speaker.profile != "" %>
                                <p class="card-text"><%= speaker.profile %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>

                        <div class="col-12 text-center my-4">
                            <%= button_to 'タイムテーブル', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 sub-pane mt-3 mt-lg-0">
            <div class="social">
                <a class="twitter-timeline" data-height="600" href="https://twitter.com/cloudnativedays?ref_src=twsrc%5Etfw">Tweets by cloudnativedays</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<% @message_box = "タイムテーブルから聴講予定セッションの登録・変更ができます。" %>