<% content_for(:ogp) do%>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= full_title(@talk.title) %>" />
  <meta property="og:description" content="<%= @talk.abstract[0, 100] %>" />
  <% if @talk.speakers.length != 0 %>
    <meta property="og:image" content="<%= image_url @talk.speakers[0].avatar_or_dummy_url %>" />
  <% end %>
<% end %>
<% provide(:title, @talk.title) %>

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-lg-8 main-pane">
            <div class="row">
                <div class="col-12">
                    <div class="talk">
                        <h3>
                          <%= @talk.title %> &nbsp;
                          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-hashtags="CNDT2020">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                          <span class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></span>
                        </h3>
                        <h4>
                            (Day<%= @talk.day %>) <%= @talk.conference_day.date.strftime("%m/%d") %> <%= @talk.start_time.strftime("%H:%M") %>-<%= @talk.end_time.strftime("%H:%M") %> - Track <%= @talk.track.name %> 
                        </h4>
                        <div class="category_difficulty block">
                            <% if @talk.talk_difficulty_id != 4 && @talk.talk_category_id != 18 %>
                              <span class="difficulty difficulty_<%= @talk.talk_difficulty_id %>">
                                <%= @talk.talk_difficulty.name %>
                              </span>
                            <% end %>
                            &nbsp;
                            <span class="difficulty category_<%= @talk.talk_category_id %>">
                              <%= @talk.talk_category.name %>
                            </span>
                        </div>

                        <% if !(@conference.opened? || @conference.registered?) || @current_user %>
                            <% if @talk.video_published && @talk.video.present? %>
                                <div class="mb-2">
                                    <div style="padding:56.25% 0 0 0;position:relative;">
                                        <iframe src="https://player.vimeo.com/video/<% @talk.video.video_id %>" id="video" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                        
                        
                        <p><%= @talk.abstract %></p>

                        <% @talk.speakers.each do |speaker| %>
                        <div class="row py-3">
                            <div class="col-auto col-md-auto">
                                <div class="avatar">
                                    <%= image_tag speaker.avatar_or_dummy_url, :size => '90x90' %>
                                </div>
                            </div>
                            <div class="col">
                                <h5>
                                    <%= speaker.name %>
                                    <%= speaker.twitter_link %>
                                    <%= speaker.github_link %>
                                </h5>
                                <h6 class="card-subtitle text-muted mb-1">
                                    <%= speaker.company if speaker.company != "" %>
                                </h6>
                                <h6 class="card-subtitle text-muted mb-1">
                                    <%= speaker.job_title if speaker.job_title != "" %>
                                </h6>

                                <% if speaker.profile != "" %>
                                <p class="card-text"><%= speaker.profile %></p>
                                <% end %>
                            </div>
                            <% if @talk.document_url.present? %>
                            <div class="col-12 my-3 pt-2" style="border-top: 1px solid #CCC">
                                <ul>
                                    <li><a href="<%= @talk.document_url %>" target="_blank">発表資料</a></li>
                                </ul>
                            </div>
                            <% end %>
                        </div>
                        <% end %>

                        <div class="col-12 text-center my-4">
                            <%= button_to 'タイムテーブル', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 sub-pane mt-3 mt-lg-0">
            <% if @current_user && @talk.video.present? && @talk.video.slido_id.present? %>
                <iframe src="https://app.sli.do/event/<% @talk.video.slido_id %>" id="slido" class="tab-pane" frameborder="0" style="min-height: 560px; width: 100%"></iframe>
            <% else %>
                <div class="social">
                    <a class="twitter-timeline" data-height="600" href="https://twitter.com/cloudnativedays?ref_src=twsrc%5Etfw">Tweets by cloudnativedays</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% @message_box = "タイムテーブルから聴講予定セッションの登録・変更ができます。" %>

<% if @conference.opened? && @current_user %>
<script>
  window.talk_id = "<%= @talk.id %>";
</script>
<%= javascript_pack_tag 'talks.js' %>
<% end %>