<% content_for(:ogp) do%>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= full_title(@talk.title) %>" />
  <meta property="og:description" content="<%= @talk.abstract[0, 100] %>" />
  <% if @talk.speakers.length != 0 %>
    <meta property="og:image" content="<%= image_url @talk.speakers[0].avatar_or_dummy_url %>" />
  <% end %>
<% end %>
<% provide(:title, @talk.title) %>

<div class="container">
  <div class="row my-3">

    <div class="col-12 col-lg-8 main-pane">
      <%= render 'talks/partial_show/col_main_pane', talk: @talk, conference: @conference %>
    </div>

    <div class="col-12 col-lg-4 sub-pane mt-3 mt-lg-0">
      <%= render 'talks/partial_show/col_sub_pane', talk: @talk %>
    </div>

  </div>
</div>

<% @message_box = "タイムテーブルから聴講予定セッションの登録・変更ができます。" %>

<% if @conference.opened? && @current_user %>
  <script>
      window.talk_id = "<%= @talk.id %>";
  </script>
  <%= javascript_pack_tag 'talks.js' %>
<% end %>
