<% content_for(:ogp) do%>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= full_title(@talk.title) %>" />
  <meta property="og:description" content="<%= @talk.abstract[0, 100] %>" />
  <% if @talk.speakers.length != 0 %>
    <meta property="og:image" content="<%= image_url @talk.speakers[0].avatar_or_dummy_url %>" />
  <% end %>
<% end %>
<% provide(:title, @talk.title) %>
<div class="container white_background talk-page"
  <% if current_user && (@conference.opened? || @conference.closed?) %>
    data-controller="talk-logger"
    data-talk-logger-talk-id-value="<%= @talk.id %>"
    data-talk-logger-talk-name-value="<%= @talk.title %>"
    data-talk-logger-profile-id-value="<%= @profile.id %>"
    data-talk-logger-weaver-url-value="<%= vote_api_url %>"
  <% end %>
>
  <div class="row my-3">

    <div class="col-12 col-lg-8 main-pane">
      <%= render 'talks/partial_show/col_main_pane', talk: @talk, conference: @conference %>
    </div>

    <div class="col-12 col-lg-4 sub-pane mt-3 mt-lg-0">
      <%= render 'talks/partial_show/col_sub_pane', talk: @talk %>
    </div>

    <% if @conference.attendee_entry_enabled? %>
      <div class="col-12 p-3 other-talks">
        <%= render 'talks/partial_show/col_other_talks', conference: @conference %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'vote_cfp.js' %>
