<% provide(:title, 'スタンプラリーチェックイン') %>

<div class="container white_background mt-3">
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= alert_type(message_type) %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 my-4">
      <h2 class="text-center">CP: <%= @stamp_rally_check_point.name %></h2>
    </div>

    <div class="col-12 my-4 text-center">
      <% if @stamp_rally_check_point.kind_of?(StampRallyCheckPointBooth) %>
        <p>チェックインしますか？</p>
      <% else %>
        <p>スタンプラリーを全て回り終わりました。フィニッシュしますか？</p>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-12 my-4 text-center">
      <% if @stamp_rally_check_point.kind_of?(StampRallyCheckPointBooth) %>
        <%= form_with(url: stamp_rally_check_ins_path, model: @stamp_rally_check_in, method: :post) do |form| %>
          <%= form.hidden_field :stamp_rally_check_point_id, value: @stamp_rally_check_point.id %>
          <%= form.submit "Check In", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
