<%= form_with(url: admin_conference_path, model: conference_form, local: true, method: :patch) do |form| %>

  <h3>Conference Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <% @conference_form.conference.class.conference_statuses.keys.each do |key| %>
        <%= form.radio_button :conference_status, key %>
        <%= form.label :conference_status, key %><br>
      <% end %>
    </div>
  </div>

  <h3>Speaker Entry Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <% @conference_form.conference.class.speaker_entries.keys.each do |key| %>
        <%= form.radio_button :speaker_entry, key %>
        <%= form.label :speaker_entry, key %><br>
      <% end %>
    </div>
  </div>

  <h3>Rehearsal Mode</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.check_box :rehearsal_mode %>
      <%= form.label :rehearsal_mode, 'On' %><br>
    </div>
  </div>

  <h3>Proposal Result Visible Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.check_box :cfp_result_visible %>
      <%= form.label :cfp_result_visible, 'Visible' %><br>
    </div>
  </div>

  <h3>Attendee Entry Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <% @conference_form.conference.class.attendee_entries.keys.each do |key| %>
        <%= form.radio_button :attendee_entry, key %>
        <%= form.label :attendee_entry, key %><br>
      <% end %>
    </div>
  </div>

  <h3>Timetable Visible Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <% @conference_form.conference.class.show_timetables.keys.each do |key| %>
        <%= form.radio_button :show_timetable, key %>
        <%= form.label :show_timetable, key %><br>
      <% end %>
    </div>
  </div>

  <h3>Sponsors Visible Status</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.check_box :show_sponsors %>
      <%= form.label :show_sponsors, 'Visible' %><br>
    </div>
  </div>

  <h3>Links</h3>
  <div class="link-fields">
    <%= form.fields_for :links do |f| %>
      <%= render 'admin/conferences/link_fields', :f => f %>
    <% end %>
  </div>

  <p><%= link_to_add_link_fields "Add Link", form, :links, class: 'add-link btn btn-primary' %></p>

  <h3>Conference Days</h3>

  <div class="conference-day-fields">
    <%= form.fields_for :conference_days do |f| %>
      <%= render 'admin/conferences/conference_day_fields', :f => f %>
    <% end %>
  </div>

  <h3>Conference briefs</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.text_field :brief %>
    </div>
  </div>

  <h3>Privaty Policy (for attendees)</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.text_area :privacy_policy, {class: "privacy-policy"} %>
    </div>
  </div>

  <h3>Privaty Policy (for speakers)</h3>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.text_area :privacy_policy_for_speaker, {class: "privacy-policy"} %>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>


<% end %>