<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <div class="row">
    <h2>Export to CSV</h2>
    <div class="col-12 form-group">
      <%= button_to 'エクスポート', admin_export_speakers_path, {method: :get } %>
    </div>
  </div>
  <div class="row">
    <h2>Speakers</h2>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Profile</th>
        <th scope="col">Company</th>
        <th scope="col">Job title</th>
        <th scope="col">Twitter</th>
        <th scope="col">GitHub</th>
      </tr>
      </thead>
      <tbody>
      <% @speakers.each do |speaker| %>
        <tr>
          <% if speaker.has_avatar? %>
            <td class="avatar"><%= image_tag speaker.avatar_url, :size => '80x80'  %></td>
          <% else %>
            <td class="avatar"><%= image_tag 'dummy.png', :size => '80x80'  %></td>
          <% end %>
          <td><%= speaker.name %></td>
          <td><%= speaker.profile %></td>
          <td><%= speaker.company %></td>
          <td><%= speaker.job_title %></td>
          <td><%= speaker.twitter_id %></td>
          <td><%= speaker.github_id %></td>
          <td><%= link_to 'Edit', "speakers/#{speaker.id}/edit" %></td>
          <td><%= link_to 'Notice', "speaker_announcements/new?speaker_id=#{speaker.id}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
