<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>


  <div class="row">
    <h2>スピーカーの会場受付状況</h2>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">受付状況</th>
        <th scope="col">受付時刻</th>
        <th scope="col">名前</th>
        <th scope="col">所属</th>
        <th scope="col">セッション種別</th>
        <th scope="col">セッションタイトル</th>
      </tr>
      </thead>
      <tbody>
      <% @talks.each do |talk| %>
        <% talk.speakers.each do |speaker| %>
          <tr>
            <td><%= speaker_check_in_status(speaker) %></td>
            <td>
              <% if speaker.attendee_profile&.check_in_conferences&.present? %>
                <%= speaker.attendee_profile&.check_in_conferences&.order(check_in_timestamp: :asc)&.first&.check_in_timestamp  %>
              <% else %>
              <% end %>
            <td><%= speaker.name %></td>
            <td><%= speaker.company %></td>
            <td><%= session_type_name(talk) %></td>
            <td><%= talk.title %></td>
            <td>
              <% if speaker.attendee_profile&.check_in_conferences.nil? || speaker.attendee_profile&.check_in_conferences&.empty? %>
                <%= form_with(url: admin_check_in_events_path, method: "post", remote: true) do |f| %>
                  <%= f.hidden_field "check_in_event[profile_id]", value: speaker.attendee_profile&.id %>
                  <%= f.submit 'チェックイン', data: { confirm: "#{speaker.attendee_profile&.last_name} #{speaker.attendee_profile&.first_name} をチェックインする"} %>
                <% end %>
              <% else %>
                チェックイン済み
                <%= form_with(url: admin_check_in_events_path, method: "delete", remote: true) do |f| %>
                  <%= f.hidden_field "check_in_event[profile_id]", value: speaker.attendee_profile.id %>
                  <%= f.submit '(チェックインをキャンセル)', data: { confirm: "#{speaker.attendee_profile.last_name} #{speaker.attendee_profile.first_name} のイベントへのチェックインをキャンセルしますか？"} %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
