<% @conference.conference_days.each do |conference_day| %>
  <% tracks = @conference.tracks.map {|track| track.name } %>
  <% unless conference_day.internal  %>
    <section class="timetable">
      <div class="grid" style="--rows: 1">
        <h2><%= conference_day.date %></h2>
      </div>
    </section>

    <section class="timetable">
      <%= render partial: 'talk', locals: {header: "12:30～14:10 Keynote",
                                          conference_day: conference_day,
                                          from: "12:30",
                                          to: "14:10",
                                          tracks: tracks,
                                          form: form} %>
    </section>

    <section class="timetable">
      <%= render partial: 'talk', locals: {header: "14:20～14:50 Sponsor Session",
                                          conference_day: conference_day,
                                          from: "14:20",
                                          to: "14:50",
                                          tracks: tracks,
                                          form: form} %>
    </section>

    <section class="timetable">
      <%= render partial: 'talk', locals: {header: "15:00～16:20 Breakout Session",
                                          conference_day: conference_day,
                                          from: "15:00",
                                          to: "16:20",
                                          tracks: tracks,
                                          form: form} %>
    </section>

    <section class="timetable">
      <%= render partial: 'talk', locals: {header: "16:50～17:20 Sponsor Session",
                                          conference_day: conference_day,
                                          from: "16:50",
                                          to: "17:20",
                                          tracks: tracks,
                                          form: form} %>
    </section>

    <section class="timetable">
      <%= render partial: 'talk', locals: {header: "17:30～18:50 Breakout Session",
                                          conference_day: conference_day,
                                          from: "17:30",
                                          to: "18:50",
                                          tracks: tracks,
                                          form: form} %>
    </section>
  <% end %>
<% end %>
<% if form %>
  <div class="timetable-footer">
    <div class="container">
      <div class="row justify-content-md-center mt-1">
        <div class="col-12 col-md-8" style="line-height: 90%;">
          <span class="information">視聴したいセッションを選択してください。配信終了後に、セッションのアーカイブ視聴も可能です(一部除く)。</span>
        </div>
      </div>
      <div class="row form-group justify-content-md-center mt-2 mb-3">
        <div class="col-12 col-md-4">
          <%= form.submit "セッション登録", class: "btn btn-danger form-control btn-lg" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
