<% @conference.conference_days.each do |conference_day| %>
  <section id="timetable">
    <h2><%= conference_day.date %></h2>

    <div id="container" style="--rows: <%= ((conference_day.end_time.hour - conference_day.start_time.hour) * 6) + 1 %>">
      <%
=begin%>
 <% (conference_day.start_time.hour...conference_day.end_time.hour).each_with_index do |time, index| %>
        <div style="--duration: 60; --row-start: <%= ((index) * 7) - index + 2%>; --row-end: <%= ((index+1) * 7 + 1) - index %>;" class="slot"><%=  "%02d:00" % time %></div>
      <% end %> 
<%
=end%>

      <% ["A","B","C","D","E","F"].each_with_index do |track_name, n| %>
          <div class="track <%= 'even' if n.zero? || n.even? %>" style="--track: <%= n %>"><%= "Track #{track_name}" %></div>
      <% end %>

      <% talk_numbers = [] %>
      <% conference_day.talks.each do |talk| %>
        <div class="talk" style="--track: <%= talk.track %>; --duration: 60; --row-start: <%= talk.row_start%>; --row-end: <%= talk.row_end  %>;">
          <% unless talk_numbers.include?(talk.talk_number) %>
            <% if defined? form %>
              <%= form.radio_button "talks[#{talk.day}_#{talk.slot_number}]", talk.track, checked: talks_checked?(talk.id) %>
            <% end %>
            <% talk_numbers << talk.talk_number %>
          <% end %>
          <%= link_to talk_path(id: talk.id), remote: true do %>
            <div class="content">
              <h6><%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %></h6>
              <% if talk.talk_difficulty_id != 4 && talk.talk_category_id != 4 %>
              <div class="category_difficulty">
                <span class="difficulty"><%= talk.talk_difficulty.name %></span>
                <span class="difficulty"><%= talk.talk_category.name %></span>
              </div>
              <h5><%= talk.title %></h5>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<% if defined? form %>
  <div class="container">
    <div class="row form-group justify-content-md-center my-4">
      <%= form.submit "登録", class: "btn btn-primary form-control " %>
    </div>
  </div>
<% end %>