<% @conference.conference_days.each do |conference_day| %>
  <section class="timetable">
    <div class="grid" style="--rows: 1">
      <h2><%= conference_day.date %></h2>
    </div>
  </section>
  <section class="timetable">
    <div class="grid" style="--rows: <%= ((conference_day.end_time.hour - conference_day.start_time.hour) * 6) + 1 %>">
      <% ["A","B","C","D","E","F"].each_with_index do |track_name, n| %>
          <div class="track <%= 'even' if n.zero? || n.even? %>" style="--track: <%= n %>"><%= "Track #{track_name}" %></div>
      <% end %>

      <% talk_numbers = [] %>
      <% conference_day.talks.each do |talk| %>
        <div class="talk" style="--track: <%= talk.track.to_i - 1 %>; --duration: 60; --row-start: <%= talk.row_start %>; --row-end: <%= talk.row_end  %>;">
          <div class="content">
            <% unless talk_numbers.include?(talk.talk_number) %>
            <% if defined? form %>
              <div class="radio">
                <%= form.radio_button "talks[#{talk.day}_#{talk.slot_number}]", talk.track, checked: talks_checked?(talk.id) %>
                <label for="<%= "talks[#{talk.day}_#{talk.slot_number}]_#{talk.track}" %>" class="radio-label"></label>
              </div>
            <% end %>
            <% talk_numbers << talk.talk_number %>
          <% end %>
            <h6><%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %></h6>
            
            <div class="category_difficulty">
              <% if talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
              <span class="difficulty difficulty_<%= talk.talk_difficulty_id %>"><%= talk.talk_difficulty.name %></span>
              <% end %>
              <span class="difficulty category_<%= talk.talk_category_id %>"><%= talk.talk_category.name %></span>
            </div>
            
            <h5><%= link_to talk_path(id: talk.id), remote: true do %><%= talk.title %><% end %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<% if defined? form %>
  <div class="container">
    <div class="row form-group justify-content-md-center my-4">
      <%= form.submit "登録", class: "btn btn-primary form-control " %>
    </div>
  </div>
<% end %>