<% @conference.conference_days.each do |conference_day| %>
  <section id="timetable">
    <h2><%= conference_day.date %></h2>

    <div id="container" style="--rows: <%= ((conference_day.end_time.hour - conference_day.start_time.hour) * 6) + 1 %>">
      <% (conference_day.start_time.hour...conference_day.end_time.hour).each_with_index do |time, index| %>
        <div style="--duration: 60; --row-start: <%= ((index) * 7) - index + 2%>; --row-end: <%= ((index+1) * 7 + 1) - index %>;" class="slot"><%=  "%02d:00" % time %></div>
      <% end %>

      <% 6.times.each do |n| %>
        <% if n.zero? || n.even? %>
          <div class="track even" style="--track: <%= n+1 %>"><%= "Track#{n+1}" %></div>
        <% else %>
          <div class="track" style="--track: <%= n+1 %>"><%= "Track#{n+1}" %></div>
        <% end %>
      <% end %>

      <% talk_numbers = [] %>
      <% @conference.talks.each do |talk| %>
        <div class="talk" style="--track: <%= talk.track %>; --duration: 60; --row-start: <%= talk.row_start%>; --row-end: <%= talk.row_end  %>;">
          <% unless talk_numbers.include?(talk.talk_number) %>
            <% if defined? form %>
              <%= form.radio_button "talks[#{talk.day}_#{talk.slot_number}]", talk.track, checked: talks_checked?(talk.id) %>
            <% end %>
            <% talk_numbers << talk.talk_number %>
          <% end %>
          <%= link_to talk_path(id: talk.id), remote: true do %>
            <div class="content">
              <h6><%= talk.title %> / <%= talk.speakers.map { |speaker| speaker.name }.join(" / ") %></h6>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<% if defined? form %>
  <div class="container">
    <div class="row form-group justify-content-md-center my-4">
      <%= form.submit "登録", class: "btn btn-primary form-control " %>
    </div>
  </div>
<% end %>