<% @conference.conference_days.each do |conference_day| %>
  <% unless conference_day.internal  %>
  <section class="timetable">
    <div class="grid" style="--rows: 1">
      <h2><%= conference_day.date %></h2>
    </div>
  </section>
  <section class="timetable">
    <div class="grid" style="--rows: <%= ((conference_day.end_time.hour - conference_day.start_time.hour) * 6) + 1 %>">
      <% ["A","B","C","D","E","F"].each_with_index do |track_name, n| %>
          <div class="track <%= 'even' if n.zero? || n.even? %>" style="--track: <%= n %>"><%= "Track #{track_name}" %></div>
      <% end %>

      <% talk_numbers = []; day_slots = [] %>
      <% conference_day.talks.where(show_on_timetable: true).each do |talk| %>
        <div class="talk" slot="<%= talk.slot_number %>" style="--track: <%= talk.track.number - 1 %>; --duration: 60; --row-start: <%= talk.row_start %>; --row-end: <%= talk.row_end  %>;">
          <% day_slot = "#{talk.day}_#{talk.slot_number}" %>
          <div class="content <%= 'checked' if @current_user && talks_checked?(talk.id) %>  <%= 'first' unless day_slots.include?(day_slot) %>"
               slot="<%= talk.slot_number %>"
               day_slot="<%= day_slot %>"
               talk_number="<%= talk.talk_number %>">
            <% unless talk_numbers.include?(talk.talk_number) %>
            <% if defined? form %>
              <div class="radio">
                <%= form.radio_button "talks[#{day_slot}]",
                                      talk.track_id.to_s,
                                      { day_slot: day_slot, checked: talks_checked?(talk.id), talk_number: talk.talk_number} %>
                <label for="<%= "talks[#{day_slot}]_#{talk.track_id.to_s}" %>" class="radio-label"></label>
              </div>
            <% end %>
            <% 
              talk_numbers << talk.talk_number
              day_slots << day_slot
            %>
          <% end %>
            <h6><span class="track_name">Track <%= talk.track.name %>&nbsp;</span><%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %></h6>
            
            <div class="category_difficulty">
              <% if talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
                <span class="difficulty difficulty_<%= talk_difficulty(talk.id).id %>"><%= talk_difficulty(talk.id).name %></span>
              <% end %>
              <span class="difficulty category_<%= talk_category(talk.id).id %>"><%= talk_category(talk.id).name %></span>
            </div>
            
            <h5><%= link_to talk_path(id: talk.id), remote: true do %><%= talk.title %><% end %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <% end %>
<% end %>
<% if defined? form %>
  <div class="timetable-footer">
    <div class="container">
      <div class="row justify-content-md-center mt-1">
        <div class="col-12 col-md-8" style="line-height: 90%;">
          <span class="information">視聴したいセッションを選択してください。同一時間帯に1セッションのみ選択可能ですが、選択していないセッションのタイムシフト視聴も可能です(一部除く)。</span>
        </div>
      </div>
      <div class="row form-group justify-content-md-center mt-2 mb-3">
        <div class="col-12 col-md-4">
          <%= form.submit "セッション登録", class: "btn btn-danger form-control btn-lg" %>
        </div>
      </div>
    </div>
  </div>
<% end %>