<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="container">
  <h1 class="my-3 text-center">タイムテーブル</h1>
</div>

<% if @current_user %>
  <%= form_with url: 'profiles/talks', method: :post do |form| %>
    <% if @params[:event] == 'cndo2021' %>
      <%= render partial: 'timetable_cndo2021', locals: {conference: @conference, form: form} %>
    <% else %>
      <%= render partial: 'timetable', locals: {conference: @conference, form: form} %>
    <% end %>
  <% end %>
<% else %>
  <% if @params[:event] == 'cndo2021' %>
    <%= render 'timetable_cndo2021', conference: @conference, form: nil %>
  <% else %>
    <%= render 'timetable', conference: @conference %>
  <% end %>
<% end %>


<% 
if @current_user
  if flash.empty?
    @message_box = "聞きたいセッションを登録しましょう。セッション名をクリックすると詳細が表示されます。"
  else
    flash.each do |message_type, message|
      @message_box = message
    end
  end
end
%>
