<%= turbo_frame_tag stamp_rally_check_point.becomes(StampRallyCheckPoint) do %>
  <%= form_with(model: [:admin, stamp_rally_check_point.becomes(StampRallyCheckPoint)],
                url: @stamp_rally_check_point.new_record? ? admin_stamp_rally_check_points_path(event: params[:event]) : admin_stamp_rally_check_point_path(@stamp_rally_check_point, event: params[:event]),
                data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <% if stamp_rally_check_point.errors.any? %>
      <ul>
        <% stamp_rally_check_point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row py-2 border-top" data-controller="sponsor">
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :type, class: "form-label" %>
        <% p type_options %>
        <%= form.select :type, options_for_select(type_options, selected: stamp_rally_check_point.type), {},
                        {
                          class: "form-select",
                          id: "stamp_rally_check_point_type",
                          data: {
                            target: "sponsor.type",
                            action: "change->sponsor#handleTypeChange"
                          }
                        }
        %>
      </div>
      <div class="mb-3" data-target="sponsor.sponsorField" >
        <%= form.label :sponsor_id, class: "form-label"  %>
        <%= form.collection_select :sponsor_id, sponsors, :id, :name, {include_blank: true},
                                   {
                                     class: "form-select",
                                     id: "stamp_rally_check_point_sponsor_id"
                                   }
        %>
      </div>

      <div class="mb-3">
        <div class="d-flex justify-content-end">
          <%= form.submit class: "btn btn-primary btn-sm me-2" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
