<% provide(:title, 'スタンプラリーチェックポイント一覧') %>
<%= render 'admin/layout' do %>
  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <h2>スタンプラリー</h2>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <h3>設定</h3>
  </div>

  <%= turbo_frame_tag @stamp_rally_configure do %>
    <%= render 'admin/stamp_rally_configures/stamp_rally_configure', stamp_rally_configure: @stamp_rally_configure %>
  <% end %>


  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <h3>チェックポイント</h3>
  </div>

  <%= turbo_frame_tag "stamp_rally_check_point_list" do %>
    <div class="tw-flex md:tw-w-1/3">
      <%= link_to "登録",
                  new_admin_stamp_rally_check_point_path,
                  class: "tw-inline-block tw-rounded tw-border-2 tw-border-blue-600 tw-px-4 tw-py-2 tw-font-bold tw-text-blue-600 hover:tw-bg-blue-600 hover:tw-text-white",
                  data: { turbo_frame: "modal" }
      %>
    </div>


    <div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-border-t tw-py-2">
      <div class="tw-col-span-1"></div>
      <div class="tw-col-span-2 tw-my-auto">Type</div>
      <div class="tw-col-span-2 tw-my-auto">Name</div>
      <div class="tw-col-span-2 tw-my-auto">Sponsor Name</div>
      <div class="tw-col-span-2 tw-my-auto"></div>
      <div class="tw-col-span-1 tw-my-auto"></div>
      <div class="tw-col-span-1 tw-my-auto"></div>
    </div>
    <div id="stamp_rally_check_points" data-controller="drag-drop">
      <% @stamp_rally_check_points.each do |stamp_rally_check_point| %>
        <%= render 'admin/stamp_rally_check_points/stamp_rally_check_point', conference: @conference, stamp_rally_check_point: stamp_rally_check_point %>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag "modal" %>
  <div id="flashes" class="tw-fixed tw-bottom-0 tw-right-0" style="margin: 0.75rem"></div>

<% end %>
