<div id="<%= @conference.abbr %>" >
  <div class="contents">

    <section id="masthead">
      <div class="container">
        GO<br/>
        GREEN
      </div>
    </section>

    <section class="page-section" id="entry">
      <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-12 align-self-center">
            <% if @conference.closed? || @conference.archived?%>
              <%= render 'event/partial/buttons', conference: @conference %>
            <% else %>
              <%= render 'event/partial/speaker_entry_button', conference: @conference %>
              <%= render 'event/partial/attendee_entry_button', conference: @conference %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 my-4">
            <h1 class="text-center">2022/08/05(Fri)</h1>
            <h2 class="text-center">オンライン</h2>
          </div>

          <div class="col-12 col-md-8 my-4 pt-4">
            <h1><span class="orange-underline">持続可能な</span>、<span class="secondary-underline">セキュリティを実現</span></h1>
            <% @conference.about.split("\n").each do |line| %>
              <p><%= line %></p>
            <% end %>
          </div>
          <div class="col-12 col-md-4  my-4 pt-4">
            <%= image_tag 'o11y2022/inspector.jpg' %>
          </div>
        </div>
      </div>
    </section>

    <% if @conference.present? && @conference.show_timetable_enabled? %>
      <section class="timetable">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h2 class="text-white mt-0">Sessions</h2>
              <hr class="divider light my-4" />
            </div>
          </div>
          <% @conference.conference_days.each do |conference_day| %>
            <% unless conference_day.internal  %>
            <div class="top-timetable">
              <div class="grid"
                  style="--rows: <%= ((conference_day.end_time.hour - conference_day.start_time.hour) * 60) + 10 %>">
                <% ["A","B","C"].each_with_index do |track_name, n| %>
                    <div class="track <%= 'even' if n.zero? || n.even? %>"
                        style="--track: <%= n %>"><%= "Track #{track_name}" %></div>
                <% end %>

                <% conference_day.talks.where(show_on_timetable: true).each do |talk| %>
                  <%
                    row_start = ((talk.start_time.in_time_zone('Asia/Tokyo') - Time.zone.parse("2000-01-01 12:00")) / 60).to_i + 10
                    row_end = ((talk.end_time - talk.start_time).to_i / 60) + row_start
                  %>
                  <div class="talk"
                    slot="<%= talk.slot_number %>"
                    style="--track: <%= talk.track.number - 1 %>;
                            --duration: 60;
                            --row-start: <%= row_start %>;
                            --row-end: <%= row_end  %>;">
                    <div class="content
                                <%= 'checked' if @current_user && @profile && talks_checked?(talk.id) %>"
                                talk_id="<%= talk.id %>"
                                track_number="<%= talk.track.number %>">
                      <h6>
                          <span class="track_name">Track <%= talk.track.name %>&nbsp;</span>
                          <%= talk.start_time.strftime("%H:%M") %>-<%= talk.end_time.strftime("%H:%M") %>
                      </h6>
                      <h4><%= link_to talk.title, talk_path(id: talk.id), remote: true %></h4>
                      <h5><%= talk.speakers.map{|speaker| speaker.name }.join("/") %></h5>
                      <div class="content_caption"><br/><span>(タイトルクリックで詳細表示)</span></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>

    <section class="page-section" id="entry">
      <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-12 align-self-center">
            <% if @conference.closed? || @conference.archived?%>
              <%= render 'event/partial/buttons', conference: @conference %>
            <% else %>
              <%= render 'event/partial/speaker_entry_button', conference: @conference %>
              <%= render 'event/partial/attendee_entry_button', conference: @conference %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <!-- Speakers -->
    <% if (@conference.registered? || @conference.opened?) && @conference.attendee_entry_enabled? %>
    <section class="page-section" id="speakers">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h2 class="text-black mt-0">Speakers</h2>
            <hr class="divider  my-4" />
            <ul class="">
              <% @talks.each do |talk| %>
                <% talk.speakers.each do |speaker| %>
                  <li>
                    <%= image_tag speaker.avatar_or_dummy_url(:medium), :size => '100x100', class: "rounded-circle" %><br/>
                    <%= speaker&.name %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <% end %>

    <% if @conference.show_sponsors %>
      <section class="page-section" id="sponsors">
        <%= render 'event/partial/sponsors', conference: @conference %>
      </section>
    <% end %>

    <section class="page-section bg-primary" id="information">
      <%= render 'event/partial/information', conference: @conference %>
    </section>
  </div>
</div>
<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
