<!-- Masthead-->
<% unless home_controller? || admin_controller? %>
  <%= render partial: "layouts/event_header" %>
<% end %>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-12 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold"><%= @conference.name %></h1>
                <hr class="divider my-4" />
                <p class="text-white-75 font-weight-light">+Native 〜ともに創るクラウドネイティブの世界〜</p>
            </div>
          <div class="col-lg-12 align-self-center">
                <p class="text-white-75 font-weight-light">2020/09/08-09 オンライン開催</p>
                <p class="text-white-75 font-weight-light">参加費無料</p>
                <% if @conference.closed? %>
                  <p class="text-white-75 font-weight-light">イベントは終了しました。ご参加いただきありがとうございました</p>
                <% end %>
          </div>
          <% if @conference.closed? %>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline">
              <%= button_to 'アーカイブ視聴、資料はこちら', talks_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
            </div>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
              <%= button_to 'リンク集', links_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
            </div>
        <% else %>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
              <%= button_to '参加申し込み / ログイン', '/auth/auth0', {method: :post, class: "btn btn-primary btn-xl inline" } %>
            </div>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
              <%= button_to 'トークエントリー', speakers_entry_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
            </div>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
              <%= button_to 'タイムテーブル', timetables_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
            </div>
          <% end %>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">About</h2>
        <hr class="divider light my-4" />
        <% @conference.about.split("\n").each do |line| %>
          <p class="text-white-75 mb-4 text-center"><%= line %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="sponsors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="text-black mt-0">Sponsors</h2>
        <hr class="divider primary my-4" />

        <% @conference.sponsor_types.each do |sponsor_type| %>
          <h3 class="text-black mt-0"><%= sponsor_type.name %></h3>
          <hr class="divider primary my-4" />
          <div class="row justify-content-md-center mb-5">
            <% sponsor_type.sponsors.each do |sponsor| %>
              <% if sponsor.sponsor_attachment_logo_image.present? %>
                <div class="<%= sponsor_logo_class(sponsor_type) %>"><a href="<%= sponsor.url %>" target="_blank"><%= image_tag sponsor.sponsor_attachment_logo_image.url, class: "sponsor-logo" %></a></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-secondary" id="information">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">開催概要</h2>
                <hr class="divider light my-4" />
                <h5 class="text-white mt-0">名称</h5>
                <p class="text-white-75 mb-4 text-center"><%= @conference.name %></p>
                <h5 class="text-white mt-0">日程</h5>
                <p class="text-white-75 mb-4 text-center"><%= days %></p>
                <h5 class="text-white mt-0">会場</h5>
                <p class="text-white-75 mb-4 text-center">オンライン開催</p>
                <h5 class="text-white mt-0">主催</h5>
                <p class="text-white-75 mb-4 text-center">CloudNative Days Tokyo Committee</p>
                <h5 class="text-white mt-0">参加費</h5>
                <p class="text-white-75 mb-4 text-center">無料 (事前登録制)</p>
                <h5 class="text-white mt-0">想定来場者</h5>
                <p class="text-white-75 mb-4 text-center">インフラエンジニア SRE, アプリエンジニアなど8割以上が開発者、その他 CTO/CIO, システムインテグレーターなど</p>
                <h5 class="text-white mt-0">キーワード</h5>
                <p class="text-white-75 mb-4 text-center">CloudNative, Kubernetes, Container, Microservices, CI/CD, DevOps, Edge/NFV, AI/Machine Learning, GPU/HPC</p>
            </div>
        </div>
    </div>
</section>
