<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-12 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">CloudNative Days Tokyo 2020</h1>
                <hr class="divider my-4" />
                <p class="text-white-75 font-weight-light">+Native 〜ともに創るクラウドネイティブの世界〜</p>
            </div>
            <div class="col-lg-12 align-self-end">
                <p class="text-white-75 font-weight-light">2020/09/08-09 オンライン開催</p>
                <p class="text-white-75 font-weight-light">参加費無料</p>
            </div>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
                <%= button_to '参加申し込み / ログイン', 'auth/auth0', {method: :post, class: "btn btn-primary btn-xl inline" } %>
            </div>
            <div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
                <%= button_to 'タイムテーブル', timetables_path, {method: :get, class: "btn btn-secondary btn-xl inline" } %>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">About</h2>
                <hr class="divider light my-4" />
                <p class="text-white-75 mb-4 text-center">CloudNative Days はコミュニティ、企業、技術者が一堂に会し、クラウドネイティブムーブメントを牽引することを目的としたテックカンファレンスです。</p>

                <p class="text-white-75 mb-4 text-center">最新の活用事例や先進的なアーキテクチャを学べるのはもちろん、ナレッジの共有やディスカッションの場を通じて登壇者と参加者、参加者同士の繋がりを深め、初心者から熟練者までが共に成長できる機会を提供します。</p>

                <p class="text-white-75 mb-4 text-center">皆様がクラウドネイティブ技術を適切に選択し、活用し、次のステップに進む手助けになることを願っています。</p>

                <p class="text-white-75 mb-4 text-center">クラウドネイティブで、未来を共に創造しましょう。</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="sponsors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="text-black mt-0">Sponsors</h2>
                <hr class="divider primary my-4" />
                <h3 class="text-black mt-0">Diamond</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-4 my-3 m-md-3"><a href="https://www.ibm.com/jp-ja/cloud/cloud-native" target="_blank"><%= image_tag "sponsors/ibm.jpg", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-4 my-3 m-md-3"><a href="https://www.redhat.com/ja/global/japan#links" target="_blank"><%= image_tag "sponsors/redhat.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-4 my-3 m-md-3"><a href="https://jfrog.co.jp/" target="_blank"><%= image_tag "sponsors/jfrog.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-4 my-3 m-md-3"><a href="https://newrelic.co.jp/" target="_blank"><%= image_tag "sponsors/newrelic.png", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">Platinum</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://circleci.com/ja/" target="_blank"><%= image_tag "sponsors/circleci.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.nginx.co.jp/" target="_blank"><%= image_tag "sponsors/f5.jpg", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.oracle.com/jp/index.html" target="_blank"><%= image_tag "sponsors/oracle.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://news.microsoft.com/ja-jp/" target="_blank"><%= image_tag "sponsors/microsoft.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://cloud.google.com/anthos" target="_blank"><%= image_tag "sponsors/google.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.legalforce.co.jp/" target="_blank"><%= image_tag "sponsors/legalforce.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.suse.com/ja-jp/solutions/devops/" target="_blank"><%= image_tag "sponsors/suse.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.vmware.com/jp.html" target="_blank"><%= image_tag "sponsors/vmware.png", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">Gold</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://developers.cyberagent.co.jp/" target="_blank"><%= image_tag "sponsors/cyberagent.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.fujitsu.com/jp/" target="_blank"><%= image_tag "sponsors/fujitsu.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://sios.jp/" target="_blank"><%= image_tag "sponsors/sios.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.nttdata.com/jp/ja/" target="_blank"><%= image_tag "sponsors/nttdata.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.casareal.co.jp/" target="_blank"><%= image_tag "sponsors/casareal.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://mackerel.io" target="_blank"><%= image_tag "sponsors/hatena.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://sysdig.jp" target="_blank"><%= image_tag "sponsors/sysdig.png", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">Booth</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://jp.ubuntu.com/" target="_blank"><%= image_tag "sponsors/canonical.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://circleci.com/ja/" target="_blank"><%= image_tag "sponsors/circleci.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.nginx.co.jp/" target="_blank"><%= image_tag "sponsors/f5.jpg", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.ibm.com/jp-ja/cloud/cloud-native" target="_blank"><%= image_tag "sponsors/ibm.jpg", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://pepabo.com/" target="_blank"><%= image_tag "sponsors/gmo-pepabo.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.legalforce.co.jp/" target="_blank"><%= image_tag "sponsors/legalforce.png", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">Mini Session</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.ibm.com/jp-ja/cloud/cloud-native" target="_blank"><%= image_tag "sponsors/ibm.jpg", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">CM</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://jp.ubuntu.com/" target="_blank"><%= image_tag "sponsors/canonical.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.ibm.com/jp-ja/cloud/cloud-native" target="_blank"><%= image_tag "sponsors/ibm.jpg", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://kuroco.app/" target="_blank"><%= image_tag "sponsors/diverta.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://www.fujitsu.com/jp/" target="_blank"><%= image_tag "sponsors/fujitsu.png", class: "sponsor-logo" %></a></div>
                    <div class="col-12 col-md-3 my-3 m-md-3 sponsor-col"><a href="https://www.legalforce.co.jp/" target="_blank"><%= image_tag "sponsors/legalforce.png", class: "sponsor-logo" %></a></div>
                </div>

                <h3 class="text-black mt-0">Tool</h3>
                <hr class="divider primary my-4" />
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-2 my-3 m-md-3 sponsor-col"><a href="https://plaid.co.jp/" target="_blank"><%= image_tag "sponsors/plaid.png", class: "sponsor-logo" %></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-secondary" id="information">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">開催概要</h2>
                <hr class="divider light my-4" />
                <h5 class="text-white mt-0">名称</h5>
                <p class="text-white-75 mb-4 text-center">CloudNative Days Tokyo 2020</p>
                <h5 class="text-white mt-0">日程</h5>
                <p class="text-white-75 mb-4 text-center">2020年9月8日(火)～9日(水)</p>
                <h5 class="text-white mt-0">会場</h5>
                <p class="text-white-75 mb-4 text-center">オンライン開催</p>
                <h5 class="text-white mt-0">主催</h5>
                <p class="text-white-75 mb-4 text-center">CloudNative Days Tokyo Committee</p>
                <h5 class="text-white mt-0">参加費</h5>
                <p class="text-white-75 mb-4 text-center">無料 (事前登録制)</p>
                <h5 class="text-white mt-0">想定来場者</h5>
                <p class="text-white-75 mb-4 text-center">インフラエンジニア SRE, アプリエンジニアなど8割以上が開発者、その他 CTO/CIO, システムインテグレーターなど</p>
                <h5 class="text-white mt-0">キーワード</h5>
                <p class="text-white-75 mb-4 text-center">CloudNative, Kubernetes, Container, Microservices, CI/CD, DevOps, Edge/NFV, AI/Machine Learning, GPU/HPC</p>
            </div>
        </div>
    </div>
</section>
