<div class="a8">
  <div class="attendance">
    <% if @speaker.present? %>
      <%= h("登壇者") %>
    <% else %>
      <%= h("一般参加") %>
    <% end %>
  </div>
  <div class="detail">
    <!-- 登壇者の場合は登壇者プロフィールを使用 -->
    <% if @speaker.present? %>
      <% if @speaker.avatar_data %>
        <div class="avatar">
          <%= image_tag @speaker.avatar_url(:medium), class: "avatar-image" %>
        </div>
      <% end %>
      <%= @speaker.name %>

    <!-- 一般参加者の場合はPublicProfileを参照 -->
    <% elsif @profile.public_profile.present? %>
      <% if @profile.public_profile.avatar_data %>
        <div class="avatar">
          <%= image_tag @profile.public_profile.avatar_url(:medium), class: "avatar-image" %>
        </div>
      <% end %>
      <%= @profile.public_profile.nickname %>
    <% end %>

    <!-- PublicProfileにTwitterIdを登録していれば表示 -->
    <% if @profile.public_profile.present? %>
      <span>
      <%= image_tag('Twitter_X_Logo_Icon_Round_Black.png', width: 20, class: "x-icon") %> <%= @profile.public_profile.twitter_id %>
      </span>
    <% end %>
  </div>
  <div class="qrcode">
    <img src=<%= "data:image/png;base64,#{@profile.qrcode_image}" %> />
  </div>
</div>
