<div class='project'>
    <%= link_to 'https://eventregist.com/e/cnds2025_party', target: '_blank' do %>
        <%= image_tag 'cnds2025/networking.png' %>
    <% end %>
</div>
<!--
<div class='project'>
    <%= link_to hands_on_path do %>
        <%= image_tag 'cnds2025/handson.png' %>
    <% end %>
</div>
-->
<div class='project'>
    <%= link_to "https://cloudnativedays.jp/posts/cnds2025-lt", target: '_blank' do %>
        <%= image_tag 'cnds2025/lt.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to "https://cloudnativedays.jp/posts/cnds2025-sponser-stamp-rally", target: '_blank' do %>
        <%= image_tag 'cnds2025/stamp-rally.png' %>
    <% end %>
</div>
