<%= form_with(url: admin_sponsor_path, model: @sponsor_form, local: true, method: :patch) do |form| %>
  <h4>Sponsor's Description</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_area :description, class: "form-control", id: "descriptionInputForm", rows: "3" %>
    </div>
  </div>

  <% 2.times.each do |i| %>
    <% image = @sponsor.sponsor_attachment_key_images[i] %>
    <h4>Booth: Key Image <%= i+1 %></h4>
    <div class="form-row form-group">
      <div class="col-12 col-mb-6">
        <%= form.label "attachment_key_image_#{i+1}_title".to_sym, "Title" %>
        <%= form.text_field "attachment_key_image_#{i+1}_title".to_sym, class: "form-control", id: "attachmentTextInputForm", rows: "3" %>
      </div>
    </div>

    <div class="form-row form-group">
      <div class="col-12 col-mb-6">
        <%= form.label "attachment_key_image_#{i+1}".to_sym, "File" %>
        <%= form.file_field "attachment_key_image_#{i+1}".to_sym %>
        <%= image_tag image.file_url, class: "img-fluid" if image.present? %>
      </div>
    </div>
  <% end %>

  <h4>Booth: Text</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.label :attachment_text, "Text" %>
      <%= form.text_area :attachment_text, class: "form-control", id: "attachmentTextInputForm", rows: "3" %>
    </div>
  </div>

  <h4>Booth: Vimeo</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <% vimeo = @sponsor.sponsor_attachment_vimeo %>
      <%= form.label :attachment_vimeo, "Vimeo embed url" %>
      <%= form.text_field :attachment_vimeo, class: "form-control", id: "attachmentTextInputForm", rows: "3" %>
      <% if vimeo.present? %>
        <div class="movie-wrap">
          <iframe src="<%= vimeo.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
  </div>

  <% 3.times.each do |i| %>
    <% pdf = @sponsor.sponsor_attachment_pdfs[i] %>
    <h4>Booth: PDF <%= i+1 %></h4>
    <div class="form-row form-group">
      <div class="col-12 col-mb-6">
        <%= form.label "attachment_pdf_#{i+1}_title".to_sym, "Title" %>
        <%= form.text_field "attachment_pdf_#{i+1}_title".to_sym, class: "form-control", id: "attachmentTextInputForm", rows: "3" %>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-12 col-mb-6">
        <%= form.label "attachment_pdf_#{i+1}".to_sym, "File" %>
        <%= form.file_field "attachment_pdf_#{i+1}".to_sym %>
        <br>
        <%= link_to "Link", pdf.file_url if pdf %>
      </div>
    </div>
  <% end %>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.submit %>
    </div>
  </div>
<% end %>