<%= form_with(url: sponsors_url, model: @sponsor_form, local: true) do |form| %>

  <h4>Name</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_area :name, class: "form-control", id: "descriptionInputForm" %>
    </div>
  </div>

  <h4>Abbr</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_area :abbr, class: "form-control", id: "descriptionInputForm" %>
    </div>
  </div>

  <h4>Sponsor's Description</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_area :description, class: "form-control", id: "descriptionInputForm", rows: "3" %>
    </div>
  </div>

  <h4>URL</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_area :url, class: "form-control", id: "descriptionInputForm" %>
    </div>
  </div>

  <h4>Sponsor Speaker List</h4>
  スポンサーセッションに登壇する人のメールアドレスを入力してください（複数入力可、カンマ区切り）。Dreamkastにログインするのに使用するメールアドレスが必要です。
  例: alice@example.com,bob@example.com
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.text_field :speaker_emails, class: "form-control", id: "descriptionInputForm", rows: "3" %>
    </div>
  </div>

  <h4>Sponsor Type</h4>
  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.label :sponsor_types, "スポンサータイプ" %>*</br>
      <% @sponsor_types.each do |sponsor_type| %>
        <%= check_box_tag "sponsor[sponsor_types][]", sponsor_type.id, @sponsor.sponsor_types.map(&:id).include?(sponsor_type.id), class: 'form-check-input' %>
        <%= label sponsor_type.name.to_sym, sponsor_type.name, {class: 'form-check-label'} %><br>
      <% end %>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-12 col-mb-6">
      <%= form.label :attachment_logo_image, "スポンサーロゴ" %>
      <%= form.file_field :attachment_logo_image %>
      <%= image_tag @sponsor.sponsor_attachment_logo_image.file, class: "img-fluid" if @sponsor.sponsor_attachment_logo_image.file.present? %>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.submit %>
    </div>
  </div>
<% end %>
