<%= turbo_frame_tag "sponsor_contacts_and_invites" do %>
  <div class="tw-col-span-12">
    <h4>スポンサー担当者</h4>
    <div class="tw-flex tw-justify-end">
      <%= link_to "スポンサー担当者を招待する",
          new_admin_sponsor_contact_invite_path(sponsor_id: @sponsor.id),
          class: "tw-inline-block tw-rounded tw-border-2 tw-border-blue-600 tw-px-2 tw-py-1 tw-text-sm tw-font-bold tw-text-blue-600 hover:tw-bg-blue-600 hover:tw-text-white tw-mr-2",
          data: { turbo_frame: "modal" } %>
    </div>
  </div>
  <div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-border-t tw-py-2">
    <div class="tw-col-span-2 tw-my-auto">担当者名</div>
    <div class="tw-col-span-2 tw-my-auto">メールアドレス</div>
    <div class="tw-col-span-2 tw-my-auto">ステータス</div>
    <div class="tw-col-span-1 tw-my-auto"></div>
  </div>
  <% if !@sponsor_contacts.present? && !@sponsor_contact_invites.present? %>
    <div class="tw-col-span-12">
      スポンサー担当者は未登録です。
    </div>
  <% else %>
    <% @sponsor_contacts.each do |sponsor_contact| %>
      <%= render "sponsor_contact", sponsor_contact: sponsor_contact %>
    <% end %>
    <%= turbo_frame_tag "sponsor_contact_invite_list" do %>
      <% @sponsor_contact_invites.each do |sponsor_contact_invite| %>
        <%= render "sponsor_contact_invite", sponsor_contact_invite: sponsor_contact_invite %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
