<div class="tw-col-span-12">
  <h4>スポンサー情報</h4>
  <div class="tw-flex tw-justify-end">
    <%= link_to "編集", edit_admin_sponsor_path(id: @sponsor.id), class: "tw-inline-block tw-rounded tw-border-2 tw-border-blue-600 tw-px-2 tw-py-1 tw-text-sm tw-font-bold tw-text-blue-600 hover:tw-bg-blue-600 hover:tw-text-white tw-mr-2", data: { turbo_method: :get } %>
    <%= link_to "削除", admin_sponsor_path(id: @sponsor.id), class: "tw-inline-block tw-rounded tw-border-2 tw-border-red-600 tw-px-2 tw-py-1 tw-text-sm tw-font-bold tw-text-red-600 hover:tw-bg-red-600 hover:tw-text-white", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  </div>
</div>
<div class="tw-col-span-12">
  <h5>スポンサー名</h5>
  <%= @sponsor.name %>
</div>
<div class="tw-col-span-12">
  <h5>スポンサー略称</h5>
  <%= @sponsor.abbr %>
</div>
<div class="tw-col-span-12">
  <h5>スポンサー概要</h5>
  <%= @sponsor.description %>
</div>
<div class="tw-col-span-12">
  <h5>スポンサーURL</h5>
  <%= @sponsor.url %>
</div>
<div class="tw-col-span-12">
  <h5>ロゴ</h5>
  <% if @sponsor.sponsor_attachment_logo_image.present? %>
    <% if @sponsor.sponsor_attachment_logo_image.url.present? %>
      <%= image_tag @sponsor.sponsor_attachment_logo_image.url, class: "sponsor-logo" %>
    <% elsif @sponsor.sponsor_attachment_logo_image.file.present? %>
      <%= image_tag @sponsor.sponsor_attachment_logo_image.file_url, class: "sponsor-logo" %>
    <% end %>
  <% else %>
    <p>ロゴは未登録です。</p>
  <% end %>
</div>
