<%= turbo_frame_tag "sponsor_contacts_and_invites" do %>
  <div class="col-12 col-mb-6">
    <h4>スポンサー担当者</h4>
    <div class="d-flex justify-content-end">
      <%= link_to "スポンサー担当者を招待する",
          new_admin_sponsor_contact_invite_path(sponsor_id: @sponsor.id), 
          class: "btn btn-sm btn-outline-primary me-2",
          data: { turbo_frame: "modal" } %>
    </div>
  </div>
  <div class="row py-2 border-top">
    <div class="col-2 my-auto">担当者名</div>
    <div class="col-2 my-auto">メールアドレス</div>
    <div class="col-2 my-auto">ステータス</div>
    <div class="col-1 my-auto"></div>
  </div>
  <% if !@sponsor_contacts.present? && !@sponsor_contact_invites.present? %>
    <div class="col-12 col-mb-6">
      スポンサー担当者は未登録です。
    </div>
  <% else %>
    <% @sponsor_contacts.each do |sponsor_contact| %>
      <%= render "sponsor_contact", sponsor_contact: sponsor_contact %>
    <% end %>
    <%= turbo_frame_tag "sponsor_contact_invite_list" do %>
      <% @sponsor_contact_invites.each do |sponsor_contact_invite| %>
        <%= render "sponsor_contact_invite", sponsor_contact_invite: sponsor_contact_invite %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
