<%= render 'admin/layout' do %>
  <div class="row">
    <h2>Sponsors</h2>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Abbr</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Url</th>
      </tr>
      </thead>
      <tbody>
      <% @sponsors.each do |sponsor| %>
        <tr>
          <td><%= sponsor.abbr %></td>
          <td><%= link_to sponsor.name, admin_sponsor_path(id: sponsor.id) %></td>
          <td><%= sponsor.sponsor_types.map(&:name).join(', ') %></td>
          <td><%= sponsor.url %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
