<% provide(:title, 'スポンサー一覧') %>
<%= render 'admin/layout' do %>
  <div class="row">
    <h2>スポンサー</h2>
  </div>

  <%= turbo_frame_tag "sponsor_list" do %>
    <div class="col-4 d-flex">
      <%= link_to "登録",
                  new_admin_sponsor_path,
                  class: "btn btn-outline-primary",
                  data: { turbo_frame: "modal" }
      %>
    </div>

    <div class="row py-2 border-top">
      <div class="col-2 my-auto">Abbr</div>
      <div class="col-2 my-auto">Name</div>
      <div class="col-2 my-auto">Type</div>
      <div class="col-2 my-auto">登録済みセッション数</div>
      <div class="col-2 my-auto">Url</div>
      <div class="col-2 my-auto"></div>
    </div>
    
    <div id="sponsors">
      <% @sponsors.each do |sponsor| %>
        <%= render 'admin/sponsors/sponsor_row', sponsor: sponsor %>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag "modal" %>
  <div id="flashes" class="position-fixed bottom-0 end-0" style="margin: 0.75rem"></div>

<% end %>
