<div class="container">
  <%= render 'admin/navigator' %>

  <%= link_to 'Edit', "/admin/sponsors/#{@sponsor.id}/edit" %>

  <div class="row mb-3">
    <div class="col-10 mb-3 d-flex align-items-center">
      <h2>Sponsors > <%= @sponsor.name %></h2>
    </div>
    <div class="col-2 mb-3">
      <% if @sponsor.sponsor_attachment_logo_image.present? %>
        <%= image_tag @sponsor.sponsor_attachment_logo_image.url %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <p><%= @sponsor.description %></p>
    </div>
  </div>

  <% @sponsor.sponsor_attachment_key_images.each do |image| %>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <%= image_tag image.file_url, class: "img-fluid" %>
      </div>
    </div>
  <% end %>

  <% if @sponsor.sponsor_attachment_text.present? %>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <p><%= @sponsor.sponsor_attachment_text.text %></p>
      </div>
    </div>
  <% end %>

  <% if @sponsor.sponsor_attachment_vimeo.present? %>
    <% vimeo = @sponsor.sponsor_attachment_vimeo %>
    <div class="row mb-3">
      <div class="col-12 col-md-8">
        <h4><%= vimeo.title %></h4>
        <div class="movie-wrap">
          <iframe src="<%= vimeo.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <% end %>

  <% if @sponsor.sponsor_attachment_pdfs.size > 0 %>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <h4>PDF資料</h4>
        <ul>
          <% @sponsor.sponsor_attachment_pdfs.each do |pdf| %>
            <li><%= link_to pdf.title, pdf.file_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
