<div class="container">
    <%= render 'admin/navigator' %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-info" role="alert">
        <%= message %>
        </div>
    <% end %>

  <div class="row">
    <h2>Download TALKS to CSV</h2>
    <div class="col-12 form-group">
      <%= link_to 'download', admin_talks_path(format: :csv) %>
    </div>
  </div>

  <!-- TODO: CNDOというよりはカンファレンスのスタイルで条件分岐できるようにする -->
  <% unless @conference.abbr == 'cndo2021' %>
    <div class="row">
        <h2>Bulk insert TALKS from CSV</h2>
        <div class="col-12 form-group">
        
        <%= form_with(url: admin_bulk_insert_talks_path, multipart: true) do |form| %>
            <%= form.file_field :file %>
            <%= form.submit "インポート" %>
            ※ Bulk insertを行うと既存のレコードは全て削除されます。
        <% end %>
        </div>
    </div>
    <div class="row">
        <h2>Bulk insert TALKS-SPEAKER from CSV</h2>
        <div class="col-12 form-group">
        
        <%= form_with(url: admin_bulk_insert_talks_speaker_path, multipart: true) do |form| %>
            <%= form.file_field :file %>
            <%= form.submit "インポート" %>
            ※ Bulk insertを行うと既存のレコードは全て削除されます。
        <% end %>
        </div>
    </div>
  <% end %>

    <div class="row">
        <h2>Talks</h2>
        <table class="table table-striped talks_table" >
            <thead>
                <tr>
                    <th scope="col">Speakers</th>
                    <th scope="col">Title / Abstract</th>
                    <th scope="col">Track</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Time</th>
                    <th scope="col">Video File</th>
                    <th scope="col">Vimeo ID</th>
                    <th scope="col">Sli.do ID</th>
                    <th scope="col">On Air</th>
                </tr>
            </thead>
            <tbody>
            <%= form_with(url: admin_talks_path, local: true, id: "talk_list", method: "put") do |f| %>
              <% @talks.each do |talk| %>
                <tr>
                  <td><ul class="p-0"><% talk.speakers.each do |speaker| %><li class="speaker"><%= speaker.name %></li><% end %></ul></td>
                  <td>
                    <h5><%= talk.title %></h5>
                    <p class="abstract"><%= talk.abstract[0..30] %></p>
                  </td>
                  <td><%= talk.track.present? ? talk.track.name : "" %></td>
                  <td>
                    <%= talk.date %>
                    <% if talk.start_time.present? && talk.start_time.present? %>
                      <%= talk.start_time.strftime("%H:%M") + "-" + talk.end_time.strftime("%H:%M") %>
                    <% end %>
                  </td>
                  <td>
                    <%= talk.time %>
                  </td>
                  <td>
                    <% if talk.video.present? && talk.video.video_file.present? %>
                      <%= link_to talk.video.video_file.metadata["filename"], talk.video.video_file_url %>
                    <% end %>
                  </td>
                  <td>
                    <% video_id = talk.video ? talk.video.video_id : nil %>
                    <%= text_field_tag "video[#{talk.id}][video_id]", video_id,placeholder: "vimeo id", size: "9" %>
                  </td>
                  <td>
                    <% slido_id = talk.video ? talk.video.slido_id : nil %>
                    <%= text_field_tag "video[#{talk.id}][slido_id]", slido_id ,placeholder: "sli.do id", size: "8" %>
                  </td>
                  <td class="on_air_group btn-group-toggle">
                    <% if talk.video %>
                            <label class="btn on_air_button <%= "active" if talk.video.on_air %>">
                                <input type="checkbox" name="video[<%= talk.id %>][on_air]" class="" <%= "checked" if talk.video.on_air %> autocomplete="off" track_name=<%= talk.track_name %>>
                            </label>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<div id="transit_nav" class="p-4">
    <%= submit_tag "保存", form: "talk_list",class: "btn btn-danger transit_button" %>
    <br/><span class="text-white"> ※視聴者にも設定が配信されます</span>
</div>