<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <div class="row">
    <h2>エクスポート</h2>
    <div class="col-12 form-group d-flex">
      <%= button_to 'エクスポート(CSV)', admin_talks_path(format: :csv), {method: :get, class: 'me-2' } %>
      <%= button_to 'エクスポート(JSON, for Website)', admin_export_talks_for_website_path, {method: :get } %>
    </div>
  </div>

  <div class="row">
    <h2>Talks</h2>
    <table class="table table-striped talks_table" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">セッション属性</th>
        <th scope="col">Speakers</th>
        <th scope="col">Title / Abstract</th>
        <th scope="col">Track</th>
        <th scope="col">DateTime</th>
        <th scope="col">Time</th>
        <th scope="col">公開可否</th>
        <th scope="col">Video File</th>
        <th scope="col">Video URL</th>
      </tr>
      </thead>
      <tbody>
      <%= form_with(url: admin_talks_path, id: "talk_list", method: "put", data: { turbo_method: :post } ) do |f| %>
        <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.id %></td>
            <td>
              <div class="session-attributes-wrapper" data-talk-id="<%= talk.id %>">
                <% SessionAttribute.ordered.each do |attr| %>
                  <div class="form-check form-check-inline">
                    <%= check_box_tag "session_attributes[#{talk.id}][attribute_ids][]", 
                                      attr.id,
                                      talk.session_attributes.include?(attr),
                                      {
                                        id: "talk_#{talk.id}_attr_#{attr.id}",
                                        class: "form-check-input session-attribute-checkbox",
                                        data: { 
                                          exclusive: attr.is_exclusive?,
                                          talk_id: talk.id,
                                          attr_id: attr.id
                                        }
                                      } %>
                    <%= label_tag "talk_#{talk.id}_attr_#{attr.id}", 
                                  attr.display_name,
                                  class: "form-check-label text-sm" %>
                  </div>
                <% end %>
                <%= hidden_field_tag "session_attributes[#{talk.id}][attribute_ids][]", "" %>
              </div>
            </td>
            <td><ul class="p-0"><% talk.speakers.each do |speaker| %><li class="speaker"><%= speaker.name %></li><% end %></ul></td>
            <td>
              <h5><%= talk.title %></h5>
              <p class="abstract"><%= talk.abstract[0..30] %></p>
            </td>
            <td><%= talk.track.present? ? talk.track.name : "" %></td>
            <td>
              <%= talk.conference_day&.date %>
              <% if talk.start_time.present? && talk.start_time.present? %>
                <%= talk.start_time.strftime("%H:%M") + "-" + talk.end_time.strftime("%H:%M") %>
              <% end %>
            </td>
            <td>
              <%= talk.time %>
            </td>
            <td>
              <%= talk.proposal_item_value(VideoAndSlidePublished::LABEL)
              %>
            </td>
            <td>
              <% if talk.video&.url.present? %>
                <%= link_to 'Download', talk.video&.url %>
              <% else %>
                未提出
              <% end %>
            </td>
            <td>
              <% video_id = talk.video ? talk.video.video_id : nil %>
              <%= text_field_tag "video[#{talk.id}][video_id]", video_id,placeholder: "video url", size: "9" %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<div id="transit_nav" class="p-4">
  <%= submit_tag "保存", form: "talk_list",class: "btn btn-danger transit_button" %>
  <br/><span class="text-white"> ※視聴者にも設定が配信されます</span>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Session attribute exclusive control
  const sessionAttributeCheckboxes = document.querySelectorAll('.session-attribute-checkbox');
  
  sessionAttributeCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      const talkId = this.dataset.talkId;
      const attrId = this.dataset.attrId;
      const isExclusive = this.dataset.exclusive === 'true';
      const isChecked = this.checked;
      
      if (isExclusive && isChecked) {
        // If exclusive attribute is checked, uncheck all other attributes for this talk
        const otherCheckboxes = document.querySelectorAll(
          `.session-attribute-checkbox[data-talk-id="${talkId}"]:not([data-attr-id="${attrId}"])`
        );
        otherCheckboxes.forEach(cb => cb.checked = false);
      } else if (isChecked) {
        // If non-exclusive attribute is checked, uncheck exclusive attributes for this talk
        const exclusiveCheckboxes = document.querySelectorAll(
          `.session-attribute-checkbox[data-talk-id="${talkId}"][data-exclusive="true"]`
        );
        exclusiveCheckboxes.forEach(cb => cb.checked = false);
      }
    });
  });
  
  // Bulk operations
  function selectAttributeForAll(attributeName) {
    const checkboxes = document.querySelectorAll(
      `.session-attribute-checkbox[data-attr-name="${attributeName}"]`
    );
    checkboxes.forEach(checkbox => {
      checkbox.checked = true;
      checkbox.dispatchEvent(new Event('change'));
    });
  }
  
  function clearAllAttributes() {
    const checkboxes = document.querySelectorAll('.session-attribute-checkbox');
    checkboxes.forEach(checkbox => {
      checkbox.checked = false;
    });
  }
  
  // Make functions available globally if needed
  window.selectAttributeForAll = selectAttributeForAll;
  window.clearAllAttributes = clearAllAttributes;
});
</script>
