<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% conference.tracks.each do |track| %>
      <%= link_to track.name, admin_tracks_path(date: @date, track_name: track.name),
                  {
                    class: "nav-item nav-link #{active_track_tab?(track) ? 'active' : '' }",
                    id: "nav-#{conference_day.date}-#{track.number}-tab",
                    role: "tab",
                    'aria-controls': "nav-#{conference_day.date}-#{track.number}",
                    'aria-selected': "true"
                  }
      %>
    <% end %>
  </div>
</nav>

<table class="table table-striped talks_table" >
  <thead>
  <tr>
    <th scope="col">Talk ID</th>
    <th scope="col">Time</th>
    <th scope="col">Speakers</th>
    <th scope="col">Title</th>
    <th scope="col">On Air</th>
    <th scope="col">Recording</th>
  </tr>
  </thead>

  <tbody id="talks_table_tbody">
  <%= render 'admin/tracks/partial/talks_table', conference_day: conference_day, talks: @talks, track: @track %>
  </tbody>
</table>

※ Track video ID は On Air 状態のセッションがUIで表示された時に使われる (ライブ)<br>
※ 各セッションの Vimeo ID は Off Air 状態のセッションがUIで表示された時に使われる (アーカイブ)

<div class="row">
  <div class="col-12 mt-4">
    <h2>Download talks in this track</h2>
    <div class="col-12 form-group">
      <%= link_to 'Download CSV', admin_tracks_path(format: "csv", date: @date, track_name: @track.name), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<br><br>
<h4>以下デバッグ用の情報</h4>
<div id='debug_media_live_information'>
  <%= render 'admin/tracks/partial/debug_media_live_information' %>
</div>

<%= javascript_pack_tag 'admin/tracks/media_live.js' %>
