<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% conference.tracks.each do |track| %>
      <%= link_to track.name, admin_tracks_path(date: @date, track_name: track.name),
                  {
                    class: "nav-item nav-link #{active_track_tab?(track) ? 'active' : '' }",
                    id: "nav-#{conference_day.date}-#{track.number}-tab",
                    role: "tab",
                    'aria-controls': "nav-#{conference_day.date}-#{track.number}",
                    'aria-selected': "true"
                  }
      %>
    <% end %>
  </div>
</nav>

<%= turbo_frame_tag 'talks', src: @talks.nil? ? admin_talks_path : nil do %>
  <div class="admin-table-scroll tw-mt-4">
    <table class="admin-table talks_table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col" style="width: 200px;">Time</th>
          <th scope="col">Speakers<br/>Title</th>
          <th scope="col">On Air</th>
          <th scope="col">Recording</th>
          <th scope="col">Recording Status</th>
        </tr>
      </thead>

      <tbody id="talks_table_tbody">
        <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.id %></td>
            <td>
              <%= text_field_tag(talk.id.to_s + "_planned_start", talk.start_time.strftime('%H:%M'), {disabled: true, size: 1}) %>-
              <%= text_field_tag(talk.id.to_s + "_planned_end", talk.end_time.strftime('%H:%M'), {disabled: true, size: 1}) %>
            </td>
            <td>
              <div class="tw-text-sm tw-font-medium tw-text-gray-900"><%= talk.title %></div>
              <ul class="tw-mt-1 tw-p-0"><% talk.speakers.each do |speaker| %><li class="speaker"><%= speaker.name %></li><% end %></ul>
            </td>
            <td>
              <% if talk.video %>
                <%= render('admin/tracks/partial/on_air_button', talk: talk) %>
              <% end %>
            </td>
            <td>
              <%= turbo_frame_tag "record_button_#{talk.id}" do %>
                <%= render('admin/tracks/partial/record_button', conference: conference, talk: talk) %>
              <% end %>
            </td>
            <td>
              <% if talk.video && talk.abstract != 'intermission' %>
                <% if already_recorded?(talk) %>
                  録画済み
                <% else if talk.media_package_harvest_jobs.present? %>
                    録画中
                  <% else %>
                    未録画
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

<p class="tw-mt-4 tw-text-sm tw-text-gray-600">
  ※ Track video ID は On Air 状態のセッションがUIで表示された時に使われる (ライブ)<br>
  ※ 各セッションの Video URL は Off Air 状態のセッションがUIで表示された時に使われる (アーカイブ)
</p>

<div class="tw-mt-6">
  <h2 class="tw-mb-4 tw-text-2xl tw-font-semibold tw-text-gray-900">Download talks in this track</h2>
  <%= link_to admin_tracks_path(format: 'csv', date: @date, track_name: @track.name), class: 'tw-inline-flex tw-items-center tw-rounded-md tw-bg-blue-600 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-700' do %>
    <%= render 'admin/download_icon' %>
    <span>Download CSV</span>
  <% end %>
</div>
