<%= render 'admin/layout' do %>
  <div id="messages">
    <%= render 'admin/tracks/partial/messages' %>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <% @conference.conference_days.each do |day| %>
        <%= link_to day.date, admin_tracks_path(date: day.date.strftime("%Y-%m-%d"), track_name: @conference.tracks.first.name),
                    {
                      class: "nav-item nav-link #{active_date_tab?(day)? 'active' : ''}",
                      id: "nav-#{day.date}-tab",
                      role: "tab",
                      'aria-controls': "nav-#{day.date}",
                      'aria-selected': "true",
                    }
        %>
      <% end %>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <% @conference.conference_days.each do |day| %>
      <div class="tab-pane fade show  <%= active_date_tab?(day) ? 'active' : '' %>" id="nav-<%= day.date %>" role="tabpanel" aria-labelledby="nav-<%= day.date %>-tab">
        <%= render 'admin/tracks/tracks_nav', conference: @conference, conference_day: day %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="transit_nav" class="p-4">
  <%= form_with url: admin_update_offset_path, id: 'time' do |f| %>
    <%= f.submit("Offsetを更新", {id: "submit-offset", class: "btn transit_button" }) %>
  <% end %>
</div>

<%= javascript_pack_tag 'admin/tracks/media_live.js' %>
<%= javascript_pack_tag 'admin/tracks/tracks_control.js' %>
