<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= alert_type(message_type) %>" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <% @conference.conference_days.each do |day| %>
        <%= link_to day.date, admin_tracks_path(date: day.date.strftime("%Y-%m-%d"), track_name: @conference.tracks.first.name),
                    {
                      class: "nav-item nav-link #{active_date_tab?(day)? 'active' : ''}",
                      id: "nav-#{day.date}-tab",
                      role: "tab",
                      'aria-controls': "nav-#{day.date}",
                      'aria-selected': "true",
                    }
        %>
      <% end %>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <% @conference.conference_days.each do |day| %>
      <div class="tab-pane fade show  <%= active_date_tab?(day) ? 'active' : '' %>" id="nav-<%= day.date %>" role="tabpanel" aria-labelledby="nav-<%= day.date %>-tab">
        <% if @conference.abbr == 'cndt2021' %>
          <%= render 'admin/tracks/tracks_nav_cndt2021', conference: @conference, conference_day: day %>
        <% else %>
          <%= render 'admin/tracks/tracks_nav', conference: @conference, conference_day: day %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
