<%= form_with(url: announcement_url, model: @announcement) do |form| %>
  <section class="speaker-information tw-py-3">

    <div class="field">
      <%= form.label :publish_time, '公開日' %>*<br/>
      <%= form.datetime_select :publish_time, class: 'tw-block tw-w-full tw-rounded tw-border tw-border-gray-300 tw-px-3 tw-py-2 focus:tw-border-blue-500 focus:tw-ring-1 focus:tw-ring-blue-500' %>
    </div>
    <br/>
    <div class="field">
      <%= form.radio_button :receiver, :all_attendee, required: true %>
      <%= form.label :receiver, '全参加者に通知', value: @announcement.receiver %>
      <br/>
      <%= form.radio_button :receiver, :only_online, required: true %>
      <%= form.label :receiver, 'オンライン参加者に通知', value: @announcement.receiver %>
      <br/>
      <%= form.radio_button :receiver, :only_offline, required: true %>
      <%= form.label :receiver, '現地参加者に通知', value: @announcement.receiver %>
      <br/>
      <%= form.radio_button :receiver, :early_bird, required: true %>
      <%= form.label :receiver, '先行申込者に通知', value: @announcement.receiver %>
    </div>

    <div class="field">
      <%= form.label :body, 'アナウンス内容' %>*
      <%= form.text_area :body, class: "tw-block tw-w-full tw-rounded tw-border tw-border-gray-300 tw-px-3 tw-py-2 focus:tw-border-blue-500 focus:tw-ring-1 focus:tw-ring-blue-500", required: true %>
    </div>

    <div class="field">
      <%= form.label :publish, '公開・非公開' %>*<br/>
      <%= form.select :publish, {'非公開': 0, '公開': 1}, class: "tw-block tw-w-full tw-rounded tw-border tw-border-gray-300 tw-px-3 tw-py-2 focus:tw-border-blue-500 focus:tw-ring-1 focus:tw-ring-blue-500", required: true %>
    </div>

    <div class="actions tw-justify-center tw-py-3">
      <%= form.submit class: "tw-inline-block tw-rounded tw-bg-blue-600 tw-px-6 tw-py-3 tw-font-bold tw-text-white tw-text-lg tw-block tw-w-full hover:tw-bg-blue-700" %>
    </div>
  </section>
<% end %>
