<%= render 'admin/layout' do %>
  <h1>Announcement</h1>

  <%= link_to 'New Announcement', new_admin_announcement_path, class: "tw-inline-block tw-rounded tw-bg-blue-600 tw-px-4 tw-py-2 tw-font-bold tw-text-white hover:tw-bg-blue-700" %>

  <table class="tw-mb-4 tw-w-full tw-border tw-border-gray-200 talks_table">
    <thead class="tw-bg-gray-100">
    <tr>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Published?</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">To</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Time</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Announcement</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">送信状況</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">送信数</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">失敗数</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Deliveries</th>
      <th class="tw-border-b tw-px-4 tw-py-2 tw-text-left" scope="col">Edit</th>
    </tr>
    </thead>
    <tbody class="tw-divide-y tw-divide-gray-200">
    <% @announcements.each do |announcement| %>
      <tr class="odd:tw-bg-white even:tw-bg-gray-50">
        <td class="tw-px-4 tw-py-2">
          <div class="date"><%= announcement.publish ? '公開済み': '非公開' %></div>
        <td class="tw-px-4 tw-py-2">
          <%= announcement.profile_names %>
        </td>
        <td class="tw-px-4 tw-py-2">
          <div class="date"><%= announcement.publish_time.strftime('%Y-%m-%d %H:%M') %></div>
        </td>
        <td class="tw-px-4 tw-py-2">
          <%= simple_format announcement.body %>
        </td>
        <td class="tw-px-4 tw-py-2"><%= announcement.send_status %></td>
        <td class="tw-px-4 tw-py-2"><%= announcement.sent_count %></td>
        <td class="tw-px-4 tw-py-2"><%= announcement.failed_count %></td>
        <td class="tw-px-4 tw-py-2"><%= link_to 'View', deliveries_admin_announcement_path(id: announcement.id) %></td>
        <td class="tw-px-4 tw-py-2">
          <%= link_to'Edit', edit_admin_announcement_path(id: announcement.id) %>
          <%= link_to'Delete', admin_announcement_path(id: announcement.id), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
