<% if @conference.present? && !@conference.archived? %>
  <% if @current_user %>
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="thumbnail img-circle" src="<%= @current_user[:info][:image] %>" />
      <%= @current_user[:info][:nickname] %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if event_name && @profile.present? && @profile.id %>
        <%= link_to '登録情報変更', edit_profile_path(id: @profile.id), class: "dropdown-item" %>
      <% end %>
      <% if display_speaker_dashboard_link? %>
        <div class="dropdown-divider"></div>
        <%= link_to 'スピーカーダッシュボード', speakers_entry_path, class: "dropdown-item" %>
      <% end %>
      <% if admin? %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="<%= admin_path %>">管理画面</a>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  <% else %>
    <%= form_with(url: '/auth/auth0', local: true, data: { turbo: false }) do |form| %>
      <%= form.submit "Log in", class: "btn btn-primary btn-block btn-sm" %>
    <% end %>
  <% end %>
<% else %>
  <% if @current_user %>
    <li class="nav-item dropdown">
      <%= link_to "Menu", '#', id: "navbarDropdown", class: 'nav-link', role: "button", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if admin? %>
          <a class="dropdown-item" href="<%= admin_path %>">管理画面</a>
        <% end %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </li>
  <% else %>
    <%= form_with(url: '/auth/auth0', local: true, data: { turbo: false }) do |form| %>
      <%= form.submit "Log in", class: "btn btn-primary btn-block btn-sm" %>
    <% end %>
  <% end %>
<% end %>
