<% if @conference.present? && !@conference.archived? %>
  <% if @current_user %>
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="thumbnail img-circle" src="<%= @current_user[:info][:image] %>" />
      <%= @current_user[:info][:nickname] %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if event_name && @profile.present? && @profile.id %>
        <%= link_to '登録情報を変更する', edit_profile_path(id: @profile.id), class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <% if @profile.public_profile.present? %>
          <%= link_to '公開プロフィールを変更する', edit_public_profile_path(id: @profile.public_profile&.id), class: "dropdown-item" %>
          <% else %>
          <%= link_to '公開プロフィールを登録する', new_public_profile_path, class: "dropdown-item" %>
          <% end %>
        <div class="dropdown-divider"></div>
        <% if @profile.active_order.present? %>
          <%= link_to '参加方法を変更する', new_cancel_order_path(order_id: @profile.active_order.id), class: "dropdown-item"  %>
        <% end %>
      <% end %>
      <% if display_speaker_dashboard_link? %>
        <div class="dropdown-divider"></div>
        <%= link_to '登壇者ダッシュボード', speakers_entry_path, class: "dropdown-item" %>
      <% end %>
      <% if admin? %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="<%= admin_path %>">管理画面</a>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  <% else %>
      <li class="nav-item"><%= button_to 'Log in', '/auth/auth0', {id: 'login', method: :post, class: "btn btn-primary btn-block btn-sm" } %></li>
  <% end %>
<% else %>
  <% if @current_user %>
    <li class="nav-item dropdown">
      <%= link_to "Menu", '#', id: "navbarDropdown", class: 'nav-link', role: "button", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if admin? %>
          <a class="dropdown-item" href="<%= admin_path %>">管理画面</a>
        <% end %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </li>
  <% else %>
    <li class="nav-item"><%= button_to 'Log in', '/auth/auth0', {id: 'login', method: :post, class: "btn btn-primary btn-block btn-sm", style: "background-color: gray; border-color: grey;" } %></li>
  <% end %>
<% end %>
