<% content_for(:ogp) do%>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= full_title(@talk.title) %>" />
  <meta property="og:description" content="<%= @talk.abstract[0, 100] %>" />
  <% if @talk.speakers.length != 0 %>
    <meta property="og:image" content="<%= image_url @talk.speakers[0].avatar_or_dummy_url %>" />
  <% end %>
<% end %>
<% provide(:title, @talk.title) %>

<div class="japanese-modern-theme proposal-show">
  <div class="container">
    <% if @conference.cfp_result_visible %>
      <div class="alert alert-info mb-4">
        <%= link_to 'CFPは終了しました。採択結果はこちら', talks_path %>
      </div>
    <% end %>

    <%= render 'proposals/partial_show/col_main_pane', talk: @talk, conference: @conference %>

    <% unless @conference.cfp_result_visible %>
      <div class="proposal-related mt-5">
        <%= render 'proposals/partial_show/col_other_proposals', conference: @conference %>
      </div>
    <% end %>
  </div>
</div>

<% if current_user %>
  <script>
      window.talk_id = "<%= @talk.id %>";
      window.talk_name = "<%= @talk.title %>";
  </script>
  <%= javascript_include_tag 'talks.js' %>
<% end %>
<%= javascript_include_tag 'vote_cfp.js' %>
