<%= turbo_frame_tag stamp_rally_def do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= stamp_rally_def.type %>
    </div>
    <div class="col-4 my-auto">
      <%= stamp_rally_def.sponsor&.name %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to "編集", edit_admin_stamp_rally_def_path(event: conference.abbr, id: stamp_rally_def.id), class: "btn btn-sm btn-outline-primary me-2" %>
        <%= link_to "削除", admin_stamp_rally_def_path(event: conference.abbr, id: stamp_rally_def.id), class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
<% end %>
