<%= turbo_frame_tag stamp_rally_def do %>
  <div class="row py-2 border-top">
    <div class="col-2 my-auto">
      <%= stamp_rally_def.id %>
    </div>
    <div class="col-2 my-auto">
      <%= stamp_rally_def.type %>
    </div>
    <div class="col-2 my-auto">
      <%= stamp_rally_def.sponsor&.name %>
    </div>
    <div class="col-2 my-auto">
      <%= link_to 'QRコード', admin_qr_code_for_stamp_rally_path(id: stamp_rally_def.id), data: { turbo: false } %>
    </div>
    <div class="col-2">
      <div class="d-flex justify-content-end">
        <% p stamp_rally_def.conference %>
        <%= link_to "編集", edit_admin_stamp_rally_def_path(event: stamp_rally_def.conference.abbr, id: stamp_rally_def.id), class: "btn btn-sm btn-outline-primary me-2", data: { turbo_frame: "modal" } %>
        <%= link_to "削除", admin_stamp_rally_def_path(event: stamp_rally_def.conference.abbr, id: stamp_rally_def.id), class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
<% end %>
