
<% flash.each do |key, value| %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with(model: [:sponsor_dashboards, sponsor_speaker_invite],
              data: { action: "turbo:submit-end->modal#close" }
             ) do |form| %>
  <div class="field pb-3">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>
  <%= form.hidden_field :sponsor_id, value: sponsor.id %>
  <div class="actions">
    <%= form.submit "招待メールを送信する", data: { turbo_confirm: '本当に招待しますか？' }   %>
  </div>
<% end %>