<div class="container">
  <div class="row speaker-dashboard-form justify-content-center">
    <div class="col-12 col-lg-12 py-3 px-md-5">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
      <% end %>
      <h1 class="text-center py-3 entry">共同スピーカーに招待メールを送信する</h1>

      <%= form_with(model: @speaker_invitation) do |form| %>
        <div class="field pb-3">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control", required: true %>
        </div>

        <%= form.hidden_field :talk_id, value: @talk.id %>

        <div class="actions">
          <%= form.submit "招待メールを送信する", data: { turbo_confirm: '本当に公開しますか？' }   %>
        </div>
      <% end %>
    </div>
  </div>
</div>
