<%= render 'admin/layout' do %>
  <div class="row mb-3">
    <div class="col-10 mb-3 d-flex align-items-center">
      <h2>Video > <%= @video.id %></h2>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="registration-form py-3 px-md-5 w-100">

      <%= form_with(url: admin_video_path(id: @video.id), model: @video, local: true) do |form| %>
        <div class="form-row form-group">
          <%= form.label :video_id, "アーカイブ動画パス" %>
          <%= form.select :video_id, options_for_select(@medias, @video.video_id), {include_blank: true}, {class: "form-control"} %>
        </div>

        <div class="form-row form-group">
          <div class="col-12 col-md-6">
            <%= form.submit "Update", class: "btn btn-primary form-control"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
