<%= render 'admin/layout' do %>
  <h2 class="tw-mb-4 tw-text-2xl tw-font-semibold tw-text-gray-900">ビデオファイル提出状況</h2>

  <ul class="tw-mb-6 tw-text-sm tw-text-gray-700">
    <li>確認状況: <%= @talks.count{|talk| talk.video_registration&.confirmed? } %>/<%= @talks.size %></li>
  </ul>

  <div class="admin-table-card">
    <table class="admin-table talks_table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Statistics</th>
        </tr>
      </thead>
      <tbody>
        <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.id %></td>
            <td><%= talk.speakers.map(&:name).join(", ") %></td>
            <td><%= talk.title %></td>
            <td><%= talk.video_registration&.status_message %></td>
            <td>
              <% if talk.video_registration.present? && talk.video_registration.statistics.present?  %>
                <% JSON.parse(talk.video_registration&.statistics).each  do |k, v| %>
                  <%= k %>: <%= v %><br>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
