<div class='project'>
    <%= link_to 'https://eventregist.com/e/cndw2024_party?lang=ja_JP', target: '_blank' do %>
        <%= image_tag 'cndw2024/networking.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to hands_on_path do %>
        <%= image_tag 'cndw2024/handson.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to "https://cloudnativedays.connpass.com/event/334620/", target: '_blank' do %>
        <%= image_tag 'cndw2024/cruiser-lt.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to "https://docs.google.com/forms/d/e/1FAIpQLSdfCSpowZDE5FTh0RD-bwnu_CUlLnBHKy942cDCkWSOIOZHsg/viewform", target: '_blank' do %>
        <%= image_tag 'cndw2024/oss.png' %>
    <% end %>
</div>