<!--
<div class='project'>
    <%= link_to 'https://eventregist.com/e/cnds2024_party', target: '_blank' do %>
        <%= image_tag 'cnds2024/zenyasai.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to hands_on_path do %>
        <%= image_tag 'cnds2024/handson.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to "https://cloudnativedays.connpass.com/event/319587/" do %>
        <%= image_tag 'cnds2024/train-lt.png' %>
    <% end %>
</div>
-->