<div id="talk_<%= talk.id %>">
  <%= form_with(url: on_air_url(talk), id: "talk_list_#{talk.conference_day.date}_#{talk.track.number}", method: "post", class: "talk_list_form") do |f| %>
    <%= f.hidden_field "talk[id]", value: talk.id %>
    <%= f.hidden_field "talk[date]", value: talk.conference_day.date %>
    <%= f.hidden_field "talk[track_name]", value: talk.track.name %>
    <div class="on_air_group btn-group-toggle">
      <%= f.submit talk.video.on_air ? 'OnAir中' : 'Waiting',
                   id: "button_#{talk.id}",
                   class: "btn btn-#{talk.video.on_air? ? 'danger' : 'secondary'} on_air_button #{talk.video.on_air ? 'active' : ''}",
                   autocomplete: "off",
                   track_name: talk.track.name,
                   talk_id: talk.id,
                   data: { turbo_confirm: confirm_message(talk) }
      %>
    </div>
  <% end %>
</div>
