<% talks.each do |talk| %>
  <tr>
    <td><%= talk.id %></td>
    <td><%= talk.start_to_end %></td>
    <td><ul class="p-0"><% talk.speakers.each do |speaker| %><li class="speaker"><%= speaker.name %></li><% end %></ul></td>
    <td><h5><%= talk.title %></h5></td>
    <td >
      <% if talk.video %>
        <%= form_with(url: on_air_url(talk), id: "talk_list_#{conference_day.date}_#{track.number}", method: "post", class: "talk_list_form") do |f| %>
          <%= f.hidden_field "talk[id]", value: talk.id %>
          <%= f.hidden_field "talk[date]", value: conference_day.date %>
          <%= f.hidden_field "talk[track_name]", value: talk.track.name %>
          <div class="on_air_group btn-group-toggle">
            <%= f.submit talk.video.on_air ? 'OnAir中' : 'Waiting',
                         id: "button_#{talk.id}",
                         class: "btn btn-#{talk.video.on_air? ? 'danger' : 'secondary'} on_air_button #{talk.video.on_air ? 'active' : ''}",
                         autocomplete: "off",
                         track_name: talk.track.name,
                         talk_id: talk.id,
                         data: { confirm: confirm_message(talk), type: "script" }
            %>
          </div>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if talk.abstract != 'intermission' %>
        <%= link_to "録画する", new_admin_harvest_job_path(talk_id: talk.id) %>
      <% end %>
    </td>
    <td>
      <% if talk.video && talk.abstract != 'intermission' %>
        <% if !waiting_to_stop?(talk) && already_recorded?(talk) %>
          <div class="btn btn-primary">録画済み</div>
        <% else %>
        未録画
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
