<div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-mb-2">
  <div class="tw-col-span-10 tw-flex tw-items-center">
    <h2>配信用AWSリソース詳細</h2>
  </div>
</div>

<% @tracks.each do |track| %>
  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <div class="tw-col-span-10">
      <h3>Track <%= track.name %>: リソース詳細</h3>
    </div>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4">
    <div class="tw-col-span-12">
      <table class="tw-mb-4 tw-w-full tw-border tw-border-gray-200">
        <tbody class="tw-divide-y tw-divide-gray-200">
        <tr class="odd:tw-bg-white even:tw-bg-gray-50">
          <td class="tw-px-4 tw-py-2">Track ID</td><td class="tw-px-4 tw-py-2"><%= track.id %></td>
        </tr>
        <tr class="odd:tw-bg-white even:tw-bg-gray-50">
          <td class="tw-px-4 tw-py-2">MediaPackage V2 ChannelGroup</td><td class="tw-px-4 tw-py-2"><%= track.streaming&.media_package_v2_channel_group&.name %></td>
        </tr>
        <tr class="odd:tw-bg-white even:tw-bg-gray-50">
          <td class="tw-px-4 tw-py-2">MediaPackage Channel</td><td class="tw-px-4 tw-py-2"><%= track.streaming&.media_package_channel&.channel_id %></td>
        </tr>
        <tr class="odd:tw-bg-white even:tw-bg-gray-50">
          <td class="tw-px-4 tw-py-2">MediaLive Channel</td><td class="tw-px-4 tw-py-2"><%= track.streaming&.media_live_channel&.channel_id %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
