<h2 class="tw-mb-4 tw-text-2xl tw-font-semibold tw-text-gray-900">配信用AWSリソース詳細</h2>

<% @tracks.each do |track| %>
  <h3 class="tw-mb-2 tw-text-lg tw-font-semibold tw-text-gray-900">Track <%= track.name %>: リソース詳細</h3>

  <div class="admin-table-card tw-mb-4">
    <table class="admin-table">
      <tbody>
        <tr>
          <td>Track ID</td><td><%= track.id %></td>
        </tr>
        <tr>
          <td>MediaPackage V2 ChannelGroup</td><td><%= track.streaming&.media_package_v2_channel_group&.name %></td>
        </tr>
        <tr>
          <td>MediaPackage Channel</td><td><%= track.streaming&.media_package_channel&.channel_id %></td>
        </tr>
        <tr>
          <td>MediaLive Channel</td><td><%= track.streaming&.media_live_channel&.channel_id %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
