<%= render 'admin/layout' do %>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <%= link_to 'リソース管理', admin_streamings_path(tab: 'default'),
                    {
                      class: "nav-item nav-link #{@tab == 'default' ? 'active' : ''}",
                      id: "nav-default-tab",
                      role: "tab",
                      'aria-controls': "nav-default",
                      'aria-selected': "true",
                    }
        %>

      <%= link_to '配信確認', admin_streamings_path(tab: 'preview'),
                    {
                      class: "nav-item nav-link #{@tab == 'preview' ? 'active' : ''}}",
                      id: "nav-preview-tab",
                      role: "tab",
                      'aria-controls': "nav-preview",
                      'aria-selected': "true",
                    }
        %>

      <%= link_to 'リソース詳細', admin_streamings_path(tab: 'details'),
                    {
                      class: "nav-item nav-link #{@tab == 'details' ? 'active' : ''}}",
                      id: "nav-details-tab",
                      role: "tab",
                      'aria-controls': "nav-details",
                      'aria-selected': "true",
                    }
      %>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <% if @tab == 'default' %>
      <div class="tab-pane fade show active" id="nav-default" role="tabpanel" aria-labelledby="nav-default-tab">
        <%= render 'admin/streamings/default' %>
      </div>
    <% end %>

    <% if @tab == 'preview' %>
      <div class="tab-pane fade show active" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
        <%= render 'admin/streamings/preview' %>
      </div>
    <% end %>

    <% if @tab == 'details' %>
      <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
        <%= render 'admin/streamings/details' %>
      </div>
    <% end %>
  </div>
<% end %>
