<div class="container">
  <h1 class="my-3 text-center">スピーカー</h1>
    <% @speakers.each_slice(3) do |sliced_speakers| %>
      <div class="row">
        <% sliced_speakers.each do |speaker| %>
          <div class="col-12 col-md-4 py-3">
          <div class="card h-100">
            <div class="avatar text-center">
            <% if speaker.avatar_url.nil? %>
                <%= image_tag 'dummy.png', :size => '80x80'  %>
            <% else %>
                <%= image_tag speaker.avatar_url, :size => '80x80'  %>
            <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= speaker.name %>
                <%= link_to image_tag("Twitter_Social_Icon_Circle_Color.png", width: 20), "https://twitter.com/#{speaker.twitter_id}" if speaker.twitter_id.present? %>
                <%= link_to image_tag("GitHub-Mark-64px.png", width: 20), "https://github.com/#{speaker.github_id}" if speaker.github_id.present? %>
              </h5>
              <h6 class="card-subtitle text-muted mb-1">
                <%= speaker.company if speaker.company != "" %>
              </h6>
              <h6 class="card-subtitle text-muted mb-1">
                <%= speaker.job_title if speaker.job_title != "" %>
              </h6>
                
              <% if speaker.profile != "" %>
                <p class="card-text"><%= speaker.profile %></p>
              <% end %>

              <%  %>
            </div>
          </div>
          </div>
        <% end %>
    </div>
    <% end %>
</div>
<% @message_box = "素晴らしい登壇者が勢揃い！" %>