<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Speakers</h1>
  <div class="card-deck">
    <% @speakers.each_slice(3) do |sliced_speakers| %>
      <div class="row py-3">
        <% sliced_speakers.each do |speaker| %>
          <div class="card">
            <% unless speaker.avatar_url.nil? %>
              <div class="avatar text-center">
                <%= image_tag speaker.avatar_url, :size => '90x90'  %>
              </div>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= speaker.name %></h5>
              <% if speaker.profile != "" %>
                <p class="card-text">Profile: <%= speaker.profile %></p>
              <% end %>
              <% if speaker.company != "" %>
                <p class="card-text">Company: <%= speaker.company %></p>
              <% end %>
              <% if speaker.job_title != "" %>
                <p class="card-text">Job Title: <%= speaker.job_title %></p>
              <% end %>
              <% if speaker.twitter_id != "" %>
                <p class="card-text">Twitter: <%= speaker.twitter_id %></p>
              <% end %>
              <% if speaker.github_id != "" %>
                <p class="card-text">Github: <%= speaker.github_id %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

