<p id="notice"><%= notice %></p>

<div class="container py-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @speaker.name %></h5>
      <p class="card-text">Profile: <%= @speaker.profile %></p>
      <p class="card-text">Company: <%= @speaker.company %></p>
      <p class="card-text">Job Title: <%= @speaker.job_title %></p>
      <p class="card-text">Twitter: <a href="https://twitter.com/<%= @speaker.twitter_id %>"><%= @speaker.twitter_id %></a></p>
      <p class="card-text">Github: <a href="https://github.com/<%= @speaker.github_id %>"><%= @speaker.github_id %></a></p>
    </div>
  </div>
</div>
