<p id="notice"><%= notice %></p>

<div class="container py-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @speaker.name %></h5>
      <% if @speaker.avatar_url.nil? %>
        <%= image_tag "dummy.png", :size => '90x90'  %>
      <% else %>
        <%= image_tag @speaker.avatar_url, :size => '90x90'  %>
      <% end %>
      <% if @speaker.profile != "" %>
        <p class="card-text">Profile: <%= @speaker.profile %></p>
      <% end %>
      <% if @speaker.company != "" %>
        <p class="card-text">Company: <%= @speaker.company %></p>
      <% end %>
      <% if @speaker.job_title != "" %>
        <p class="card-text">Job Title: <%= @speaker.job_title %></p>
      <% end %>
      <% if @speaker.twitter_id != "" %>
        <p class="card-text">Twitter: <a href="https://twitter.com/<%= @speaker.twitter_id %>"><%= @speaker.twitter_id %></a></p>
      <% end %>
      <% if @speaker.github_id != "" %>
        <p class="card-text">Github: <a href="https://github.com/<%= @speaker.github_id %>"><%= @speaker.github_id %></a></p>
      <% end %>
    </div>
  </div>
</div>
