<div class="row">
  <div class="col-10">
    <h3>Track毎の配信用リソース一覧</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped talks_table" >
      <thead>
      <tr>
        <th scope="col">Track</th>
        <th scope="col">リソース</th>
        <th scope="col">一括作成</th>
        <th scope="col">一括削除</th>
      </tr>
      </thead>
      <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td>
            <%= track.name %>
          </td>
          <td>
            <%= form_with(url: admin_bulk_create_ivs_path, model: @ivs, local: true) do |form| %>
              <%= form.submit "配信用リソースを一括作成", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td>
            <%= form_with(url: admin_bulk_create_ivs_path, model: @ivs, local: true) do |form| %>
              <%= form.submit "配信用リソースを一括削除", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
