<%= render 'admin/layout' do %>
  <div class="row mb-3">
    <div class="col-10 mb-3 d-flex align-items-center">
      <h2>Live Stream IVS</h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-10 mb-3 d-flex align-items-center">
      <%= form_with(url: admin_bulk_create_ivs_path, model: @ivs, local: true) do |form| %>
        <%= form.submit '各トラック毎のIVSを作成(未作成の場合のみ作ります)', class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-10 mb-3 d-flex align-items-center">
      <div class="col-12 form-group">
        <%= link_to 'Download IVS Resources as json', admin_live_stream_ivs_path(format: :json), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <h3>Track毎のIVS一覧</h3>

  <%= form_with(url: admin_bulk_delete_ivs_path, model: @ivs, local: true) do |form| %>
    <table class="table table-striped talks_table" >
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Track</th>
        <th scope="col">Name</th>
        <th scope="col">ARN</th>
      </tr>
      </thead>
      <tbody>
      <% @ivss_for_tracks.each do |ivs| %>
        <tr>
          <td>
            <input type="checkbox" name="ivs[<%= ivs.id %>]">
          </td>

          <td><%= ivs.track.name %></td>
          <td><%= ivs.name %></td>
          <td><%= ivs.channel_arn %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= form.submit '選択したIVSを削除する', class: "btn btn-danger" %>
  <% end %>

  <br>

  <h3>Talk毎のIVS一覧</h3>

  <%= form_with(url: admin_bulk_delete_ivs_path, model: @ivs, local: true) do |form| %>
    <table class="table table-striped talks_table" >
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Talk</th>
        <th scope="col">Name</th>
        <th scope="col">ARN</th>
      </tr>
      </thead>
      <tbody>
      <% @ivss_for_talks.each do |ivs| %>
        <tr>
          <td>
            <input type="checkbox" name="ivs[<%= ivs.id %>]">
          </td>

          <td><%= ivs.talk.id %></td>
          <td><%= ivs.name %></td>
          <td><%= ivs.channel_arn %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= form.submit '選択したIVSを削除する', class: "btn btn-danger" %>
  <% end %>

<% end %>
