<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light navbar-scrolled sticky-top" id="mainNav">
  <div class="container">
    <% if @conference %>
      <%= link_to "#{root_url}#{event_name}", class: "navbar-brand js-scroll-trigger", data: {"turbolinks" => false} do %>
        <% if FileTest.exist?("#{Rails.root}/app/assets/images/#{@conference.abbr}/header_logo.png") %>
          <%= image_tag "#{@conference.abbr}/header_logo.png", class: "img-fluid header_logo" %>
        <% else %>
          <p><%= @conference.name %></p>
        <% end %>
      <% end %>
    <% end %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 align-items-center">
        <% unless event_name.nil? %>

          <% if display_sponsor_guideline_url? %>
            <li class="nav-item"><%= link_to "スポンサー募集中！", @conference.sponsor_guideline_url, class: "nav-link js-scroll-trigger", target: '_blank' %></li>
          <% end %>

          <% if display_dashboard_link? %>
            <li class="nav-item"><%= link_to "Dashboard", dashboard_path, class: "nav-link js-scroll-trigger" %></li>
          <% end %>

          <% unless controller_name == "profiles" && (action_name == "new" || action_name == "create") %>
            <% if display_proposals? %>
              <li class="nav-item"><%= link_to "プロポーザル一覧", proposals_path, class: "nav-link js-scroll-trigger" %></li>
            <% end %>

            <% if display_talks? %>
              <li class="nav-item dropdown">
                <% if display_timetable? %>
                <li class="nav-item"><%= link_to "参加者", "/#{@conference.abbr}/attendees", class: "nav-link js-scroll-trigger" %></li>
                <li class="nav-item"><%= link_to "タイムテーブル", timetables_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false} %></li>
                <% end %>
                <li class="nav-item"><%= link_to "セッション一覧", talks_path, class: "nav-link js-scroll-trigger" %></li>
                <li class="nav-item"><%= link_to "Grafana", o11y_path, class: "nav-link js-scroll-trigger" %></li>
              </li>
            <% end %>

            <% case event_name %>
            <% when 'cndt2023' %>
              <li class="nav-item"><%= link_to "企画一覧", "#{root_url}#{event_name}#project-list", class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% end %>

            <% if display_contact_url? %>
              <li class="nav-item"><%= link_to "お問い合わせ", @conference.contact_url, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}, target: :_blank, rel: "noopener noreferrer" %></li>
            <% end %>
          <% end %>
        <% end %>
        <li class="nav-item dropdown">
          <%= render(partial: "layouts/partial/login_button") %>
        </li>
      </ul>
    </div>
  </div>
</nav>
