<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light navbar-scrolled" id="mainNav">
  <div class="container">
    <% if @conference %>
      <%= link_to "#{root_url}#{event_name}", class: "navbar-brand js-scroll-trigger", data: {"turbolinks" => false} do %>
        <% if FileTest.exist?("#{Rails.root}/app/assets/images/#{@conference.abbr}_header_logo.png") %>
          <%= image_tag 'cndt2020_header_logo.png', class: "img-fluid header_logo" %>
        <% else %>
          <p><%= @conference.name %></p>
        <% end %>
      <% end %>
    <% end %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 align-items-center">
        <% unless event_name.nil? %>
          <% unless controller_name == "profiles" && (action_name == "new" || action_name == "create") %>
            <% if @conference.present? && @conference.opened? %>
              <li class="nav-item"><%= link_to "Booths", booths_path, class: "nav-link js-scroll-trigger" %></li>
            <% end %>

            <% if event_name == 'cndt2020' %>
              <li class="nav-item dropdown">
                <%= link_to "Timetable", '#', id: "navbarDropdown", class: 'nav-link', role: "button", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Timetable', timetables_path, class: "dropdown-item", data: {"turbolinks" => false}%>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'セッションリスト', talks_path, class: "dropdown-item", data: {"turbolinks" => false} %>
                </div>
              </li>

              <li class="nav-item"><%= link_to "Speakers", speakers_path, class: "nav-link js-scroll-trigger" %></li>
              <li class="nav-item"><%= link_to "Discussion Board", discussion_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Kontest", kontest_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Links", links_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false} %></li>
            <% end %>
          <% end %>
        <% end %>
        <li class="nav-item dropdown">
          <% if @current_user %>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="thumbnail img-circle" src="<%= @current_user[:info][:image] %>" />
              <%= @current_user[:info][:nickname] %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if event_name && @profile.present? && @profile.id %>
                <%= link_to '登録情報変更', edit_profile_path(id: @profile.id), class: "dropdown-item" %>
              <% end %>
              <% if controller_name != "event" && admin? %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin">管理画面</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          <% else %>
              <li class="nav-item"><%= button_to 'Log in', '/auth/auth0', {method: :post, class: "btn btn-primary btn-block btn-sm" } %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
