<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light navbar-scrolled sticky-top" id="mainNav">
  <div class="container">
    <% if @conference %>
      <%= link_to "#{root_url}#{event_name}", class: "navbar-brand js-scroll-trigger", data: {"turbolinks" => false} do %>
        <% if FileTest.exist?("#{Rails.root}/app/assets/images/#{@conference.abbr}/header_logo.png") %>
          <%= image_tag "#{@conference.abbr}/header_logo.png", class: "img-fluid header_logo" %>
        <% else %>
          <p><%= @conference.name %></p>
        <% end %>
      <% end %>
    <% end %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 align-items-center">
        <% unless event_name.nil? %>
          <% if @conference && (@conference.registered? || @conference.opened?) && @conference.attendee_entry_enabled? %>
            <% if logged_in? && @profile.present? %>
              <li class="nav-item"><%= link_to "Dashboard", dashboard_path, class: "nav-link js-scroll-trigger" %></li>
            <% end %>
          <% end %>
          <% unless controller_name == "profiles" && (action_name == "new" || action_name == "create") %>
            <% if @conference.present? && @conference.speaker_entry_enabled? %>
              <li class="nav-item"><%= link_to "プロポーザル一覧", talks_path, class: "nav-link js-scroll-trigger" %></li>
            <% elsif %>
              <li class="nav-item dropdown">
                <% if @conference.present? &&  @conference.show_timetable_enabled? %>
                <li class="nav-item"><%= link_to "参加者一覧", "/#{@conference.abbr}/attendees", class: "nav-link js-scroll-trigger" %></li>
                <li class="nav-item"><%= link_to "タイムテーブル", timetables_path, class: "nav-link js-scroll-trigger" %></li>
                <% end %>
                <li class="nav-item"><%= link_to "セッション一覧", talks_path, class: "nav-link js-scroll-trigger" %></li>
                <li class="nav-item"><%= link_to "Grafana", o11y_path, class: "nav-link js-scroll-trigger" %></li>
              </li>
            <% end %>

            <% case event_name %>
            <% when 'cndt2020' %>
              <li class="nav-item"><%= link_to "Speakers", speakers_path, class: "nav-link js-scroll-trigger" %></li>
              <li class="nav-item"><%= link_to "Discussion Board", discussion_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Kontest", kontest_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Links", links_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false} %></li>
            <% when 'cicd2021' %>
              <li class="nav-item"><%= link_to "Discussion Board", discussion_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Hands-on (Co-located)", hands_on_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% when 'cndt2021' %>
              <li class="nav-item"><%= link_to "Team", team_path, class: "nav-link js-scroll-trigger" %></li>
              <li class="nav-item"><%= link_to "Hands-on (Co-located)", hands_on_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
              <li class="nav-item"><%= link_to "Job Board", job_board_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% when 'o11y2022' %>
              <li class="nav-item"><%= link_to "Committee", team_path, class: "nav-link js-scroll-trigger" %></li>
              <li class="nav-item"><%= link_to "Hands-on (Co-located)", hands_on_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% when 'cndt2022' %>
              <% if logged_in? && @profile.present? %>
                <li class="nav-item"><%= link_to "Whiteboard", 'https://miro.com/app/board/uXjVPWsauOI=/', class: "nav-link js-scroll-trigger", target: :_blank, rel: "noopener noreferrer" %></li>
              <% end %>
              <li class="nav-item"><%= link_to "Hands-on (Co-located)", hands_on_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% when 'cicd2023' %>
              <li class="nav-item"><%= link_to "Hands-on (Co-located)", hands_on_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% when 'cndf2023' %>
              <li class="nav-item"><%= link_to "Attendee List", attendees_path, class: "nav-link js-scroll-trigger", data: {"turbolinks" => false}  %></li>
            <% end %>
          <% end %>
        <% end %>
        <li class="nav-item dropdown">
          <%= render(partial: "layouts/partial/login_button") %>
        </li>
      </ul>
    </div>
  </div>
</nav>
