<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:site_name" content="<%= Conference.find(1).name %>" />
    
    <% if yield(:ogp).size == 0 %>
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
      <meta property="og:image" content="<%= image_url('trademark.png') %>" />
      <meta property="og:description" content="CloudNative Days はコミュニティ、企業、技術者が一堂に会し、クラウドネイティブムーブメントを牽引することを目的としたテックカンファレンスです。" />
    <% else %>
      <%= yield(:ogp) %>
    <% end %>
    <meta property="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cloudnativedays" />

    <%= render partial: "layouts/karte" %>
</head>

<body id="page-top">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=300575407747858&autoLogAppEvents=1" nonce="G1Hsaf0L"></script>
<div id="wrapper">
  <% unless home_controller? || admin_controller? %>
    <%= render partial: "layouts/event_header" %>
  <% end %>

  <%= yield %>

  <footer class="bg-light py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <ul class="justify-content-md-center">
            <li class="text-center"><%= link_to "プライバシーポリシー", "/cndt2020/privacy", class: "text-muted" %></li>
            <li class="text-center"><%= link_to "行動規範", "/cndt2020/coc", class: "text-muted" %></li>
          </ul>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="small text-center text-muted">© CloudNative Days Tokyo 2020 (Secretariat by Impress Corporation)</div>
        </div>
      </div>
    </div>
  </footer>

  <% if @current_user %>
    <div id="message_icon">
      <%= image_tag  "trademark.png" %>
    </div>
    <%= message_box.html_safe %>
  <% end %>

</div>
</body>

</html>
