<!DOCTYPE html>
<html>

<head>
    <title>CNDT 2020</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: "layouts/karte" %>
</head>

<body id="page-top">

<% unless home_controller? || admin_controller? %>
  <%= render partial: "layouts/event_header" %>
<% end %>

<%= yield %>

<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">© CloudNative Days Tokyo 2020 (Secretariat by Impress Corporation)</div>
  </div>
</footer>

</body>

</html>
