<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://use.typekit.net/ntd4lbp.css">
    <%= stylesheet_pack_tag event_js_path, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag event_js_path, 'data-turbolinks-track': 'reload' %>

    <meta property="og:site_name" content="<%= site_name %>" />
    
    <% if yield(:ogp).size == 0 %>
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
      <meta property="og:image" content="<%= event_image_url %>" />
      <meta property="og:description" content="CloudNative Days はコミュニティ、企業、技術者が一堂に会し、クラウドネイティブムーブメントを牽引することを目的としたテックカンファレンスです。" />
    <% else %>
      <%= yield(:ogp) %>
    <% end %>
    <meta property="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cloudnativedays" />

    <%= render partial: "layouts/karte" %>
    <%= render partial: "layouts/analytics" %>
</head>

<body id="page-top">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=300575407747858&autoLogAppEvents=1" nonce="G1Hsaf0L"></script>
<div id="wrapper">
  <% unless home_controller? %>
    <%= render partial: "layouts/event_header" %>
  <% end %>

  <%= yield %>

  <% if event_name %>
    <footer class="bg-light py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <ul class="justify-content-md-center">
            <li class="text-center"><%= link_to "プライバシーポリシー", "/#{event_name}/privacy", class: "text-muted" %></li>
            <li class="text-center"><%= link_to "行動規範", "/#{event_name}/coc", class: "text-muted" %></li>
          </ul>
        </div>

      </div>
      <% if @conference %>
        <div class="row">
          <div class="col-12">
            <div class="small text-center text-muted"><%= @conference.copyright %></div>
          </div>
        </div>
      <% end %>
    </div>

  </footer>
  <% end %>

  <% if @current_user && @conference&.abbr == 'cndt2020'%>
    <div id="message_icon">
      <%= image_tag  "trademark.png" %>
    </div>
    <%= message_box.html_safe %>
  <% end %>

</div>
</body>

</html>
